<!DOCTYPE html>
<html lang="en">
<link rel="icon" type="image/x-icon" href="/images/favicon.ico">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/tailwind.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.css" rel="stylesheet" />

    <script src="{{ url_for('static', filename='../static/vendor/flowbite.min.js') }}"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.11.1/dist/cdn.min.js"></script>
    <script defer src="{{ url_for('static', filename='vendor/cdn.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" type="png" href="{{ url_for('static', filename='img/logo.png') }}">
    <title>About Us</title>
</head>

<body>
    {% include 'layout/header.html' %}
    <div class="px-[1rem] md:px-[4rem]">
        <div class="">
            <div id="map" class=" w-full mr-8 h-screen"></div>
        </div>
        <div>
            <div class=" flex flex-col space-y-4">
                <p class="border-b mt-4 py-4 font-semibold text-xl text-center">About US</p>
                <div class=" flex flex-col space-y-4 break-words">
                    <p>
                        <b>Swiss Luxury</b>  is one of the most trusted and globally recognized dealer for luxury watches. The company provides prestige high-end luxury watches to the more affordable entry level brands. The company that loyal customers will continue to turn to for all their high-end watch needs.
To achieve our goal, we will educate and encourage our clients to think like investors when purchasing a luxury watch. Regardless of what the rest of the industry is doing, we will always be honest and transparent with our clients, so that they become customers for life.
                    </p>
                    <div class="flex flex-col space-y-2">
                        <p class="text-2xl">Buying a luxury watch online is now easier than ever!</p>
                        <p>
                            Have a look at our wide collection of premium products and buy <b>luxury watches</b> at an unbeatable price. Shop for your favorite watch from any device and get our product delivered to your doorsteps with a single tap. You don’t have to worry about the authenticity of our products as we only provide 100% genuine luxury watches to our customers. With us, you never have to second guess or worry about your purchase. We will keep you updated about your order and also provide a money-back guarantee. Here are some reasons why you should buy luxury watches from Swiss Luxury Watches
                        </p>
                    </div>
                    <div class="flex flex-col space-y-2">
                        <p class="text-2xl">Authentic Products
                        </p>
                        <p>
                            You will only find genuine products at our store. We take pride in serving our customers with only the best of what various international brands have to offer. All our products are further passed by a quality assurance check to make sure you have an unmatched shopping experience.
                        </p>
                    </div>
                    <div class="pb-16 flex flex-col space-y-2">
                        <p class="text-2xl">Free Shipping
                        </p>
                        <p>
                            We know how much a few shoppers despise that extra delivery cost. When you buy luxury watches from us, you never have to pay an extra amount for shipping. We provide complimentary overnight shipping on our products. Also, we will share tracking details with you so that you can stay updated regarding your purchase.
                        </p>
                        <p>
                            So what are you waiting for? Go ahead and browse our wide range of products to buy luxury watches of your choice. From a personal style statement to a memorable present, these premium watches will certainly be a timeless possession for everyone.
                        </p>
                    </div>

                </div>
            </div>
            
        </div>
    </div>



    {% include 'layout/footer.html' %}
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdfipYKTyWEiJXhGSRos_HxVAaEcUQyuw&callback=initMap">
        </script>
    <script>
        var maCarte;
        function initMap() {
            maCarte = new google.maps.Map(document.getElementById('map'), {
                center: { lat: 47.37553463273148, lng: 8.521813271164001 },
                zoom: 15
            });
            new google.maps.Marker({
                position: { lat: 47.37553463273148, lng: 8.521813271164001 },
                maCarte,
                title: "Swiss Luxury Watches",
            });
        }
        function initMap() {
            const myLatLng = { lat: 47.37553463273148, lng: 8.521813271164001 };
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 15,
                center: myLatLng,
            });

            new google.maps.Marker({
                position: myLatLng,
                map,
                title: "Swiss Luxury Watches",
            });
        }

        window.initMap = initMap;

    </script>
</body>

</html>