<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/tailwind.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.11.1/dist/cdn.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>


    <title>Cart - Luxury Watches Swiss</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

        [x-cloak] {
            display: none !important;
            --first-color: hsl(31, 100%, 70%);
        }
    </style>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
        body{
           font-family:  'PT Sans' ;
        }
    </style>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
    
            if (JSON.parse(window.localStorage.getItem('productListToCheckOut')).length === 0) {
                document.getElementById('body').innerHTML = ''
                location.replace("{{ url_for('shop_cart') }}")
            }
            console.log(JSON.parse(window.localStorage.getItem('productListToCheckOut')))
    
            var $template2 = $("#invisible_template").clone();
            
            for (let x of JSON.parse(window.localStorage.getItem('productListToCheckOut'))) {
                $('<input>').attr('type','hidden').attr('name','products').val(x.image + "####" + x.name  + "####" + x.quantity + "####" + x.price ).appendTo('#invisible');
            }
    
        });
    
    </script>
</head>

<body class="text-['Roboto']" id="body">
    <div class="md:mx-[4rem] mt-10 ">
        <div class="flex justify-center items-center border-b border-gray-200 mx-12 pb-8">
            <a href="/" class="">
                <img src="{{ url_for('static', filename='img/logo.png') }}" class="h-20 ml-[4rem]" alt="Logo" />
            </a>
        </div>
        <div>
            <nav class="flex justify-center items-center mt-8" aria-label="Breadcrumb">
                <ol class="inline-flex items-center space-x-1 md:space-x-3">
                    <li class="inline-flex items-center">
                        <a href="{{ url_for('shop_cart') }}"
                            class="inline-flex items-center md:text-3xl font-medium text-gray-500 hover:text-[var( --first-color: hsl(31, 100%, 70%))] dark:text-gray-400 dark:hover:text-white">
                            Shopping Cart
                        </a>
                    </li>
                    <li>
                        <div class="flex items-center">
                            <svg aria-hidden="true" class="w-6 h-6 text-gray-400" fill="currentColor"
                                viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                    clip-rule="evenodd"></path>
                            </svg>
                            <a href="#"
                                class="ml-1 md:text-3xl font-medium text-orange-400 dark:text-gray-400 dark:hover:text-white">Checkout
                                details</a>
                        </div>
                    </li>
                    <li aria-current="page">
                        <div class="flex items-center">
                            <svg aria-hidden="true" class="w-6 h-6 text-gray-400" fill="currentColor"
                                viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                    clip-rule="evenodd"></path>
                            </svg>
                            <span class="ml-1 md:text-3xl font-medium text-gray-500  dark:text-gray-400">Order
                                Complete</span>
                        </div>
                    </li>
                </ol>
            </nav>
        </div>

        <form action="{{url_for("complete")}}" method="POST" id="myform">
            <div class="grid grid-cols-1 md:grid-cols-8  my-10">
                <div class="space-y-6 col-span-5 bg-white pb-10 border-t-2 border-gray-200 px-6 md:px-0 sm:mr-6">
                    <h1 class="uppercase my-4 font-bold text-gray-700">BILLING DETAILS</h1>
                    <div>
                        <input type="email" name="email" id="" placeholder="Email adress" required
                            class="w-full border-gray-200 shadow text-sm  text-gray-500">
                    </div>
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-x-6">
                        <input type="text" name="firstName" id="" placeholder="First name" required
                            class="w-full border-gray-200 shadow text-sm text-gray-500 mb-6 md:mb-0 ">
                        <input type="text" name="lastName" id="" placeholder="Last name" required
                            class="w-full border-gray-200 shadow text-sm text-gray-500">
                    </div>
                    <div>
                        <input type="text" name="compagny" value="" id="" placeholder="Company name"
                            class="w-full border-gray-200 shadow text-sm text-gray-500">
                    </div>
                    <div>
                        <select name="Country" id="" required
                            class="w-full border-gray-200 shadow text-sm text-gray-500 text-['Roboto']">
                            <option value="">Country / region</option>

                            {% for country in countries %}
                                 <option value="{{country.name}}">{{country.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-x-6">
                        <input type="text" required  name="street" id="" placeholder="Street adress"
                            class="w-full border-gray-200 shadow text-sm text-gray-500  mb-6 md:mb-0">
                        <input type="text" name="Appartment" required id="" placeholder="Appartment"
                            class="w-full border-gray-200 shadow text-sm text-gray-500">
                    </div>
                    <div>
                        <input type="text" name="city" required id="" placeholder="Town / city"
                            class="w-full border-gray-200 shadow text-sm text-gray-500">
                    </div>
                    <div>
                        <input type="text" name="state" required id="" placeholder="State" 
                        class="w-full border-gray-200 shadow text-sm text-gray-500">                        
                    </div>
                    <div>
                        <input type="text" required name="zip-code" id="" placeholder="Post code / Zip"
                            class="w-full border-gray-200 shadow text-sm text-gray-500">
                    </div>
                    <div>
                        <input type="text" required 
                         name="phone" id="" placeholder="Phone"
                            class="w-full border-gray-200 shadow text-sm text-gray-500">
                    </div>
                </div>

                <div id="summary" class="px-8 py-6 col-span-3 border-2 border-orange-300">
                    <h3 class="text-base uppercase text-gray-800  my-6  font-bold ">YOUR ORDER </h3>

                    <div class="flex justify-between  mb-4 border-b border-gray-200 pb-2">
                        <span class="text-sm text-gray-900 font-bold">PRODUCT</span>
                        <span class=" text-sm uppercase font-bold text-gray-900">SUBTOTAL </span>
                    </div>
                    <template id="productListTemplate">
                        <div>
                            <div class="float-left w-4/5">
                                <span class="text-sm productName"></span>
                                <span class="font-bold">x</span>
                                <span class="text-sm productQuantity font-bold"></span>
                            </div>
                            <div class="flex justify-end  w-1/5 overflow-hidden text-xs font-bold productTotalPrice">
                                $3,200.00</div>
                        </div>
                    </template>

                    <div class="flex flex-col space-y-3" id="product_list">

                    </div>
                    <div class="flex justify-between  pt-2 mb-2 border-y mt-3 border-gray-200 pb-2">
                        <span class="text-sm text-gray-900 font-bold capitalize">Subtotal</span>
                        <span class=" text-xs  font-bold text-gray-900 " id="horsTaxePrice"></span>
                    </div>
                    <div>
                        <h2 class="text-sm mb-3 ml-2 font-bold">Shipping</h2>
                        <div class=" flex flex-col space-y-2 pl-4">
                            <div>
                                <select name="shipp" class="block p-2 text-gray-600 w-full text-sm border-gray-200">
                                    <option>Free shipping  </option>
                                </select>
                            </div>

                        </div>
                    </div>
                    <div class="border-t border-gray-200 mt-2">
                        <h2 class="text-sm mt-2 mb-3 ml-2 font-bold">Payment</h2>
                        <div class=" flex flex-col space-y-2 pl-4">
                            <div class="text-sm">
                                <input type="radio" checked name="payment" value="Crypto" id="" class="mr-2"> Crypto
                                <span>We accept (only BTC) </span>

                            </div>

                            <div class="text-sm">
                                <input type="radio" name="payment" id="" value="Visa Card" class="mr-2"> Visa Card
                                <span>
                                    <img src="{{ url_for('static', filename='../static/img/payment/card-visa.svg') }}"
                                        class="inline  w-8 -mt-1" alt="" srcset="">
                                </span>
                            </div>
                            <div class="text-sm">
                                <input type="radio" name="payment" id="" value="Bank" class="mr-2"> Bank Transfert
                                <span>
                                    <img src="{{ url_for('static', filename='../static/img/payment/bank-transfer-svgrepo-com.svg') }}"
                                        class="inline  w-8 -mt-1" alt="" srcset="">
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="border-t mt-8">
                        <div class="flex font-semibold justify-between py-6 text-sm uppercase">
                            <span class="total">Total cost</span>
                            <span id="totalTaxePrice">$600</span>
                        </div>
                        <button type="submit"
                            class="bg-orange-400 font-semibold hover:bg-orange-500 py-3 text-sm text-white uppercase w-full">PLACE
                            ORDER</button>
                    </div>
                    <template id="invisible_template">
                        <input type="hidden" name="products" value="leonel">
                    </template>

                    <div id="invisible">
                        
                    </div>


                </div>


            </div>
        </form>


    </div>





    <script src="{{ url_for('static', filename='vendor/jquery-3.6.3.min.js') }}"></script>
    <script>

    </script>

    <script>
        //console.log(JSON.parse(window.localStorage.getItem('productListToCheckOut')))
        product_list = document.getElementById('product_list')
        var $template = $("#productListTemplate").clone();
        dollar_format = new Intl.NumberFormat('en-US', {
            style: 'currency',
            currency: 'USD',
        });
        //console.log($template.html())
        for (let x of JSON.parse(window.localStorage.getItem('productListToCheckOut'))) {
            block = $('<div></div>').html($template.html())

            $(block).find('.productName').each(function () {
                $(this).html(x.name)
            })

            $(block).find('.productTotalPrice').each(function () {
                $(this).html(dollar_format.format(x.price * x.quantity))
            })
            $(block).find('.productQuantity').each(function () {
                $(this).html(x.quantity)
            })

            block.appendTo(product_list)
        }
        updateTotalPrice = function () {
            sum = 0
            for (x of JSON.parse(window.localStorage.getItem('productListToCheckOut'))) {
                sum += x.quantity * x.price;
            }
            $('#horsTaxePrice').html(dollar_format.format(sum))
            $('#totalTaxePrice').html(dollar_format.format(sum))
        }
        updateTotalPrice();
    </script>


</body>

</html>