<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
        body{
           font-family:  'PT Sans' ;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/tailwind.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.11.1/dist/cdn.min.js"></script>

    <title>Cart - Luxury Watches Swiss</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

        [x-cloak] {
            display: none !important;
        }
    </style>
</head>

<body class="text-['Roboto']">
{{productInfo}}
    <div class="md:mx-[4rem] mt-10 ">
        <div class="flex justify-center items-center border-b border-gray-200 mx-12 pb-8">
            <a href="/" class="">
                <img src="{{ url_for('static', filename='img/logo.png') }}" class="h-20 ml-[4rem]" alt="Logo" />
            </a>
        </div>
        <div>
            <nav class="flex justify-center items-center mt-8 " aria-label="Breadcrumb">
                <ol class="inline-flex items-center space-x-1 md:space-x-3">
                    <li class="inline-flex items-center">
                        <a href="#"
                            class="inline-flex items-center md:text-3xl font-medium text-gray-500 hover:text-orange-400 dark:text-gray-400 dark:hover:text-white">
                            Shopping Cart
                        </a>
                    </li>
                    <li>
                        <div class="flex items-center">
                            <svg aria-hidden="true" class="w-6 h-6 text-gray-400" fill="currentColor"
                                viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                    clip-rule="evenodd"></path>
                            </svg>
                            <a href="{{url_for('checkout')}}" id="checkout_button"
                                class="ml-1 md:text-3xl font-medium text-gray-500 hover:text-orange-400 dark:text-gray-400 dark:hover:text-white">Checkout
                                details</a>
                        </div>
                    </li>
                    <li aria-current="page">
                        <div class="flex items-center">
                            <svg aria-hidden="true" class="w-6 h-6 text-gray-400" fill="currentColor"
                                viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                    clip-rule="evenodd"></path>
                            </svg>
                            <span class="ml-1 md:text-3xl font-medium text-orange-400  dark:text-gray-400">Order
                                Complete</span>
                        </div>
                    </li>
                </ol>
            </nav>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-5  my-10  " id="haveProduct">
            <div class="col-span-3 bg-white px-4 md:px-10 pb-10">
                <p>
                    Please let us know which Cryptocurrency you would like to use so we can send you our wallet
                    information.
                </p>
                <p class="text-xl my-4">
                    Order details
                </p>
                <div class="flex justify-between  mb-4 border-b border-gray-200 pb-2">
                    <span class="text-sm text-gray-900 font-bold">PRODUCT</span>
                    <span class=" text-sm uppercase font-bold text-gray-900">SUBTOTAL </span>
                </div>
                <div class="flex flex-col space-y-1">
                    {% for x in products %}
                            <div class="border-b py-2 border-gray-200">
                                <div class="float-left w-5/6">
                                    <span class="text-sm productName">
                                        <a href="{{url_for('product_page' , productName=x.name)}}" class="text-gray-500">
                                            {{x.name}}
                                        </a>
                                    </span>
                                    <span class="font-bold">x</span>
                                    <span class="text-sm productQuantity font-bold">{{x.quantity}}</span>
                                </div>
                                <div class="flex justify-end  w-1/6 overflow-hidden text-xs font-bold productTotalPrice">
                                    {%set qMp = x.price * x.quantity %}
                                   {{ qMp | numberFormat }}</div>
                            </div>
                    {% endfor %}


                </div>
                <div class="flex justify-between mt-2 border-b py-2 border-gray-200">
                    <span class="text-sm text-gray-900 font-bold">Subtotal:	</span>
                    <span class=" text-sm uppercase font-bold text-gray-900">{{ sumProducts | numberFormat }} </span>
                </div>
                <div class="flex justify-between border-b py-2 mt-2">
                    <span class="text-sm text-gray-900 font-bold">Shipping:	</span>
                    <span class=" text-sm  font-bold text-gray-900">$0.00 <span class="font-normal">via {{shipping}} </span></span>
                </div>
                <div class="flex justify-between mt-2 border-b py-2">
                    <span class="text-sm text-gray-900 font-bold">Tax:	</span>
                    <span class=" text-sm uppercase font-bold text-gray-900">$0.00 </span>
                </div>
                <div class="flex justify-between mt-2 border-b py-2">
                    <span class="text-sm text-gray-900 font-bold">Payment method:	</span>
                    <span class=" text-sm text-gray-900">{{payment}} </span>
                </div>
                <div class="flex justify-between mt-2 border-b py-2">
                    <span class="text-sm text-gray-900 font-bold">Total:	</span>
                    <span class=" text-sm uppercase font-bold text-gray-900">{{ totalPrice | numberFormat }}</span>
                </div>
            </div>

            <div id="summary" class="col-span-2 ">
                <div class="px-8 py-6  bg-slate-50 shadow-md">
                    <p class="font-bold text-[#7e916d] mb-6">Thank you. Your order has been received.</p>
                    <ul class="list-inside list-disc space-y-4">
                        <li><span >Order number: </span><span class="font-semibold">{{buyNumber}}</span></li>
                        <li><span >Date:  </span> <span class="font-semibold">{{current_date}}</span></li>
                        <li><span >Total: </span> <span class="font-semibold">{{ totalPrice | numberFormat }}</span></li>
                        <li><span >Payment method: </span> <span class="font-semibold">{{payment}}</span></li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src="{{ url_for('static', filename='vendor/jquery-3.6.3.min.js') }}"></script>

    <script>
        //console.log(JSON.parse(window.localStorage.getItem('productListToCheckOut')))
        product_list = document.getElementById('product_list')
        var $template = $("#productListTemplate").clone();
        dollar_format = new Intl.NumberFormat('en-US', {
            style: 'currency',
            currency: 'USD',
        });
        //console.log($template.html())
        for (let x of JSON.parse(window.localStorage.getItem('productListToCheckOut'))) {
            block = $('<div></div>').html($template.html())

            $(block).find('.productImage').each(function () {
                $(this).attr("src", x.image)
            })
            $(block).find('.productName').each(function () {
                $(this).html(x.name)
            })
            $(block).find('.productOnePrice').each(function () {
                $(this).html(dollar_format.format(x.price))
            })
            $(block).find('.productTotalPrice').each(function () {
                $(this).html(dollar_format.format(x.price * x.quantity))
            })
            $(block).find('.input-number').each(function () {
                $(this).val(x.quantity)
            })
            $(block).find('.productQuantity').each(function () {
                $(this).html(x.quantity)
            })
            block.appendTo(product_list)
        }
    </script>
    <script>

        productList = JSON.parse(window.localStorage.getItem('productListToCheckOut'))
        $('.deleteProduct').each(function (index, elmt) {
            $(elmt).click(function (event) {
                const x = productList.filter(function (value, ind, arr) {
                    if (ind === index) {
                        arr.splice(ind, 1);
                        return true;
                    }
                    return false;
                });
                console.log(`monTableau values: ${productList}`);
                console.log(`variable x value: ${x}`);


                $(elmt).parent().parent().parent().remove()
                window.localStorage.setItem('productListToCheckOut', JSON.stringify(productList));
                updateTotalPrice()

            })
        })

        inputNumber = function (element) {
            productList = JSON.parse(window.localStorage.getItem('productListToCheckOut'))
            element.each(function (index, elmt) {
                $(elmt).keypress(function (event) {
                    event.preventDefault()
                    var keyCode = event.which ? event.which : event.keyCode;
                    var touche = String.fromCharCode(keyCode);


                    var caracteres = '';

                    if (caracteres.indexOf(touche) >= 0) {
                        console.log($(elmt).val())
                        $(elmt).val($(elmt).val() + touche)
                    }
                    else {
                        event.preventDefault()
                        $(elmt).val(1)

                    }
                });


                decrement = $(elmt).parent().children().first()
                increment = $(elmt).parent().children().last()
                $(decrement).click(function (event) {
                    if (parseInt($(elmt).val()) - 1 > 0) {
                        $(elmt).val(parseInt($(elmt).val()) - 1)

                        blockContent = $(elmt).parent().parent()
                        $(blockContent).find('.productQuantity').each(function () {
                            $(this).html($(elmt).val())
                        })

                        $(blockContent).find('.productTotalPrice').each(function () {
                            $(this).html(dollar_format.format(productList[index].price * $(elmt).val()))
                        })
                        productList[index].quantity = parseInt($(elmt).val())
                        window.localStorage.setItem('productListToCheckOut', JSON.stringify(productList));
                        updateTotalPrice()
                    }

                });
                $(increment).click(function (event) {
                    if (parseInt($(elmt).val()) + 1 > 0) {
                        $(elmt).val(parseInt($(elmt).val()) + 1)

                        blockContent = $(elmt).parent().parent()
                        $(blockContent).find('.productQuantity').each(function () {
                            $(this).html($(elmt).val())
                        })
                        $(blockContent).find('.productTotalPrice').each(function () {
                            $(this).html(dollar_format.format(productList[index].price * $(elmt).val()))
                        })
                        productList[index].quantity = parseInt($(elmt).val())
                        window.localStorage.setItem('productListToCheckOut', JSON.stringify(productList));
                        updateTotalPrice()
                    }
                });
            });

        }



        updateTotalPrice = function () {
            sum = 0
            for (x of JSON.parse(window.localStorage.getItem('productListToCheckOut'))) {
                sum += x.quantity * x.price;
            }
            $('#horsTaxePrice').html(dollar_format.format(sum))
            $('#totalTaxePrice').html(dollar_format.format(sum + 10))
        }




        inputNumber($('.input-number'));

    </script>
    <script>
        sum = 0
        for (x of JSON.parse(window.localStorage.getItem('productListToCheckOut'))) {
            sum += x.quantity * x.price;
        }
        $('#horsTaxePrice').html(dollar_format.format(sum))
        $('#totalTaxePrice').html(dollar_format.format(sum + 10))




    </script>
    
<script>
    document.addEventListener('DOMContentLoaded',function(){
        window.localStorage.setItem('productListToCheckOut', JSON.stringify([]));
    })
</script>
</body>

</html>