<!DOCTYPE html>
<html lang="en">
<link rel="icon" type="image/x-icon" href="/images/favicon.ico">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/tailwind.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.css" rel="stylesheet" />

    <script src="{{ url_for('static', filename='../static/vendor/flowbite.min.js') }}"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.11.1/dist/cdn.min.js"></script>
    <script defer src="{{ url_for('static', filename='vendor/cdn.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" type="png" href="{{ url_for('static', filename='img/logo.png') }}">
    <title>Contact</title>
</head>

<body>
    {% include 'layout/header.html' %}
    <div class="px-[1rem] md:px-[4rem]">
        <div class="">
            <div id="map" class=" w-full mr-8 h-screen"></div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <div class=" flex flex-col space-y-4">
                <p class="border-b py-4 font-semibold text-xl">CONTACT US</p>
                <div class="space-y-4 break-words">
                    <p>
                        As you know, Swiss Luxury wash has been in the business for years and has served thousands of
                        customers in the country. We are known for our positive reputation in the industry and for
                        providing
                        dedicated services to our customers. Every timepiece that we have featured on our website is
                        tested
                        by our quality assurance team and will stay with you for the years to come. Nevertheless, if you
                        face any setback, then you can simply get in touch with us. We also provide a money-back
                        guarantee
                        on our products and an after-sales service as well.
                    </p>
                    <p>
                        What makes Swiss Luxury wash different from other players is our dedicated support to our
                        customers.
                        It doesn’t matter if you are buying a new luxury watch from us or would like to sell an existing
                        one, we will make sure that you have a hassle-free experience. We provide complimentary shipping
                        and
                        insurance for all those who would like to sell their old watch to us. Needless to say, overnight
                        free shipping is provided on all the products that are bought from our online store.
                    </p>
                    <p>
                        All the products that are featured on our store are genuine and authentic. This will make sure
                        that
                        you buy only the best of luxury watches for you and your loved ones at an affordable price. If
                        you
                        have an anniversary coming around or the birthday of a loved one, then you should definitely
                        think
                        of getting them a premium watch. A luxury watch is the best way to impart a timeless style
                        statement
                        and makes a perfect present as well.
                    </p>
                    <p>
                        We have got various kinds of watches from various leading global brands. We will make sure that
                        you
                        have a seamless shopping experience with us while buying a luxury watch at an unbeatable price.
                        Browse the range of products on our store and pick your next timepiece.
                    </p>
                    <p>
                        Location
                    </p>
                    <p>Located at the famous 47th street in The Diamond District in New York City.</p>
                    <p>20W 47th St. Suite 401, 10036</p>
                </div>
            </div>
            <div class=" flex flex-col space-y-4">
                <p class="border-b py-4 font-semibold text-xl">SEND US AN EMAIL</p>
                <div class="space-y-4 break-words">
                    <p>
                        Swiss Luxury wash is just a tap away from your device. To get in touch with us, you can drop us
                        an
                        email or give us a call. If you want, you can always drop by at our retail store in New York
                        City.
                        Here are our complete contact details:
                    </p>
                    <div>
                        <section class="text-gray-600 body-font relative">
                            <div class="mx-auto">

                                <div class="mx-auto">
                                    <div class="flex flex-wrap -m-2">
                                        <div class="p-2  w-full md:w-1/2">
                                            <div class="relative">
                                                <label for="name" class="leading-7 text-sm text-gray-600">Name</label>
                                                <input type="text" id="name" name="name"
                                                    class="w-full bg-gray-100 bg-opacity-50  border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                                            </div>
                                        </div>
                                        <div class="p-2  w-full md:w-1/2">
                                            <div class="relative">
                                                <label for="email" class="leading-7 text-sm text-gray-600">Email</label>
                                                <input type="email" id="email" name="email"
                                                    class="w-full bg-gray-100 bg-opacity-50  border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                                            </div>
                                        </div>
                                        <div class="p-2 w-full">
                                            <div class="relative">
                                                <label for="message"
                                                    class="leading-7 text-sm text-gray-600">Message</label>
                                                <textarea id="message" name="message"
                                                    class="w-full bg-gray-100 bg-opacity-50  border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"></textarea>
                                            </div>
                                        </div>
                                        <div class="p-2 w-full">
                                            <button
                                                class="flex mx-auto text-white bg-orange-400 border-0 py-2 px-8 focus:outline-none hover:bg-orange-500 rounded text-lg">SEND</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>



    {% include 'layout/footer.html' %}
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdfipYKTyWEiJXhGSRos_HxVAaEcUQyuw&callback=initMap">
        </script>
    <script>
        var maCarte;
        function initMap() {
            maCarte = new google.maps.Map(document.getElementById('map'), {
                center: { lat: 47.37553463273148, lng: 8.521813271164001 },
                zoom: 15
            });
            new google.maps.Marker({
                position: { lat: 47.37553463273148, lng: 8.521813271164001 },
                maCarte,
                title: "Swiss Luxury Watches",
            });
        }
        function initMap() {
            const myLatLng = { lat: 47.37553463273148, lng: 8.521813271164001 };
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 15,
                center: myLatLng,
            });

            new google.maps.Marker({
                position: myLatLng,
                map,
                title: "Swiss Luxury Watches",
            });
        }

        window.initMap = initMap;

    </script>
</body>

</html>