<!DOCTYPE html>
<html lang="en">
<link rel="icon" type="image/x-icon" href="/images/favicon.ico">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/tailwind.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.11.1/dist/cdn.min.js"></script>
    
    
    <link rel="icon" type="png" href="{{ url_for('static', filename='img/logo.png') }}">
    
    <title>Luxury watches Swiss</title>
</head>

<body class="">
    {% include 'layout/header.html' %}

    <!--==================== MAIN ====================-->
    <main class="main">
        <!--==================== HOME ====================-->
        <style>
            .new-infos {
                color: red;
                animation-name: blinker;
                animation-duration: 1.2s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
            }

            @keyframes blinker {
                0% {
                    opacity: 1;
                }

                50% {
                    opacity: 0;
                }

                75% {
                    opacity: 0;
                }

                100% {
                    opacity: 1;
                }
            }
        </style>
        <div class="swiper mySwiper" >
            <div class="swiper-wrapper">
                {% for x in homeinfo %}
                <div class="swiper-slide ">
                    <div class="home__container container grid">
                        <div class="home__img-bg flex justify-center items-center">

                            <a
                                href="{{url_for('category_page', collectionProduct = x.nom , famillyProduct = x.family)}}">
                                <img src="{{ url_for('static', filename=x.image) }}" class="scale-x.scale" alt=""
                                    class="home__img" />
                            </a>

                        </div>
                        <div class="home__social">
                            <a href="https://www.facebook.com/" target="_blank" class="home__social-link">
                                Facebook
                            </a>
                            <a href="https://twitter.com/" target="_blank" class="home__social-link">
                                Twitter
                            </a>
                            <a href="https://www.instagram.com/" target="_blank" class="home__social-link">
                                Instagram
                            </a>
                        </div>

                        <div class="home__data">
                            <h1 class="home__title">
                                <span class="new-infos">NEW</span> <br />
                                WATCH COLLECTIONS
                            </h1>
                            <p class="home__description">
                                Latest arrival of the new imported watches
                                of the Rolex and other,
                                with a modern and resistant design.
                            </p>

                            <div class="home__btns">
                                <a href="{{url_for('category_page', collectionProduct = x.nom , famillyProduct = x.family)}}"
                                    class="button button--gray
                                        button--small">
                                    Discover
                                </a>

                                <a href="{{ url_for('allwatches') }}" class="button shadow-xl">SHOP NOW</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>

        <!--==================== FEATURED ====================-->

        <section class="flex justify-center items-center">
            <div class=" w-full text-center mx-4">
                <h1 class="text-3xl mt-[4rem] sm:mt-6 capitalize">Luxury watches</h1>
                <div class="flex flex-row mt-16">
                    <div class="flex justify-center items-center w-1/2
                            mx-1">
                        <div class=" mx-auto">
                            <i class='bx bxs-watch text-[4rem]
                                    text-[#CFAF91]'></i>
                            <div class="mt-4 text-sm">
                                BUY LUXURIOUS WATCHES AT AN AFFORDABLE PRICE
                            </div>
                        </div>
                    </div>
                    <div class="flex justify-center items-center w-1/2
                            mx-1">
                        <div class="mx-auto">
                            <i class='bx bxs-collection text-[4rem]
                                    text-[#CFAF91]'></i>
                            <div class="mt-4 text-sm">
                                EXTENSIVE COLLECTION OF BRANDED WATCHES IN
                                ONE PLACE
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <style>
            .brandsection:hover .btn {
                display: flex;
            }
        </style>

        <section class=" section w-full px-0 sm:px-6 md:px-8 lg:px-10">
            <h2 class="section__title">SHOP WATCHES BY BRAND</h2>
            <div class="brandsection w-full mt-[3em]">

                <div x-data="{swiper: null}" x-init="swiper= new Swiper($refs.container, {
                    loop: true,
                    slidesPerView: 2,
                    spaceBetween: 0,

                    breakpoints: {
                    640: {
                    slidesPerView: 2,
                    spaceBetween: 0,
                    },
                    768: {
                    slidesPerView: 3,
                    spaceBetween: 0,
                    },
                    1024: {
                    slidesPerView: 4,
                    spaceBetween: 0,
                    },
                    },
                    })" class="relative  mx-auto flex flex-row">
                    <div class="absolute inset-y-0 left-0 z-10 flex
                        items-center">
                        <button @click="swiper.slidePrev()" class="btn   lg:-ml-0 sm:hidden
                            justify-center
                            items-center w-10 h-10 rounded-full 
                            focus:outline-none">
                            <svg viewBox="0 0 20 20" fill="currentColor" class="chevron-left w-6 h-6">
                                <path fill-rule="evenodd" d="M12.707 5.293a1 1 0
                                    010 1.414L9.414 10l3.293 3.293a1 1 0
                                    01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1
                                    0 011.414 0z" clip-rule="evenodd"></path>
                            </svg>
                        </button>
                    </div>

                    <div class="swiper " x-ref="container">
                        <div class="swiper-wrapper ">
                            <!-- Slides -->
                            {% for brand in brands %}
                            <div class="swiper-slide pl-1 pr-1.5">
                                <div class="flex w-full flex-col shadow-2xl items-center
                                    justify-center
                                    overflow-hidden bg-white border border-gray-200">
                                    <div class="relative flex-shrink-0 ">
                                        <img class="h-52 w-full  hover:scale-125
                                             " src="{{ url_for('static', filename=brand.image) }}" alt="">
                                        <div class=" text-[var(--first-color)] font-bold
                                        text-center">{{brand.name}}</div>
                                    </div>

                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="absolute inset-y-0 right-0 z-10 flex
                        items-center">
                        <button @click="swiper.slideNext()" class="btn  -mr-3 lg:-mr-0 sm:hidden
                            justify-center
                            items-center w-10 h-10 rounded-full 
                            focus:outline-none">
                            <svg viewBox="0 0 20 20" fill="currentColor" class="chevron-right w-6 h-6">
                                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0
                                    010-1.414L10.586 10 7.293 6.707a1 1 0
                                    011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0
                                    01-1.414 0z" clip-rule="evenodd"></path>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>

        </section>

        <section class="justify-center items-center  grid grid-cols-1 sm:grid-cols-2 mx-1">
            <div class="bg-black h-[26rem] flex justify-center items-center">
                <div class="text-center w-3/4">
                    <h1 class="text-xl text-white tracking-wider
                                mb-8">The Best Place to Buy Luxury Watches
                        Online</h1>
                    <p class="font-extralight text-gray-500 mb-4 text-sm">
                        Find the greatest collection of new and
                        pre-owned luxury watches in one place. Shop
                        from the comfort of your home.
                    </p>
                    <p class="font-extralight text-gray-500 text-sm mt-4">
                        All our timepieces are certified as authentic and Collector Quality.
                    </p>
                    <div class="mt-8">
                        <button type="button"
                            class="py-2.5 px-2 mr-2 mb-2 text-sm  text-gray-900 focus:outline-none bg-white border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">SHOP
                            NEW</button>

                        <button type="button"
                            class="py-2.5 px-5 mr-0 md:mr-2 md:mb-2  text-sm  text-gray-900 focus:outline-none bg-white border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">SHOP
                            PRE-OWNED</button>
                    </div>
                </div>
            </div>
            <div>
                <img src="{{ url_for('static', filename='img/brandcover.jpg') }}" class="sm:h-[26rem] h-[20rem] w-full"
                    alt="">
            </div>
        </section>




        <section class="featured section" id="featured">
            <h2 class="section__title">Featured</h2>
            <style>
                .card_:hover .card_view {
                    right: 0;
                    opacity: 0.9;
                }

                .card_view {
                    bottom: calc(9rem + 2px);
                }
            </style>
            <div x-data="{swiper: null}" x-init="swiper= new Swiper($refs.container, {
                    loop: true,
                    slidesPerView: 2,
                    spaceBetween: 0,
                    
                    breakpoints: {
                    640: {
                    slidesPerView: 2,
                    spaceBetween: 0,
                    },
                    768: {
                    slidesPerView: 3,
                    spaceBetween: 0,
                    },
                    1024: {
                    slidesPerView: 5,
                    spaceBetween: 0,
                    },
                    },
                    })" class="relative  mx-auto flex flex-row">
                <div class="absolute inset-y-0 left-0 z-10 flex
                        items-center">
                    <button @click="swiper.slidePrev()" class="btn   lg:-ml-0 sm:hidden
                            justify-center
                            items-center w-10 h-10 rounded-full shadow
                            focus:outline-none">
                        <svg viewBox="0 0 20 20" fill="currentColor" class="chevron-left w-6 h-6">
                            <path fill-rule="evenodd" d="M12.707 5.293a1 1 0
                                    010 1.414L9.414 10l3.293 3.293a1 1 0
                                    01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1
                                    0 011.414 0z" clip-rule="evenodd"></path>
                        </svg>
                    </button>
                </div>

                <div class="swiper bg-white hover:shadow-lg hover:bg-[var(--body-color)]" x-ref="container">
                    <div class="swiper-wrapper ">
                        <!-- Slides -->
                        {% for product in features %}
                        <div class="swiper-slide pl-1 pr-1.5">
                            <article
                                class="card_ relative text-center h-[23rem] bg-[var(--container-color)] pt-8 my-2 overflow-y-hidden duration-300">
                                <span
                                    class="absolute overflow-y-hidden z-20 -left-3 top-3 bg-[var(--first-color)] pl-5 pr-[0.45rem] py-1 text-[var(--small-font-size)] uppercase text-white font-medium">New</span>
                                <a href="{{url_for("product_page" , productName=product.name)}}" class="">
                                    <img src="{{ url_for('static', filename=product.image1) }}" alt=""
                                        class="h-40 sm:scale-[1.30]" />
                                </a>
                                <div class="absolute">
                                    <a href={{url_for("product_page" , productName=product.name)}}>
                                        <p class="mt-4 z-20 font-sans uppercase text-[10px] pt-4">
                                            {{product.brand}}
                                        </p>
                                        <p class="text-sm">{{product.name}}</p>
                                        <p class="text-sm font-bold text-black mt-2 text-[var(--product-content)] ">
                                            {% if product.price is number %}
                                            {{ product.price | numberFormat }}
                                            {% endif %}
                                        </p>
                                    </a>
                                </div>
                                <button data-modal-toggle="popup-modal" onclick="modalinfo(this)"
                                    data-productImage2='{{product.image2}}' data-productName='{{product.name}}'
                                    data-productPrice='{{product.price}}' data-productSku='{{product.sku}}'
                                    data-productCategory='{{product.category}}' data-productTag='{{product.tag}}'
                                    class="card_view hidden sm:block absolute py-1.5 right-full w-full text-center bg-[var(--first-color)] text-white ease-linear duration-200">
                                    Quick View
                                </button>
                            </article>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="absolute inset-y-0 right-0 z-10 flex
                        items-center">
                    <button @click="swiper.slideNext()" class="btn  -mr-3 lg:-mr-0 sm:hidden
                            justify-center
                            items-center w-10 h-10 rounded-full shadow
                            focus:outline-none">
                        <svg viewBox="0 0 20 20" fill="currentColor" class="chevron-right w-6 h-6">
                            <path fill-rule="evenodd" d="M7.293 14.707a1 1 0
                                    010-1.414L10.586 10 7.293 6.707a1 1 0
                                    011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0
                                    01-1.414 0z" clip-rule="evenodd"></path>
                        </svg>
                    </button>
                </div>
            </div>
        </section>

        <!--==================== STORY ====================-->
        <!-- <section class="story section container">
            <div class="story__container grid">
                <div class="story__data">
                    <h2 class="section__title story__section-title">Our
                        Story</h2>

                    <h1 class="story__title">
                        Inspirational Watch of <br />
                        this year
                    </h1>

                    <p class="story__description">
                        The latest and modern watches of this year, is
                        available in
                        various presentations in this store, discover them
                        now.
                    </p>

                    <a href="#" class="button button--small">Discover</a>
                </div>

                <div class="story__images">
                    <img src="{{ url_for('static', filename='img/home.png') }}" alt="" class="story__img" />
                    <div class="story__square"></div>
                </div>
            </div>
        </section> -->
        <section class="bg-black pt-8 pb-20">
            <div class="grid grid-cols-1 md:grid-cols-5 gap-4">
                <div></div>
                <div class="col-span-3 text-white mb-4">
                    <h1 class="text-3xl text-white text-center">Collector Timepieces For sale</h1>
                    <p class="mx-16 text-center py-4">The Rose gold material is one of the most desire among collectors
                        of fine watches and high-end jewelry.</p>
                    <p class="text-center">Check out our Men’s and Women’s wrist watch collections.</p>
                    <h1 class="text-center text-3xl py-4 text-white">Shop Rose Gold Watches by Brand</h1>
                </div>
                <div></div>

            </div>


            <div class="md:mx-[10rem] grid md:grid-cols-3 gap-x-10 gap-y-16">
                <div class="h-auto sm:h-[16rem] bg-white relative">
                    <a href="{{url_for('category_page', collectionProduct ='rolex', famillyProduct='watches')}}">
                        <img src="{{ url_for('static', filename='img/home/Rolex-228235-Eisenkiesel.jpeg') }}"
                            class="w-full h-full  " alt="">
                        <p class="text-center   text-base text-white mt-2 ">Rolex</p>
                    </a>

                </div>
                <div class="h-auto sm:h-[16rem] bg-white">
                    <a
                        href="{{url_for('category_page', collectionProduct ='audemars-piguet', famillyProduct='watches')}}">
                        <img src="{{ url_for('static', filename='img/home/audemars1.png') }}" class="w-full h-full  "
                            alt="">
                        <p class="text-center  text-base text-white mt-2">Audemars Piguet</p>
                    </a>


                </div>
                <div class="h-auto sm:h-[16rem] bg-white">
                    <a
                        href="{{url_for('category_page', collectionProduct ='patek-philippe', famillyProduct = 'watches')}}">
                        <img src="{{ url_for('static', filename='img/home/patek1.png') }}" class="w-full h-full "
                            alt="">
                        <p class="text-center  text-base text-white mt-2">Patek Philippe</p>
                    </a>
                </div>
                <div class="h-auto sm:h-[16rem] bg-white">
                    <a
                        href="{{url_for('category_page', collectionProduct ='richard-mille', famillyProduct = 'watches')}}">
                        <img src="{{ url_for('static', filename='img/home/mille1.png') }}" class="w-full h-full "
                            alt="">
                        <p class="text-center  text-base text-white mt-2">Richard Mille</p>
                    </a>


                </div>
                <div class="h-auto sm:h-[16rem] bg-white">
                    <a href="{{url_for('category_page', collectionProduct ='cartier', famillyProduct = 'watches')}}">
                        <img src="{{ url_for('static', filename='img/home/cartier1.png') }}" class="w-full h-full "
                            alt="">
                        <p class="text-center  text-base text-white mt-2">Cartier</p>
                    </a>

                </div>
                <div class="h-auto sm:h-[16rem] bg-white">
                    <a href="{{url_for('category_page', collectionProduct ='hublot', famillyProduct = 'watches')}}">
                        <img src="{{ url_for('static', filename='img/home/hublot1.jpg') }}" class="w-full h-full "
                            alt="">
                        <p class="text-center  text-base text-white mt-2">Hublot</p>
                    </a>
                </div>
            </div>

        </section>
        <section class="bg-black pt-8 pb-20">
            <div class="grid grid-cols-1 md:grid-cols-5 gap-4">
                <div></div>
                <div class="col-span-3 text-white mb-4">
                    <h1 class="text-3xl text-white text-center">Collection of OMEGA-SWATCH</h1>
                    <!-- <p class="mx-16 text-center py-4">The Rose gold material is one of the most desire among collectors
                        of fine watches and high-end jewelry.</p> -->
                    <p class="text-center">Check out our Men’s and Women’s wrist watch collections.</p>
                    <h1 class="text-center text-3xl py-4 text-white">Shop Rose Gold Watches by Planet</h1>
                </div>
                <div></div>

            </div>


            <div class="md:mx-[10rem] grid md:grid-cols-3 gap-x-10 gap-y-16">
                <div class="h-auto sm:h-[16rem] bg-white relative">
                    <a href="{{url_for('product_page' , productName='earth')}}">
                        <img src="{{ url_for('static', filename='img/montre/earth.jpg') }}"
                            class="w-full h-full  " alt="">
                        <p class="text-center   text-base text-white mt-2 ">Earth</p>
                    </a>

                </div>
                <div class="h-auto sm:h-[16rem] bg-white">
                    <a
                        href="{{url_for('product_page' , productName='venus')}}">
                        <img src="{{ url_for('static', filename='img/montre/venus.jpg') }}" class="w-full h-full  "
                            alt="">
                        <p class="text-center  text-base text-white mt-2">Venus</p>
                    </a>

                </div>
                <div class="h-auto sm:h-[16rem] bg-white">
                    <a
                        href="{{url_for('product_page' , productName='sun')}}">
                        <img src="{{ url_for('static', filename='img/montre/sun.jpg') }}" class="w-full h-full  "
                            alt="">
                        <p class="text-center  text-base text-white mt-2">Sun</p>
                    </a>

                </div>
                <div class="h-auto sm:h-[16rem] bg-white">
                    <a
                        href="{{url_for('product_page' , productName='mars')}}">
                        <img src="{{ url_for('static', filename='img/montre/mars.jpg') }}" class="w-full h-full  "
                            alt="">
                        <p class="text-center  text-base text-white mt-2">Mars</p>
                    </a>
                </div>
                <div class="h-auto sm:h-[16rem] bg-white">
                    <a
                        href="{{url_for('product_page' , productName='saturne')}}">
                        <img src="{{ url_for('static', filename='img/montre/saturne.jpg') }}" class="w-full h-full  "
                            alt="">
                        <p class="text-center  text-base text-white mt-2">Saturne</p>
                    </a>
                </div>
                <div class="h-auto sm:h-[16rem] bg-white">
                    <a
                        href="{{url_for('product_page' , productName='moon')}}">
                        <img src="{{ url_for('static', filename='img/montre/moon.jpg') }}" class="w-full h-full  "
                            alt="">
                        <p class="text-center  text-base text-white mt-2">Moon</p>
                    </a>
                </div>
            </div>

        </section>


    </main>

    {% include 'layout/modal.html' %}

    {% include 'layout/footer.html' %}
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script>
        dollar_format = new Intl.NumberFormat('en-US', {
            style: 'currency',
            currency: 'USD',
        });
    
        modalinfo = function (element) {
            document.getElementById('modal_image').src = "/static/" + element.getAttribute('data-productImage2')
            document.getElementById('modal_name').innerHTML = element.getAttribute('data-productName')
            document.getElementById('modal_price').innerHTML = dollar_format.format(element.getAttribute('data-productPrice'))
            document.getElementById('modal_sku').innerHTML = element.getAttribute('data-productSku')
            document.getElementById('modal_categorie').innerHTML = element.getAttribute('data-productCategory')
            document.getElementById('modal_tags').innerHTML = element.getAttribute('data-productTag')
            console.log(document.getElementById('modal_image').src)
            document.getElementById('whatsapp_discus').href = "https://wa.me/+237657815959?text=I am interested in the following watch : " + element.getAttribute('data-productName')
        }
    </script>




</body>

</html>