<!DOCTYPE html>
<html lang="en">
<link rel="icon" type="image/x-icon" href="/images/favicon.ico">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/tailwind.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.11.1/dist/cdn.min.js"></script>
    
    
    <link rel="icon" type="png" href="{{ url_for('static', filename='img/logo.png') }}">
    
    <title>Luxury watches Swiss</title>
</head>

<body class="">
    <div class="sm:flex w-full flex-row justify-between text-center	py-4 px-5  bg-orange-300 border-none  text-sm text-white "
    role="alert">
    <div class="hidden md:block">
        <a href="mailto:swissluxurywatches0@gmail.com" data-tooltip-target="tooltip-email" data-tooltip-placement="bottom">
            <i class='bx bx-envelope'></i>
            <span>Email-us</span>
        </a>
        <div id="tooltip-email" role="tooltip" class="absolute z-[70] invisible  px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
            swissluxurywatches0@gmail.com
            <div class="tooltip-arrow" data-popper-arrow></div>
        </div>
       
        <!-- <span> | </span>

        <a href="tel:+237657815959" data-tooltip-target="tooltip-phone" data-tooltip-placement="bottom">
            <i class='bx bx-phone'></i>
            <span>+41 646-979-8028</span>
        </a>
        <div id="tooltip-phone" role="tooltip" class="absolute z-[70] invisible  px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
            +41 646-979-8028
            <div class="tooltip-arrow" data-popper-arrow></div>
        </div> -->

    </div>

    <div class="md:hidden">
        <a href="/" class="">
            <img src="{{ url_for('static', filename='img/logo.png') }}" class="h-20 md:ml-[1rem]" alt="Logo" />
        </a>
    </div>
    <div class="hidden md:block">Chat With Us</div>
    <div class="hidden sm:block">
        <a href="" data-tooltip-target="tooltip-newsletter" data-tooltip-placement="bottom">
            <i class='bx bx-envelope'></i>
            <span class="-mt-1">Newsletter</span>
        </a>
        <div id="tooltip-newsletter" role="tooltip" class="absolute z-[70] invisible  px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
           Sign up for newsletter
            <div class="tooltip-arrow" data-popper-arrow></div>
        </div>


        <span> | </span>
        <span>
            <span class="mx-1" id="priceAllProduct"></span>
            <a href="{{url_for('shop_cart')}}"
                class="relative inline-flex items-center px-1 py-1 text-sm font-medium text-center text-gray-400 rounded-lg   focus:outline-none focus:ring-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                <i class='bx bx-shopping-bag text-white' style="font-size: 25px;margin-top: -8px; margin-left: -8;"></i>
                <div
                    class="absolute inline-flex items-center justify-center w-5 h-5 text-xs font-bold text-white bg-red-500 border-2 border-white rounded-full -top-2 -right-2 dark:border-gray-900">
                    <span class="length_prod_chechout"></span>
                </div>
            </a>
        </span>
    </div>
</div>
<section
  class="relative bg-[url('/static/img/MoonSwatch_d_v8.jpg')] bg-cover bg-center bg-no-repeat"
>
  
  <div
    class="relative  max-w-full h-96 lg:h-screen ">

<style>
    .remove-scrolling { 
        height: 100%; 
        overflow: hidden; 
      } 
</style>

<header class="w-full sticky top-0 z-50 " id="myheader">
    <nav class="hover:bg-body border-gray-200  dark:bg-gray-900 shadow">
        <div x-data="{menuState : false}" class="px-4 md:px-16 flex flex-wrap items-center justify-between mx-auto">
            <button  type="button"   x-data="{usedKeyboard: false}"
            @keydown.window.tab="usedKeyboard = true"
            @click="$dispatch('open-menu', { open: true })"
            :class="{'focus:outline-none': !usedKeyboard}"
                class="inline-flex items-center p-2 text-sm mr-6 sm:mr-0 text-gray-50 rounded-lg md:hidden  focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                >
                <span class="sr-only">Open menu</span>
                <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                        clip-rule="evenodd"></path>
                </svg>
            </button>
            <a href="/" class="hidden md:inline">
                <img src="{{ url_for('static', filename='img/logo.png') }}" class="h-20 md:ml-[1rem]" alt="Logo" />
            </a>
            <div class="flex md:order-2" x-data="{ open: false }">
                <button type="button" x-on:click="open = !open" aria-expanded="false"
                    class="md:hidden text-gray-50 dark:text-gray-400  focus:outline-none focus:ring-0 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 mr-1">
                    <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                            clip-rule="evenodd"></path>
                    </svg>
                    <span class="sr-only">Search</span>
                </button>
                <div x-show="open" x-on:click.outside="open = false" x-cloak
                    class="absolute right-0 mt-12 mr-2 border border-gray-200 z-50 p-6 w-auto h-auto bg-[var(--body-color)]">
                    <form class="flex items-center" method="GET" action="{{url_for("searchRoute")}}">
                        <label for="simple-search" class="sr-only">Search</label>
                        <div class="relative w-full">
                            <button type="submit"
                                class="absolute z-50 bg-black inset-y-0 right-0 flex items-center pr-3 ">
                                <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400"
                                    fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                        clip-rule="evenodd"></path>
                                </svg>
                            </button>
                            <input type="text" id="simple-search" name="s"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-orange-400 focus:border-orange-400 block w-full pl-2 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="Search" required>
                        </div>
                    </form>
                </div>

                <div class="relative hidden md:block">
                    <form action="{{url_for('searchRoute')}}" method="GET">
                        <button class="absolute inset-y-0 right-0 flex items-center pr-3 ">
                            <svg class="w-5 h-5 text-gray-100" aria-hidden="true" fill="currentColor"
                                viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                    clip-rule="evenodd"></path>
                            </svg>
                            <span class="sr-only">Search icon</span>
                        </button>

                        <input type="text" id="search-navbar" required name="s"
                            class="block w-full p-2 pl-4 text-sm  border border-gray-300 rounded-lg bg-transparent placeholder:text-white text-white focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="Search...">
                    </form>

                </div>

                <div class="sm:hidden">
                    <span>
                        <a href="{{url_for('shop_cart')}}"
                            class="relative inline-flex items-center px-1 py-1 text-sm font-medium text-center text-gray-400 rounded-lg   focus:outline-none focus:ring-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            <i class='bx bx-shopping-bag text-2xl text-gray-50'></i>
                            <div class="absolute inline-flex items-center justify-center w-5 h-5 mt-3 mr-1  text-white border-2 border-white bg-red-500 font-black rounded-full -top-2 -right-2 text-sm dark:border-gray-900"">
                                  <span class=" length_prod_chechout"></span>
                </div>
                </a>
                </span>
            </div>


        </div>
        <div class=" items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-search">
            <div class="relative mt-3 md:hidden">
                <form action="{{url_for('searchRoute')}}" method="GET">
                    <button class="absolute inset-y-0 right-0 flex items-center pr-3 ">
                        <svg class="w-5 h-5 text-gray-50" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span class="sr-only">Search icon</span>
                    </button>

                    <input type="text" id="search-navbar" required name="s"
                        class="block w-full p-2 pl-4 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Search...">
                </form>
            </div>
            <ul
                class="flex flex-col p-4 mt-4 border border-gray-100 rounded-lg  md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-body dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">

                <li>
                    <button id="_watches" data-dropdown-trigger="hover" data-dropdown-toggle="watch_menu"
                        class="flex items-center justify-between w-full py-2 pl-3 pr-4 font-medium text-gray-50 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-orange-300 md:p-0 md:w-auto dark:text-gray-400 dark:hover:text-white dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent">
                        WATCHES
                        <svg class="w-5 h-5 ml-1" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <script>
                            document.getElementById("_watches").addEventListener('click', function (e) {
                                document.getElementById("tester").click()
                            })
                        </script>
                    </button>
                    <div id="watch_menu"
                        class="md:w-48 hidden z-50 font-normal bg-body divide-y divide-gray-100 shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                        <ul class="py-2 text-sm text-gray-700 dark:text-gray-400" aria-labelledby="dropdownLargeButton">
                            <li class="md:hover:text-orange-300" id="menu-item-2877"
                                class="current-menu-item menu-item-2877 active">
                                <a class="block px-4 py-2  dark:hover:bg-gray-600 dark:hover:text-white"
                                    href=" {{url_for('category_page', collectionProduct ='rolex', famillyProduct='watches')}}">Rolex</a>
                            </li>
                            <li class="md:hover:text-orange-300" id="menu-item-2877"
                                class="current-menu-item menu-item-2877 active">
                                <a class="block px-4 py-2  dark:hover:bg-gray-600 dark:hover:text-white"
                                    href=" {{url_for('category_page', collectionProduct ='omega-swatch', famillyProduct='watches')}}">Omega-Swatch</a>
                            </li>
                            <li class="md:hover:text-orange-300" id="menu-item-2878">
                                <a class="block px-4 py-2  dark:hover:bg-gray-600 dark:hover:text-white"
                                    href="{{url_for('category_page', collectionProduct ='audemars-piguet', famillyProduct='watches')}}">
                                    Audemars
                                    Piguet</a>
                            </li>
                            <li class="md:hover:text-orange-300" id="menu-item-9847">
                                <a class="block px-4 py-2  dark:hover:bg-gray-600 dark:hover:text-white"
                                    href="{{url_for('category_page', collectionProduct ='richard-mille', famillyProduct = 'watches')}}">
                                    Richard
                                    Mille</a>
                            </li>
                            <li class="md:hover:text-orange-300" id="menu-item-2879">
                                <a class="block px-4 py-2  dark:hover:bg-gray-600 dark:hover:text-white"
                                    href="{{url_for('category_page', collectionProduct ='patek-philippe', famillyProduct = 'watches')}}">
                                    Patek
                                    Philippe</a>
                            </li>
                            <li class="md:hover:text-orange-300" id="menu-item-5119">
                                <a class="block px-4 py-2  dark:hover:bg-gray-600 dark:hover:text-white"
                                    href="{{url_for('category_page', collectionProduct ='cartier', famillyProduct = 'watches')}}">
                                    Cartier</a>
                            </li>
                            <li class="md:hover:text-orange-300" id="menu-item-2880">
                                <a class="block px-4 py-2  dark:hover:bg-gray-600 dark:hover:text-white"
                                    href="{{url_for('category_page', collectionProduct ='hublot', famillyProduct = 'watches')}}">
                                    Hublot</a>
                            </li>
                            <li class="md:hover:text-orange-300" id="menu-item-57871">
                                <a class="block px-4 py-2  dark:hover:bg-gray-600 dark:hover:text-white"
                                    href="{{url_for('category_page', collectionProduct ='breitling', famillyProduct = 'watches')}}">
                                    Breitling</a>
                            </li>
                            <li class="md:hover:text-orange-300" id="menu-item-2876">
                                <a class="block px-4 py-2  dark:hover:bg-gray-600 dark:hover:text-white"
                                    href="{{url_for('category_page', collectionProduct ='panerai', famillyProduct = 'watches')}}">
                                    Panerai</a>
                            </li>
                            <li class="md:hover:text-orange-300" id="menu-item-9846">
                                <a class="block px-4 py-2  dark:hover:bg-gray-600 dark:hover:text-white"
                                    href="{{url_for('category_page', collectionProduct ='omega', famillyProduct = 'watches')}}">
                                    Omega</a>
                            </li>
                            <li class="md:hover:text-orange-300" id="menu-item-9848">
                                <a class="block px-4 py-2  dark:hover:bg-gray-600 dark:hover:text-white"
                                    href="{{url_for('category_page', collectionProduct ='vacheron-constantin', famillyProduct = 'watches')}}">
                                    Vacheron
                                    Constantin</a>
                            </li>
                            <li class="md:hover:text-orange-300" id="menu-item-4672">
                                <a class="block px-4 py-2  dark:hover:bg-gray-600 dark:hover:text-white"
                                    href="{{url_for('category_page', collectionProduct ='zenit' , famillyProduct = 'watches')}}">
                                    Zenith</a>
                            </li>
                            <li class="md:hover:text-orange-300" id="menu-item-9845">
                                <a class="block px-4 py-2  dark:hover:bg-gray-600 dark:hover:text-white"
                                    href="{{url_for('category_page', collectionProduct ='iwc' , famillyProduct = 'watches')}}">
                                    IWC</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a data-dropdown-trigger="hover" data-dropdown-toggle="jewelry_menu"
                        class="flex items-center justify-between w-full py-2 pl-3 pr-4 font-medium text-gray-50 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-orange-300 md:p-0 md:w-auto dark:text-gray-400 dark:hover:text-white dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent">JEWELRY
                        <svg class="w-5 h-5 ml-1" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                clip-rule="evenodd"></path>
                        </svg></a>
                    <div id="jewelry_menu"
                        class="md:w-48 z-10 hidden font-normal bg-body divide-y divide-gray-100  shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                        <ul class="py-2 text-sm text-gray-700 dark:text-gray-400" aria-labelledby="dropdownLargeButton">
                            <li id="menu-item-60247" class="md:hover:text-orange-300 menu-item-60247">
                                <a href="{{url_for('category_page', collectionProduct ='necklaces' , famillyProduct = 'jewelry')}}"
                                    class="block px-4 py-2  dark:hover:bg-gray-600 dark:hover:text-white">Necklaces</a>
                            </li>
                            <li id="menu-item-58603" class="md:hover:text-orange-300 menu-item-58603">
                                <a href="{{url_for('category_page', collectionProduct ='pendants' , famillyProduct = 'jewelry')}}"
                                    class="block px-4 py-2  dark:hover:bg-gray-600 dark:hover:text-white">Pendants</a>
                            </li>
                            <li id="menu-item-58910" class="md:hover:text-orange-300 menu-item-58910">
                                <a href="{{url_for('category_page', collectionProduct ='rings' , famillyProduct = 'jewelry')}}"
                                    class="block px-4 py-2  dark:hover:bg-gray-600 dark:hover:text-white">Rings</a>
                            </li>
                            <li id="menu-item-3078" class="md:hover:text-orange-300 menu-item-3078">
                                <a href="{{url_for('category_page', collectionProduct ='bracelets' , famillyProduct = 'jewelry')}}"
                                    class="block px-4 py-2  dark:hover:bg-gray-600 dark:hover:text-white">Bracelets</a>
                            </li>

                        </ul>
                    </div>
                </li>
                <li>
                    <button data-dropdown-trigger="hover" data-dropdown-toggle="accesories_menu"
                        class="flex items-center justify-between w-full py-2 pl-3 pr-4 font-medium text-gray-50 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-orange-300 md:p-0 md:w-auto dark:text-gray-400 dark:hover:text-white dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent">ACCESORIES
                        <svg class="w-5 h-5 ml-1" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                clip-rule="evenodd"></path>
                        </svg></button>
                    <div id="accesories_menu"
                        class="md:w-48 z-10 hidden font-normal bg-body divide-y divide-gray-100 shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                        <ul class="py-2 text-sm text-gray-700 dark:text-gray-400" aria-labelledby="dropdownLargeButton">
                            <li class="md:hover:text-orange-300">
                                <a href="{{url_for('category_page', collectionProduct ='briefcases', famillyProduct='accesories')}}"
                                    class="block px-4 py-2  dark:hover:bg-gray-600 dark:hover:text-white">Briefcases</a>
                            </li>
                            <li class="md:hover:text-orange-300">
                                <a href="#"
                                    class="block px-4 py-2  dark:hover:bg-gray-600 dark:hover:text-white pointer-events-none">Hats</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <!-- <li>
                    <a href="#"
                        class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-300 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">SELL
                        OR TRADE
                    </a>
                </li> -->
                <li>
                    <a href="{{ url_for('about_us') }}"
                        class="flex items-center justify-between w-full py-2 pl-3 pr-4 font-medium text-gray-50 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-orange-300 md:p-0 md:w-auto dark:text-gray-400 dark:hover:text-white dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent">ABOUT 
                    </a>

                </li>
                <li>
                    <a href="{{ url_for('contact') }}"
                        class="block py-2 pl-3 pr-4 text-gray-50 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-300 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">CONTACT
                        US
                    </a>
                </li>
            </ul>
        </div>
        </div>
    </nav>
    <!-- <div class="text-center	  border-none   text-gray-50 " role="alert">
        <p class="font-bold">FREE SHIPPING FOR ALL ORDERS</p>
    </div> -->
</header>
<script>
    function slideout() {
        return {
            open: false,
            usedKeyboard: false,
            init() {
                this.$watch('open', value => {
                    value && this.$refs.closeButton.focus()
                    this.toggleOverlay()
                })
                this.toggleOverlay()
            },
            toggleOverlay() {
                document.body.classList[this.open ? 'add' : 'remove']('h-screen', 'overflow-hidden')
            }
        }
    }
</script>
<div>
<section
    x-data="slideout()"
    x-cloak
    @open-menu.window="open = $event.detail.open"
    @keydown.window.tab="usedKeyboard = true"
    @keydown.escape="open = false"
    x-init="init()">
    
    <div
        x-show.transition.opacity.duration.500="open"
        @click="open = false"
        class="fixed inset-0 bg-black bg-opacity-25 z-[70]">
        <button
            @click="open = false"
            x-ref="closeButton"
            :class="{'focus:outline-none': !usedKeyboard}"
            class="fixed top-0 right-0  z-50">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
        </button>
    </div>
        
    <div
        class="fixed transition duration-300 bg-white text-black left-0 top-0 transform px-2 w-[17rem] h-screen bg- overflow-x-scroll"
        :class="{'-translate-x-full': !open}"
        style="z-index: 70;"
        >
        
                    <h3 class="sr-only">Navbar</h3>
                    <div>
                        <div class="py-10 border-b  border-gray-300">
                            <h4 class="text-black">Free Shipping for all orders</h4>
                        </div>
                        <div class="py-6">
                            <a href="https://wa.me/+237657815959?text=">
                                <h4 class="text-black">Chat With Us</h4>
                            </a>
                        </div>
                        <div class="border-y  border-gray-300 py-3" x-data="{open:false}">
                            <h3 class="-my-3 ">
                                <button type="button" @click="open=!open"
                                    class="flex w-full items-center justify-between text-black py-3 text-sm"
                                    aria-controls="filter-section-0" aria-expanded="false">
                                    <span>WATCHES</span>
                                    <span class="ml-6 flex items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                            fill="currentColor" class="w-5 h-5" x-show="open">
                                            <path fill-rule="evenodd"
                                                d="M14.77 12.79a.75.75 0 01-1.06-.02L10 8.832 6.29 12.77a.75.75 0 11-1.08-1.04l4.25-4.5a.75.75 0 011.08 0l4.25 4.5a.75.75 0 01-.02 1.06z"
                                                clip-rule="evenodd" />
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                            fill="currentColor" class="w-5 h-5 " x-show="!open">
                                            <path fill-rule="evenodd"
                                                d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                                                clip-rule="evenodd" />
                                        </svg>
                                    </span>
                                </button>
                            </h3>
                            <div class="pt-2 "  x-show="open" x-cloak
                                x-transition:enter="transition ease-out duration-100"
                                x-transition:enter-start="opacity-0 scale-90"
                                x-transition:enter-end="opacity-100 scale-100"
                                x-transition:leave="transition ease-in duration-100"
                                x-transition:leave-start="opacity-100 scale-100"
                                x-transition:leave-end="opacity-0 scale-90">
                                <div class="pl-3 ">
                                    <ul class="text-gray-600">
                                    <li class="md:hover:text-orange-300" id="menu-item-2877"
                                        class="current-menu-item menu-item-2877 active">
                                        <a class="block px-4 py-2  dark:hover:bg-gray-600 dark:hover:text-white"
                                            href=" {{url_for('category_page', collectionProduct ='rolex', famillyProduct='watches')}}">Rolex</a>
                                    </li>
                                    <li class="md:hover:text-orange-300" id="menu-item-28887"
                                        class="current-menu-item menu-item-2877 active">
                                        <a class="block px-4 py-2  dark:hover:bg-gray-600 dark:hover:text-white"
                                            href=" {{url_for('category_page', collectionProduct ='omega-swatch', famillyProduct='watches')}}">Omega-Swatch</a>
                                    </li>
                                    <li class="md:hover:text-orange-300" id="menu-item-2878">
                                        <a class="block px-4 py-2  dark:hover:bg-gray-600 dark:hover:text-white"
                                            href="{{url_for('category_page', collectionProduct ='audemars-piguet', famillyProduct='watches')}}">
                                            Audemars
                                            Piguet</a>
                                    </li>
                                    <li class="md:hover:text-orange-300" id="menu-item-9847">
                                        <a class="block px-4 py-2  dark:hover:bg-gray-600 dark:hover:text-white"
                                            href="{{url_for('category_page', collectionProduct ='richard-mille', famillyProduct = 'watches')}}">
                                            Richard
                                            Mille</a>
                                    </li>
                                    <li class="md:hover:text-orange-300" id="menu-item-2879">
                                        <a class="block px-4 py-2  dark:hover:bg-gray-600 dark:hover:text-white"
                                            href="{{url_for('category_page', collectionProduct ='patek-philippe', famillyProduct = 'watches')}}">
                                            Patek
                                            Philippe</a>
                                    </li>
                                    <li class="md:hover:text-orange-300" id="menu-item-5119">
                                        <a class="block px-4 py-2  dark:hover:bg-gray-600 dark:hover:text-white"
                                            href="{{url_for('category_page', collectionProduct ='cartier', famillyProduct = 'watches')}}">
                                            Cartier</a>
                                    </li>
                                    <li class="md:hover:text-orange-300" id="menu-item-2880">
                                        <a class="block px-4 py-2  dark:hover:bg-gray-600 dark:hover:text-white"
                                            href="{{url_for('category_page', collectionProduct ='hublot', famillyProduct = 'watches')}}">
                                            Hublot</a>
                                    </li>
                                    <li class="md:hover:text-orange-300" id="menu-item-57871">
                                        <a class="block px-4 py-2  dark:hover:bg-gray-600 dark:hover:text-white"
                                            href="{{url_for('category_page', collectionProduct ='breitling', famillyProduct = 'watches')}}">
                                            Breitling</a>
                                    </li>
                                    <li class="md:hover:text-orange-300" id="menu-item-2876">
                                        <a class="block px-4 py-2  dark:hover:bg-gray-600 dark:hover:text-white"
                                            href="{{url_for('category_page', collectionProduct ='panerai', famillyProduct = 'watches')}}">
                                            Panerai</a>
                                    </li>
                                    <li class="md:hover:text-orange-300" id="menu-item-9846">
                                        <a class="block px-4 py-2  dark:hover:bg-gray-600 dark:hover:text-white"
                                            href="{{url_for('category_page', collectionProduct ='omega', famillyProduct = 'watches')}}">
                                            Omega</a>
                                    </li>
                                    <li class="md:hover:text-orange-300" id="menu-item-9848">
                                        <a class="block px-4 py-2  dark:hover:bg-gray-600 dark:hover:text-white"
                                            href="{{url_for('category_page', collectionProduct ='vacheron-constantin', famillyProduct = 'watches')}}">
                                            Vacheron
                                            Constantin</a>
                                    </li>
                                    <li class="md:hover:text-orange-300" id="menu-item-4672">
                                        <a class="block px-4 py-2  dark:hover:bg-gray-600 dark:hover:text-white"
                                            href="{{url_for('category_page', collectionProduct ='zenit' , famillyProduct = 'watches')}}">
                                            Zenith</a>
                                    </li>
                                    <li class="md:hover:text-orange-300" id="menu-item-9845">
                                        <a class="block px-4 py-2  dark:hover:bg-gray-600 dark:hover:text-white"
                                            href="{{url_for('category_page', collectionProduct ='iwc' , famillyProduct = 'watches')}}">
                                            IWC</a>
                                    </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="border-b  border-gray-300 py-3" x-data="{open:false}">
                            <h3 class="-my-3 ">
                                <button type="button" @click="open=!open"
                                    class="flex w-full items-center justify-between text-black py-3 text-sm"
                                    aria-controls="filter-section-0" aria-expanded="false">
                                    <span>JEWELRY</span>
                                    <span class="ml-6 flex items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                            fill="currentColor" class="w-5 h-5" x-show="open">
                                            <path fill-rule="evenodd"
                                                d="M14.77 12.79a.75.75 0 01-1.06-.02L10 8.832 6.29 12.77a.75.75 0 11-1.08-1.04l4.25-4.5a.75.75 0 011.08 0l4.25 4.5a.75.75 0 01-.02 1.06z"
                                                clip-rule="evenodd" />
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                            fill="currentColor" class="w-5 h-5" x-show="!open">
                                            <path fill-rule="evenodd"
                                                d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                                                clip-rule="evenodd" />
                                        </svg>
                                    </span>
                                </button>
                            </h3>
                            <div class="pt-2 "  x-show="open" x-cloak
                                x-transition:enter="transition ease-out duration-100"
                                x-transition:enter-start="opacity-0 scale-90"
                                x-transition:enter-end="opacity-100 scale-100"
                                x-transition:leave="transition ease-in duration-100"
                                x-transition:leave-start="opacity-100 scale-100"
                                x-transition:leave-end="opacity-0 scale-90">
                                <div class="pl-3 ">
                                    <ul class="text-gray-600">
                                        <li id="menu-item-60247" class="md:hover:text-orange-300 menu-item-60247">
                                            <a href="{{url_for('category_page', collectionProduct ='necklaces' , famillyProduct = 'jewelry')}}"
                                                class="block px-4 py-2  dark:hover:bg-gray-600 dark:hover:text-white">Necklaces</a>
                                        </li>
                                        <li id="menu-item-58603" class="md:hover:text-orange-300 menu-item-58603">
                                            <a href="{{url_for('category_page', collectionProduct ='pendants' , famillyProduct = 'jewelry')}}"
                                                class="block px-4 py-2  dark:hover:bg-gray-600 dark:hover:text-white">Pendants</a>
                                        </li>
                                        <li id="menu-item-58910" class="md:hover:text-orange-300 menu-item-58910">
                                            <a href="{{url_for('category_page', collectionProduct ='rings' , famillyProduct = 'jewelry')}}"
                                                class="block px-4 py-2  dark:hover:bg-gray-600 dark:hover:text-white">Rings</a>
                                        </li>
                                        <li id="menu-item-3078" class="md:hover:text-orange-300 menu-item-3078">
                                            <a href="{{url_for('category_page', collectionProduct ='bracelets' , famillyProduct = 'jewelry')}}"
                                                class="block px-4 py-2  dark:hover:bg-gray-600 dark:hover:text-white">Bracelets</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="border-b  border-gray-300 py-3" x-data="{open:false}">
                            <h3 class="-my-3 ">
                                <button type="button" @click="open=!open"
                                    class="flex w-full items-center justify-between text-black py-3 text-sm"
                                    aria-controls="filter-section-0" aria-expanded="false">
                                    <span>ACCESORIES</span>
                                    <span class="ml-6 flex items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                            fill="currentColor" class="w-5 h-5" x-show="open">
                                            <path fill-rule="evenodd"
                                                d="M14.77 12.79a.75.75 0 01-1.06-.02L10 8.832 6.29 12.77a.75.75 0 11-1.08-1.04l4.25-4.5a.75.75 0 011.08 0l4.25 4.5a.75.75 0 01-.02 1.06z"
                                                clip-rule="evenodd" />
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                            fill="currentColor" class="w-5 h-5" x-show="!open">
                                            <path fill-rule="evenodd"
                                                d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                                                clip-rule="evenodd" />
                                        </svg>
                                    </span>
                                </button>
                            </h3>
                            <div class="pt-2 "  x-show="open" x-cloak
                                x-transition:enter="transition ease-out duration-100"
                                x-transition:enter-start="opacity-0 scale-90"
                                x-transition:enter-end="opacity-100 scale-100"
                                x-transition:leave="transition ease-in duration-100"
                                x-transition:leave-start="opacity-100 scale-100"
                                x-transition:leave-end="opacity-0 scale-90">
                                <div class="pl-3 ">
                                    <ul class="text-gray-600">
                                        <li class="md:hover:text-orange-300">
                                            <a href="{{url_for('category_page', collectionProduct ='briefcases', famillyProduct='accesories')}}"
                                                class="block px-4 py-2  dark:hover:bg-gray-600 dark:hover:text-white">Briefcases</a>
                                        </li>
                                        <li class="md:hover:text-orange-300">
                                            <a href="#"
                                                class="block px-4 py-2  dark:hover:bg-gray-600 dark:hover:text-white pointer-events-none">Hats</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="border-b  border-gray-300 py-3" ">
                            <h3 class="-my-3 ">
                                <a href="{{ url_for('about_us') }}"
                                    class="flex w-full items-center justify-between text-black py-3 text-sm"
                                    >
                                    <span>ABOUT</span>
                                    <!-- <span class="ml-6 flex items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                            fill="currentColor" class="w-5 h-5" x-show="open">
                                            <path fill-rule="evenodd"
                                                d="M14.77 12.79a.75.75 0 01-1.06-.02L10 8.832 6.29 12.77a.75.75 0 11-1.08-1.04l4.25-4.5a.75.75 0 011.08 0l4.25 4.5a.75.75 0 01-.02 1.06z"
                                                clip-rule="evenodd" />
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                            fill="currentColor" class="w-5 h-5" x-show="!open">
                                            <path fill-rule="evenodd"
                                                d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                                                clip-rule="evenodd" />
                                        </svg>
                                    </span> -->
                                </a>
                            </h3>

                        </div>
                        <div class="border-b  border-gray-300 py-3" ">
                            <h3 class="-my-3 ">
                                <a href="{{ url_for('contact') }}"
                                    class="flex w-full items-center justify-between text-black py-3 text-sm"
                                    >
                                    <span>CONTACT US</span>
                                    <!-- <span class="ml-6 flex items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                            fill="currentColor" class="w-5 h-5" x-show="open">
                                            <path fill-rule="evenodd"
                                                d="M14.77 12.79a.75.75 0 01-1.06-.02L10 8.832 6.29 12.77a.75.75 0 11-1.08-1.04l4.25-4.5a.75.75 0 011.08 0l4.25 4.5a.75.75 0 01-.02 1.06z"
                                                clip-rule="evenodd" />
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                            fill="currentColor" class="w-5 h-5" x-show="!open">
                                            <path fill-rule="evenodd"
                                                d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                                                clip-rule="evenodd" />
                                        </svg>
                                    </span> -->
                                </a>
                            </h3>

                        </div>







                        

                    </div>
                    

    </div>
</section>
<!-- Dev tools -->
<div style="z-index: 70;"
    id="alpine-devtools"
    
    
    >
</div>
</div>

<script>
    // document.getElementsByClassName('length_prod_chechout')[0].innerHTML = 1
    // document.getElementsByClassName('length_prod_chechout')[1].innerHTML = 2
    //window.localStorage.setItem('productListToCheckOut', JSON.stringify([]));
    //Récupération des pièces eventuellement stockées dans le localStorage
    let checkProductNavigator = window.localStorage.getItem('productListToCheckOut');
    if (checkProductNavigator === null) {
        window.localStorage.setItem('productListToCheckOut', JSON.stringify([]));
    }
    checkProductNavigator = window.localStorage.getItem('productListToCheckOut')
    total = 0
    for (var i = 0; i < JSON.parse(checkProductNavigator).length; i++) {
        total += Number(JSON.parse(checkProductNavigator)[i].price);
    }
    dollar_format = new Intl.NumberFormat('en-US', {
        style: 'currency',
        currency: 'USD',
    });
    console.log(total)

    document.getElementById('priceAllProduct').innerHTML = dollar_format.format(total)

    document.getElementsByClassName('length_prod_chechout')[0].innerHTML = JSON.parse(window.localStorage.getItem('productListToCheckOut')).length
    document.getElementsByClassName('length_prod_chechout')[1].innerHTML = JSON.parse(window.localStorage.getItem('productListToCheckOut')).length
</script>


  </div>
</section>

















<div class="bg-black pt-6">
    <div class="flex flex-col justify-center border-none bg-black h-90 w-full text-white">
        <h1 class="text-white text-center text-2xl">JOINT MISSION FOR SWATCH AND OMEGA: THE MOONSWATCH BIOCERAMIC COLLECTION</h1>
        <h2 class="text-center text-white">Which mission will you choose?</h2>
    
        <div class="px-6">
            <div class="flex mx-4">
                <a href="#sun">
                    <img src="/static/img/planet/Sun_2.png" alt="">
                </a>
                <a href="#mercure">
                    <img src="/static/img/planet/Mercury.png" alt="">
                </a>
                <a href="#venus">
                    <img src="/static/img/planet/Venus.png" alt="">
                </a>
                <a href="#earth">
                    <img src="/static/img/planet/Earth.png" alt="">
                </a>
                <a href="#moon">
                    <img src="/static/img/planet/Moon.png" alt="">
                </a>
                <a href="#mars">
                    <img src="/static/img/planet/Mars.png" alt="">
                </a>
                <a href="#jupiter">
                    <img src="/static/img/planet/Jupiter.png" alt="">
                </a>
                <a href="#saturn">
                    <img src="/static/img/planet/Saturn.png" alt="">
                </a>
                <a href="#uranus">
                    <img src="/static/img/planet/Uranus.png" alt="">
                </a>
                <a href="#nepturne">        
                    <img src="/static/img/planet/Neptune.png" alt="">
                </a>
                <a href="#pluton">        
                    <img src="/static/img/planet/Pluto.png" alt="">
                </a>
            </div>
        </div>
    </div>
    <div class="z-[60] bg-black pt-10 space-y-[5rem]">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-y-6" id="sun">
            <div class="flex justify-center items-center order-last md:order-first">
                <div class=" mx-4 space-y-6 w-full">
                    <div class="space-y-8">
                        <h1 class="text-white text-3xl" >Mission to the Sun</h1>
                        <h2 class="text-white text-xl">
                            The star of the collection with the golden sun brushed
                        </h2>
                    </div>
                    <div class="">
                        <a href="{{url_for('product_page' , productName='sun')}}" class="border-2 rounded-md flex justify-between border-white px-16 font-bold uppercase text-white text-xl py-4">
                            <span>Going on a mission</span>
                            <i class='bx bx-right-arrow-alt float-right'></i>
                        </a>
                    </div>
                </div>
            </div>
            <div>
                <img src="/static/watches/sun.jpg" alt="">
            </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-y-6" id="mercure">
            <div>
                <img src="/static/watches/mercury.jpg" alt="">
            </div>
            <div class="flex justify-center items-center order-last">
                <div class=" mx-4 space-y-6 w-full">
                    <div class="space-y-8">
                        <h1 class="text-white text-3xl" >Mission to Mercury</h1>
                        <h2 class="text-white text-xl">
                            A tribute to the fastest winged messenger in mythology, in dark grey.
                        </h2>
                    </div>
                    <div class="">
                        <a href="{{url_for('product_page' , productName='mercury')}}" class="border-2 rounded-md flex justify-between border-white px-16 font-bold uppercase text-white text-xl py-4">
                            <span>Going on a mission</span>
                            <i class='bx bx-right-arrow-alt float-right'></i>
                        </a>
                    </div>
                </div>
            </div>    
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-y-6" id="venus">
            <div class="flex justify-center items-center order-last md:order-first">
                <div class=" mx-4 space-y-6 w-full">
                    <div class="space-y-8">
                        <h1 class="text-white text-3xl" >Mission to Venus
                        </h1>
                        <h2 class="text-white text-xl">
                            Celebrates the planet of love in powder pink with round counters.                    </h2>
                    </div>
                    <div class="">
                        <a href="{{url_for('product_page' , productName='venus')}}" class="border-2 rounded-md flex justify-between border-white px-16 font-bold uppercase text-white text-xl py-4">
                            <span>Going on a mission</span>
                            <i class='bx bx-right-arrow-alt float-right'></i>
                        </a>
                    </div>
                </div>
            </div>        <div>
                <img src="/static/watches/venus.jpg" alt="">
            </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-y-6" id="earth">
            <div>
                <img src="/static/watches/earth.jpg" alt="">
            </div>
            <div class="flex justify-center items-center order-last">
                <div class=" mx-4 space-y-6 w-full">
                    <div class="space-y-8">
                        <h1 class="text-white text-3xl" >Mission on Earth</h1>
                        <h2 class="text-white text-xl">
                            Celebrating our precious planet in blue and green
                        </h2>
                    </div>
                    <div class="">
                        <a href="{{url_for('product_page' , productName='earth')}}" class="border-2 rounded-md flex justify-between border-white px-16 font-bold uppercase text-white text-xl py-4">
                            <span>Going on a mission</span>
                            <i class='bx bx-right-arrow-alt float-right'></i>
                        </a>
                    </div>
                </div>
        </div>    
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-y-6" id="moon">
            <div class="flex justify-center items-center order-last md:order-first">
                <div class=" mx-4 space-y-6 w-full">
                    <div class="space-y-8">
                        <h1 class="text-white text-3xl" >Mission to the Moon</h1>
                        <h2 class="text-white text-xl">
                            Model with exact design and dimensions of the OMEGA Speedmaster Moonwatch
                        </h2>
                    </div>
                    <div class="">
                        <a href="{{url_for('product_page' , productName='moon')}}" class="border-2 rounded-md flex justify-between border-white px-16 font-bold uppercase text-white text-xl py-4">
                            <span>Going on a mission</span>
                            <i class='bx bx-right-arrow-alt float-right'></i>
                        </a>
                    </div>
                </div>
            </div>        <div>
                <img src="/static/watches/moon.jpg" alt="">
            </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-y-6" id="mars">
            <div>
                <img src="/static/watches/mars.jpg" alt="">
            </div>
            <div class="flex justify-center items-center order-last">
                <div class=" mx-4 space-y-6 w-full">
                    <div class="space-y-8">
                        <h1 class="text-white text-3xl" >Mission to Mars                    </h1>
                        <h2 class="text-white text-xl">
                            Flamboyant red watch with the hands of the "Alaska Project"                    </h2>
                    </div>
                    <div class="">
                        <a href="{{url_for('product_page' , productName='mars')}}" class="border-2 rounded-md flex justify-between border-white px-16 font-bold uppercase text-white text-xl py-4">
                            <span>Going on a mission</span>
                            <i class='bx bx-right-arrow-alt float-right'></i>
                        </a>
                    </div>
                </div>
            </div>    
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-y-6" id="jupyter">
            <div class="flex justify-center items-center order-last md:order-first">
                <div class=" mx-4 space-y-6 w-full">
                    <div class="space-y-8">
                        <h1 class="text-white text-3xl" >Mission to Jupiter</h1>
                        <h2 class="text-white text-xl">
                            Bronze collector's watch with orange "Ultraman" second hand
    
                        </h2>
                    </div>
                    <div class="">
                        <a href="{{url_for('product_page' , productName='jupiter')}}" class="border-2 rounded-md flex justify-between border-white px-16 font-bold uppercase text-white text-xl py-4">
                            <span>Going on a mission</span>
                            <i class='bx bx-right-arrow-alt float-right'></i>
                        </a>
                    </div>
                </div>
            </div>        <div>
                <img src="/static/watches/jupiter.jpg" alt="">
            </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-y-6" id="saturn">
            <div>
                <img src="/static/watches/saturne.jpg" alt="">
            </div>
            <div class="flex justify-center items-center order-last">
                <div class=" mx-4 space-y-6 w-full">
                    <div class="space-y-8">
                        <h1 class="text-white text-3xl" >Mission to Saturn
                        </h1>
                        <h2 class="text-white text-xl">
                            Elegantly beige watch with Saturn's rings at 6 o'clock                    </h2>
                    </div>
                    <div class="">
                        <a href="{{url_for('product_page' , productName='saturne')}}" class="border-2 rounded-md flex justify-between border-white px-16 font-bold uppercase text-white text-xl py-4">
                            <span>Going on a mission</span>
                            <i class='bx bx-right-arrow-alt float-right'></i>
                        </a>
                    </div>
                </div>
            </div>    
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-y-6 " id="uranus">
            <div class="flex justify-center items-center order-last md:order-first">
                <div class=" mx-4 space-y-6 w-full">
                    <div class="space-y-8">
                        <h1 class="text-white text-3xl" >Mission to Uranus
                        </h1>
                        <h2 class="text-white text-xl">
                            Pale blue tribute to the Greek god of the sky
                        </h2>
                    </div>
                    <div class="">
                        <a href="{{url_for('product_page' , productName='uranus')}}" class="border-2 rounded-md flex justify-between border-white px-16 font-bold uppercase text-white text-xl py-4">
                            <span>Going on a mission</span>
                            <i class='bx bx-right-arrow-alt float-right'></i>
                        </a>
                    </div>
                </div>
            </div>        <div>
                <img src="/static/watches/uranus.jpg" alt="">
            </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-y-6" id="nepturne">
            <div>
                <img src="/static/watches/neptune.jpg" alt="">
            </div>
            <div class="flex justify-center items-center order-last">
                <div class=" mx-4 space-y-6 w-full">
                    <div class="space-y-8">
                        <h1 class="text-white text-3xl" >Mission to Neptune</h1>
                        <h2 class="text-white text-xl">
                            Bow to the ice giant in a deep and icy blue
                        </h2>
                    </div>
                    <div class="">
                        <a href="{{url_for('product_page' , productName='nepturne')}}" class="border-2 rounded-md flex justify-between border-white px-16 font-bold uppercase text-white text-xl py-4">
                            <span>Going on a mission</span>
                            <i class='bx bx-right-arrow-alt float-right'></i>
                        </a>
                    </div>
                </div>
            </div>    
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-y-6" id="pluton">
            <div class="flex justify-center items-center order-last md:order-first">
                <div class=" mx-4 space-y-6 w-full">
                    <div class="space-y-8">
                        <h1 class="text-white text-3xl" >Mission to Pluto
                        </h1>
                        <h2 class="text-white text-xl">
                            Model dedicated to the dwarf planet, in gray and burgundy
                        </h2>
                    </div>
                    <div class="">
                        <a href="{{url_for('product_page' , productName='pluton')}}" class="border-2 rounded-md flex justify-between border-white px-16 font-bold uppercase text-white text-xl py-4">
                            <span>Going on a mission</span>
                            <i class='bx bx-right-arrow-alt float-right'></i>
                        </a>
                    </div>
                </div>
            </div>        <div>
                <img src="/static/watches/pluto.jpg" alt="">
            </div>
        </div>
    
    </div>
    
</div>







<footer class="p-4 bg-black text-white sm:p-6 dark:bg-gray-900 mt-32">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4">
        <div class="mb-6 md:mb-4">
            <h2 class=" text-sm font-semibold text-gray-100 uppercase dark:text-white">
                Follow us
            </h2>
            <div class="h-1 w-10 mb-6 mt-4 bg-gray-300"></div>

            <div class=" mt-3">
                <p class="text-[2rem]">Luxury Watches Swiss</p>
                <p>20w 47th St, Ste. 401, Geneve, GEN, 10036</p>
            </div>
            <a href="/" class="flex  items-center ">
                <img class="h-20  mt-8" alt="Luxury watches" src="{{ url_for('static', filename='img/logo.png') }}" />
            </a>
            <div class="flex  space-x-6 mt-16">
                <a href="#" class="text-gray-500 hover:text-gray-100
                dark:hover:text-white">
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0
                    0 24 24" aria-hidden="true">
                        <path fill-rule="evenodd" d="M22
                        12c0-5.523-4.477-10-10-10S2 6.477 2
                        12c0 4.991 3.657 9.128 8.438
                        9.878v-6.987h-2.54V12h2.54V9.797c0-2.506
                        1.492-3.89 3.777-3.89 1.094 0 2.238.195
                        2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63
                        1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343
                        21.128 22 16.991 22 12z" clip-rule="evenodd" />
                    </svg>
                    <span class="sr-only">Facebook page</span>
                </a>
                <a href="#" class="text-gray-500 hover:text-gray-100
                    dark:hover:text-white">
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                        <path fill-rule="evenodd" d="M12.315 2c2.43
                            0 2.784.013 3.808.06
                            1.064.049 1.791.218 2.427.465a4.902
                            4.902 0 011.772 1.153 4.902 4.902 0
                            011.153 1.772c.247.636.416 1.363.465
                            2.427.048 1.067.06 1.407.06 4.123v.08c0
                            2.643-.012 2.987-.06 4.043-.049
                            1.064-.218 1.791-.465 2.427a4.902 4.902
                            0 01-1.153 1.772 4.902 4.902 0 01-1.772
                            1.153c-.636.247-1.363.416-2.427.465-1.067.048-1.407.06-4.123.06h-.08c-2.643
                            0-2.987-.012-4.043-.06-1.064-.049-1.791-.218-2.427-.465a4.902
                            4.902 0 01-1.772-1.153 4.902 4.902 0
                            01-1.153-1.772c-.247-.636-.416-1.363-.465-2.427-.047-1.024-.06-1.379-.06-3.808v-.63c0-2.43.013-2.784.06-3.808.049-1.064.218-1.791.465-2.427a4.902
                            4.902 0 011.153-1.772A4.902 4.902 0
                            015.45 2.525c.636-.247 1.363-.416
                            2.427-.465C8.901 2.013 9.256 2 11.685
                            2h.63zm-.081 1.802h-.468c-2.456
                            0-2.784.011-3.807.058-.975.045-1.504.207-1.857.344-.467.182-.8.398-1.15.748-.35.35-.566.683-.748
                            1.15-.137.353-.3.882-.344 1.857-.047
                            1.023-.058 1.351-.058 3.807v.468c0
                            2.456.011 2.784.058 3.807.045.975.207
                            1.504.344 1.857.182.466.399.8.748
                            1.15.35.35.683.566
                            1.15.748.353.137.882.3 1.857.344
                            1.054.048 1.37.058 4.041.058h.08c2.597 0
                            2.917-.01 3.96-.058.976-.045 1.505-.207
                            1.858-.344.466-.182.8-.398
                            1.15-.748.35-.35.566-.683.748-1.15.137-.353.3-.882.344-1.857.048-1.055.058-1.37.058-4.041v-.08c0-2.597-.01-2.917-.058-3.96-.045-.976-.207-1.505-.344-1.858a3.097
                            3.097 0 00-.748-1.15 3.098 3.098 0
                            00-1.15-.748c-.353-.137-.882-.3-1.857-.344-1.023-.047-1.351-.058-3.807-.058zM12
                            6.865a5.135 5.135 0 110 10.27 5.135
                            5.135 0 010-10.27zm0 1.802a3.333 3.333 0
                            100 6.666 3.333 3.333 0
                            000-6.666zm5.338-3.205a1.2 1.2 0 110 2.4
                            1.2 1.2 0 010-2.4z" clip-rule="evenodd" />
                    </svg>
                    <span class="sr-only">Instagram page</span>
                </a>
                <a href="#" class="text-gray-500
                        hover:text-gray-100 dark:hover:text-white">
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                        <path d="M8.29 20.251c7.547 0
                                11.675-6.253
                                11.675-11.675 0-.178
                                0-.355-.012-.53A8.348 8.348 0 0022
                                5.92a8.19 8.19 0 01-2.357.646 4.118
                                4.118 0 001.804-2.27 8.224 8.224 0
                                01-2.605.996 4.107 4.107 0 00-6.993
                                3.743 11.65 11.65 0 01-8.457-4.287
                                4.106 4.106 0 001.27 5.477A4.072
                                4.072 0 012.8 9.713v.052a4.105 4.105
                                0 003.292 4.022 4.095 4.095 0
                                01-1.853.07 4.108 4.108 0 003.834
                                2.85A8.233 8.233 0 012 18.407a11.616
                                11.616 0 006.29 1.84" />
                    </svg>
                    <span class="sr-only">Twitter page</span>
                </a>
                <a href="#" class="text-gray-500
                            hover:text-gray-100
                            dark:hover:text-white">
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                        <path fill-rule="evenodd" d="M12
                                    2C6.477 2 2 6.484 2
                                    12.017c0 4.425 2.865 8.18 6.839
                                    9.504.5.092.682-.217.682-.483
                                    0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608
                                    1.003.07 1.531 1.032 1.531
                                    1.032.892 1.53 2.341 1.088
                                    2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951
                                    0-1.093.39-1.988
                                    1.029-2.688-.103-.253-.446-1.272.098-2.65
                                    0 0 .84-.27 2.75 1.026A9.564
                                    9.564 0 0112 6.844c.85.004
                                    1.705.115 2.504.337 1.909-1.296
                                    2.747-1.027 2.747-1.027.546
                                    1.379.202 2.398.1 2.651.64.7
                                    1.028 1.595 1.028 2.688 0
                                    3.848-2.339 4.695-4.566
                                    4.943.359.309.678.92.678 1.855 0
                                    1.338-.012 2.419-.012 2.747 0
                                    .268.18.58.688.482A10.019 10.019
                                    0 0022 12.017C22 6.484 17.522 2
                                    12 2z" clip-rule="evenodd" />
                    </svg>
                    <span class="sr-only">GitHub account</span>
                </a>
                <a href="#" class="text-gray-500
                                hover:text-gray-100
                                dark:hover:text-white">
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0
                                    24 24" aria-hidden="true">
                        <path fill-rule="evenodd" d="M12
                                        2C6.48 2 2 6.48 2
                                        12s4.48 10 10 10c5.51 0
                                        10-4.48 10-10S17.51 2 12
                                        2zm6.605 4.61a8.502 8.502 0
                                        011.93
                                        5.314c-.281-.054-3.101-.629-5.943-.271-.065-.141-.12-.293-.184-.445a25.416
                                        25.416 0
                                        00-.564-1.236c3.145-1.28
                                        4.577-3.124 4.761-3.362zM12
                                        3.475c2.17 0 4.154.813 5.662
                                        2.148-.152.216-1.443
                                        1.941-4.48
                                        3.08-1.399-2.57-2.95-4.675-3.189-5A8.687
                                        8.687 0 0112
                                        3.475zm-3.633.803a53.896
                                        53.896 0 013.167
                                        4.935c-3.992 1.063-7.517
                                        1.04-7.896 1.04a8.581 8.581
                                        0 014.729-5.975zM3.453
                                        12.01v-.26c.37.01 4.512.065
                                        8.775-1.215.25.477.477.965.694
                                        1.453-.109.033-.228.065-.336.098-4.404
                                        1.42-6.747 5.303-6.942
                                        5.629a8.522 8.522 0
                                        01-2.19-5.705zM12
                                        20.547a8.482 8.482 0
                                        01-5.239-1.8c.152-.315
                                        1.888-3.656
                                        6.703-5.337.022-.01.033-.01.054-.022a35.318
                                        35.318 0 011.823 6.475 8.4
                                        8.4 0
                                        01-3.341.684zm4.761-1.465c-.086-.52-.542-3.015-1.659-6.084
                                        2.679-.423 5.022.271
                                        5.314.369a8.468 8.468 0
                                        01-3.655 5.715z" clip-rule="evenodd" />
                    </svg>
                    <span class="sr-only">Dribbbel
                        account</span>
                </a>
            </div>

        </div>
        <div>
            <h2 class="text-sm font-semibold text-gray-100 uppercase dark:text-white">
                Menu
            </h2>
            <div class="h-1 w-10 mb-6 mt-3 bg-gray-300"></div>

            <ul class="mt-3 text-gray-300 dark:text-gray-400">
                <li class="mb-4">
                    <a href="{{url_for('category_page', collectionProduct ='rolex', famillyProduct='watches')}}" class="hover:underline">ROLEX</a>
                </li>
                <li class="mb-4">
                    <a href="{{url_for('category_page', collectionProduct ='audemars-piguet', famillyProduct='watches')}}" class="hover:underline">AUDEMARS PIGUET</a>
                </li>
                <li class="mb-4">
                    <a href="{{url_for('category_page', collectionProduct ='patek-philippe', famillyProduct='watches')}}" class="hover:underline">PATEK PHILIPPE</a>
                </li>
                <li class="mb-4">
                    <a href="{{url_for('category_page', collectionProduct ='richard-mille', famillyProduct='watches')}}" class="hover:underline">RICHARD MILLE</a>
                </li>
            </ul>
        </div>
        <div>
            <h2 class="text-sm font-semibold text-gray-100 uppercase dark:text-white">
                TRUSTED SELLER
            </h2>
            <div class="h-1 w-10 mb-2 mt-3 bg-gray-300"></div>
            <div class="mb-8">
                <div class="text-center">
                    <img src="{{ url_for('static', filename='img/home/google-ar21.svg') }}" alt="">
                </div>
                <div class="text-center">
                    <i class='bx bxs-star text-[25px] text-[#FFD700]'></i>
                    <i class='bx bxs-star text-[25px] text-[#FFD700]'></i>
                    <i class='bx bxs-star text-[25px] text-[#FFD700]'></i>
                    <i class='bx bxs-star text-[25px] text-[#FFD700]'></i>
                    <i class='bx bxs-star text-[25px] text-[#FFD700]'></i>
                </div>
                <div>
                    <p class="text-center font-semibold">EXCELLENT</p>
                    <p class="text-center" >Based on 38 reviews</p>
                </div>
            </div>

            <div class="w-full sm:w-5/6 ">
                <div class="swiper googleSwipper">
                    <div class="swiper-wrapper mb-12">
                        <div class="swiper-slide">
                            <div class="relative shadow-lg  w-full sm:w-5/6  sm:h-[12rem] h-[12rem] ">
                                <div
                                    class="rounded-full h-12 w-12 float-left  bg-[#118ada] flex justify-center items-center m-1">
                                    <h1 class="uppercase text-2xl font-light text-white">B</h1>
                                </div>
                                <div class="float-left ml-3 text-center">
                                    <div>
                                        <p>Benard Le Roux</p>
                                        <p class="text-xs">2023-01-03</p>
                                    </div>
                                </div>

                                <div class="rounded-full h-8 w-8 float-right text-center bg-white m-1">
                                    <img src="{{ url_for('static', filename='img/home/google.svg') }}" alt="">
                                </div>
                                <div class="clear-left">
                                    <div class='ml-2'>
                                        <i class='bx bxs-star text-[20px] text-[#FFD700]'></i>
                                        <i class='bx bxs-star text-[20px] text-[#FFD700]'></i>
                                        <i class='bx bxs-star text-[20px] text-[#FFD700]'></i>
                                        <i class='bx bxs-star text-[20px] text-[#FFD700]'></i>
                                        <i class='bx bxs-star text-[20px] text-[#FFD700]'></i>
                                    </div>
                                    <div>
                                        <p class="px-4 text-sm">
                                            Great customer service and best prices.
                                        </p>
                                    </div>

                                </div>


                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="relative shadow-lg  w-full sm:w-5/6  sm:h-[12rem] h-[12rem] ">
                                <div
                                    class="rounded-full h-12 w-12 float-left  bg-[#118ada] flex justify-center items-center m-1">
                                    <h1 class="uppercase text-2xl font-light text-white">J</h1>
                                </div>
                                <div class="float-left ml-3 text-center">
                                    <div>
                                        <p>Jean Robert</p>
                                        <p class="text-xs">2022-11-03</p>
                                    </div>
                                </div>

                                <div class="rounded-full h-8 w-8 float-right text-center bg-white m-1">
                                    <img src="{{ url_for('static', filename='img/home/google.svg') }}" alt="">
                                </div>
                                <div class="clear-left">
                                    <div>
                                        <i class='bx bxs-star text-[20px] text-[#FFD700]'></i>
                                        <i class='bx bxs-star text-[20px] text-[#FFD700]'></i>
                                        <i class='bx bxs-star text-[20px] text-[#FFD700]'></i>
                                        <i class='bx bxs-star text-[20px] text-[#FFD700]'></i>
                                        <i class='bx bxs-star text-[20px] text-[#FFD700]'></i>
                                    </div>
                                    <div>
                                        <p class="px-4 text-sm">
                                            Worked with Vlad and it was a great experience…Was able to get the exact
                                            watch I wanted very quickly and offered a great price. Highly recommend
                                            working with him!
                                        </p>
                                    </div>

                                </div>


                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="relative shadow-lg  w-full sm:w-5/6  sm:h-[12rem] h-[12rem] ">
                                <div
                                    class="rounded-full h-12 w-12 float-left  bg-[#118ada] flex justify-center items-center m-1">
                                    <h1 class="uppercase text-2xl font-light text-white">C</h1>
                                </div>
                                <div class="float-left ml-3 text-center">
                                    <div>
                                        <p>Collin Njilla</p>
                                        <p class="text-xs">2023-01-09</p>
                                    </div>
                                </div>

                                <div class="rounded-full h-8 w-8 float-right text-center bg-white m-1">
                                    <img src="{{ url_for('static', filename='img/home/google.svg') }}" alt="">
                                </div>
                                <div class="clear-left">
                                    <div>
                                        <i class='bx bxs-star text-[20px] text-[#FFD700]'></i>
                                        <i class='bx bxs-star text-[20px] text-[#FFD700]'></i>
                                        <i class='bx bxs-star text-[20px] text-[#FFD700]'></i>
                                        <i class='bx bxs-star text-[20px] text-[#FFD700]'></i>
                                        <i class='bx bxs-star text-[20px] text-[#FFD700]'></i>
                                    </div>
                                    <div>
                                        <p class="px-4 text-sm">
                                            This is my first time purchasing a luxury watch online and it will not be the last! I intend to make all future purchases through Luxury Watches USA.Thank you Luxury Watches USA I look forward to our next endeavor!                                        </p>
                                    </div>

                                </div>


                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="relative shadow-lg  w-full sm:w-5/6  sm:h-[12rem] h-[12rem] ">
                                <div
                                    class="rounded-full h-12 w-12 float-left  bg-[#118ada] flex justify-center items-center m-1">
                                    <h1 class="uppercase text-2xl font-light text-white">P</h1>
                                </div>
                                <div class="float-left ml-3 text-center">
                                    <div>
                                        <p>James Figliozzi</p>
                                        <p class="text-xs">2023-02-19</p>
                                    </div>
                                </div>

                                <div class="rounded-full h-8 w-8 float-right text-center bg-white m-1">
                                    <img src="{{ url_for('static', filename='img/home/google.svg') }}" alt="">
                                </div>
                                <div class="clear-left">
                                    <div>
                                        <i class='bx bxs-star text-[20px] text-[#FFD700]'></i>
                                        <i class='bx bxs-star text-[20px] text-[#FFD700]'></i>
                                        <i class='bx bxs-star text-[20px] text-[#FFD700]'></i>
                                        <i class='bx bxs-star text-[20px] text-[#FFD700]'></i>
                                        <i class='bx bxs-star text-[20px] text-[#FFD700]'></i>
                                    </div>
                                    <div>
                                        <p class="px-4 text-sm">
                                            Excellent service which I would highly recommend. Super knowledgeable and responsive. Seamless purchase and delivery process. Will definitely buy from you guys again.
                                        </p>
                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination text-[var(--first-color)]"></div>

                </div>

            </div>



        </div>
        <div>
            <h2 class="text-sm font-semibold text-gray-100 uppercase dark:text-white">
                SIGNUP FOR NEWSLETTER
            </h2>
            <div class="h-1 w-10 mb-6 mt-3 bg-gray-300"></div>
            <div>
                <form action="" method="post">
                    <div>
                        <label class="block font-bold mb-2" for="newslettersign">Email address:</label>
                        <input type="search" name="newslettersign" id="" class="w-full border-gray-300" placeholder="Your Email Adress">
                    </div>
                    <div>
                        <button type="submit" class="mt-4" >
                            <span class="py-2.5 bg-black px-4 text-white font-bold">SIGNUP</span>
                        </button>
                    </div>
                </form>
            </div>



        </div>

    </div>
    <hr class="my-4 border-gray-200  dark:border-gray-700 lg:my-8" />
    <div class="sm:flex sm:items-center sm:justify-between pr-20">
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023
            <a href="index.html" class="hover:underline">Swiss Luxury</a>.All Rights Reserved.
        </span>
        <div class="flex mt-4 space-x-6 sm:justify-center sm:mt-0">
            <a href="#" class="text-gray-500 hover:text-gray-100 dark:hover:text-white">
                <i class='bx bxl-visa text-[3rem]'></i>
                <span class="sr-only">Visa card</span>
            </a>
            <a href="#" class="text-gray-500 hover:text-gray-100 dark:hover:text-white">
                <i class='bx bxl-mastercard text-[3rem]'></i>
                <span class="sr-only">Master card</span>
            </a>
            <a href="#" class="text-gray-500 hover:text-gray-100 dark:hover:text-white">
                <i class='bx bxl-paypal text-[3rem]'></i>
                <span class="sr-only">Paypal card</span>
            </a>
            <a href="#" class="text-gray-500 hover:text-gray-100 dark:hover:text-white">
                <i class='bx bxl-bitcoin text-[3rem] '></i>
                <span class="sr-only">Bitcoin</span>
            </a>
            <a href="#" class="text-gray-500 hover:text-gray-100 dark:hover:text-white">
                <i class='bx bxs-credit-card text-[3rem]'></i>
                <span class="sr-only">Credit card</span>
            </a>
        </div>
    </div>
</footer>
<!-- <div class="fixed left-5 bottom-8 md:bottom-[3.2rem] group z-30">
    <a href="https://wa.me/+237657815959?text=">
        <button type="button" class="flex items-center justify-center text-white bg-green-400 rounded-full w-14 h-14">
            <i class='bx bxl-whatsapp text-[2rem]'></i>
            <span class="sr-only">Open actions menu</span>
        </button>
    </a>
</div> -->
<script src="//code.tidio.co/fqjyrugh7n7v7syfzw12smmxiq0kvike.js" async></script>

<script>
    window.addEventListener("scroll", (event) => {
        let header = document.getElementById("myheader");
        header.classList.toggle("sticky", window.scrollY > 160)
        header.classList.toggle("fade-in", window.scrollY > 160)
      
      });
</script>
</body>
</html>