{% extends "layout/base_product.html" %}
{% block title %}{{title_page}}{% endblock %}
{% block breadcum1 %}{{collection}}{% endblock %}
{% block breadcum1link %}/{% endblock %}
{% block breadcum2 %}{{category}}{% endblock %}
{% block product_nameheader %}
    {% if brandname is defined   %}
        {{brandname | upper}}
    {% else %}
        {{category | upper}}
    {% endif %} 
    {% if request.endpoint =="allwatches" %}
        ALL LUXURY WATCH 
    {% endif %}
{% endblock %}
{% block titlesection %}
    {{description}}
{% endblock %}

{% block paragraphedescription %}
    {% for x in descriptionParagraphe.split("$p") %}
        <p>{{x}}</p>
    {% endfor %}
{% endblock %}

{% block product_list %}
    <style>
        .card_:hover .card_view {
            right: 0;
            opacity: 0.9;
        }

        .card_view {
            bottom: calc(9.3rem + 2px);
        }
        .card_:hover .view_text {
            background: var(--first-color);
            opacity: 100;
            color: white;
        }
    </style>

    <div class="mb-8">
        <div
            class=" w-full grid  grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 sm:justify-center sm:items-start sm:gap-1 grid-container lg:pt-8">
            {% for cat in cat_list.items %}
                <article
                    class="card_ relative text-center h-72 bg-[var(--container-color)] pt-8 my-2  overflow-y-hidden duration-300">


                    <a href="{{url_for('brand_page', collectionProduct = cat.collection , famillyProduct = 'watches' , brandProduct = cat.name)}}" class="">
                        <img src="{{ url_for('static', filename=cat.image) }}" alt="" class="h-40 sm:scale-[1.30]">
                        <div class="view_text absolute py-6 top-2/4 w-full text-center opacity-[0.9] bg-white  text-gray-500 ">
                            <p class="text-sm font-medium tracking-widest ">{{cat.name|upper }}</p>
                            <!-- <p class="text-[10px]">3 PRODUCTS</p> -->
                        </div>
                    </a>


                </article>
            {% endfor %}
             {% for product in products_list.items %}
                <article
                    class="card_ relative text-center h-[23rem] bg-[var(--container-color)] pt-8 my-2 overflow-y-hidden duration-300">
                    <span
                        class="absolute overflow-y-hidden z-20 -left-3 top-3 bg-[var(--first-color)] pl-5 pr-[0.45rem] py-1 text-[var(--small-font-size)] uppercase text-white font-medium">New</span>
                    <a href="{{url_for("product_page" , productName=product.name)}}" class="">
                        <img src="{{ url_for('static', filename=product.image1) }}" alt="" class="h-40 sm:scale-[1.30]" />
                    </a>
                    <div class="absolute">
                        <a href={{url_for("product_page" , productName=product.name)}}>
                            <p class="mt-4 z-20 font-sans uppercase text-[10px] pt-4">
                                {{product.brand}}
                            </p>
                            <p class="text-sm">{{product.name}}</p>
                            <p class="text-sm font-bold text-black mt-2 text-[var(--product-content)] ">
                                {% if product.price is number %}
                                {{ product.price | numberFormat }} 
                                {% endif %}
                            </p>
                        </a>
                    </div>
                    <button data-modal-toggle="popup-modal" onclick="modalinfo(this)" data-productImage2='{{product.image2}}'
                        data-productName='{{product.name}}' data-productPrice='{{product.price}}'
                        data-productSku='{{product.sku}}' data-productCategory='{{product.category}}'
                        data-productTag='{{product.tag}}'
                        class="card_view hidden sm:block absolute py-1.5 right-full w-full text-center bg-[var(--first-color)] text-white ease-linear duration-200">
                        Quick View
                    </button>
                </article>
            {% endfor %}
            {% for product in products_list.items %}
                <article
                    class="card_ relative text-center h-[23rem] bg-[var(--container-color)] pt-8 my-2 overflow-y-hidden duration-300">
                    <span
                        class="absolute overflow-y-hidden z-20 -left-3 top-3 bg-[var(--first-color)] pl-5 pr-[0.45rem] py-1 text-[var(--small-font-size)] uppercase text-white font-medium">New</span>
                    <a href="{{url_for("product_page" , productName=product.name)}}" class="">
                        <img src="{{ url_for('static', filename=product.image1) }}" alt="" class="h-40 sm:scale-[1.30]" />
                    </a>
                    <div class="absolute">
                        <a href={{url_for("product_page" , productName=product.name)}}>
                            <p class="mt-4 z-20 font-sans uppercase text-[10px] pt-4">
                                {{product.brand}}
                            </p>
                            <p class="text-sm">{{product.name}}</p>
                            <p class="text-sm font-bold text-black mt-2 text-[var(--product-content)] ">
                                {% if product.price is number %}
                                {{ product.price | numberFormat }} 
                                {% endif %}
                            </p>
                        </a>
                    </div>
                    <button data-modal-toggle="popup-modal" onclick="modalinfo(this)" data-productImage2='{{product.image2}}'
                        data-productName='{{product.name}}' data-productPrice='{{product.price}}'
                        data-productSku='{{product.sku}}' data-productCategory='{{product.category}}'
                        data-productTag='{{product.tag}}'
                        class="card_view hidden sm:block absolute py-1.5 right-full w-full text-center bg-[var(--first-color)] text-white ease-linear duration-200">
                        Quick View
                    </button>
                </article>
            {% endfor %}
        </div>
    </div>
    <script>
        dollar_format = new Intl.NumberFormat('en-US', {
            style: 'currency',
            currency: 'USD',
        });

        modalinfo = function (element) {
            document.getElementById('modal_image').src = "/static/" + element.getAttribute('data-productImage2')
            document.getElementById('modal_name').innerHTML = element.getAttribute('data-productName')
            document.getElementById('modal_price').innerHTML = dollar_format.format(element.getAttribute('data-productPrice'))
            document.getElementById('modal_sku').innerHTML = element.getAttribute('data-productSku')
            document.getElementById('modal_categorie').innerHTML = element.getAttribute('data-productCategory')
            document.getElementById('modal_tags').innerHTML = element.getAttribute('data-productTag')
            console.log(document.getElementById('modal_image').src)
            document.getElementById('whatsapp_discus').href = "https://wa.me/+237657815959?text=I am interested in the following watch : " + element.getAttribute('data-productName')
        }
    </script>
{% endblock %}
{% block pagination_block %}
{% if products_list.pages > 1 %}
    {% if request.endpoint == "category_page" %}
        <nav aria-label="Page navigation example" class="flex justify-center">
            <ul class="inline-flex items-center -space-x-px">
                <li class="">
                    <a href= "{% if products_list.has_prev %}{{ url_for(request.endpoint , collectionProduct = request.view_args.collectionProduct ,famillyProduct = request.view_args.famillyProduct , page=products_list.prev_num) }}{% else %}javascript:void(0){% endif %}"
                        class="px-3 py-2 leading-tight text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                        <span class=" sr-only">Previous</span>
                        <i class='bx bx-chevron-left'></i>
                    </a>
                </li>   
                {% for number in products_list.iter_pages(left_edge=1, left_current=1, right_current=1, right_edge=1) %}
                    <li>
                        <a href="{{ url_for(request.endpoint , collectionProduct = request.view_args.collectionProduct ,famillyProduct = request.view_args.famillyProduct , page=number) }}"
                            class="px-3 py-2 leading-tight {% if products_list.page != number %}text-gray-500 bg-white border border-gray-300 hover:bg-gray-100{% else %}bg-orange-400  font-bold border-2 text-white {% endif %}hover:text-gray-700 ">
                           {% if number == None %}
                            ...
                           {% else %}
                            {{ number }}
                           {% endif %}
                        </a>
                    </li>
                {% endfor %}
                <li class="">
                    <a href="{% if products_list.has_next %}{{ url_for(request.endpoint , collectionProduct = request.view_args.collectionProduct ,famillyProduct = request.view_args.famillyProduct , page=products_list.next_num) }}{% else %}javascript:void(0){% endif %}"
                        class="px-3 py-2 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                    <span class=" sr-only">Next</span>
                    <i class='bx bx-chevron-right'></i>
                    </a>
                </li>
            </ul>
        </nav>
    {% endif %}
    {% if request.endpoint == "allwatches" %}
        <nav aria-label="Page navigation example" class="flex justify-center">
            <ul class="inline-flex items-center -space-x-px">
                <li class="">
                    <a href= "{% if products_list.has_prev %}{{ url_for(request.endpoint , page=products_list.prev_num) }}{% else %}javascript:void(0){% endif %}"
                        class="px-3 py-2 leading-tight text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                        <span class=" sr-only">Previous</span>
                        <i class='bx bx-chevron-left'></i>
                    </a>
                </li>   
                {% for number in products_list.iter_pages(left_edge=1, left_current=1, right_current=1, right_edge=1) %}
                    <li>
                        <a href="{{ url_for(request.endpoint, page=number) }}"
                            class="px-3 py-2 leading-tight {% if products_list.page != number %}text-gray-500 bg-white border border-gray-300 hover:bg-gray-100{% else %}bg-orange-400  font-bold border-2 text-white {% endif %}hover:text-gray-700 ">
                            {% if number == None %}
                            ...
                            {% else %}
                            {{ number }}
                            {% endif %}
                        </a>
                    </li>
                {% endfor %}
                <li class="">
                    <a href="{% if products_list.has_next %}{{ url_for(request.endpoint , page=products_list.next_num) }}{% else %}javascript:void(0){% endif %}"
                        class="px-3 py-2 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                    <span class=" sr-only">Next</span>
                    <i class='bx bx-chevron-right'></i>
                    </a>
                </li>
            </ul>
        </nav>
    {% endif %}
    {% if request.endpoint == "brand_page" %}
        <nav aria-label="Page navigation example" class="flex justify-center">
            <ul class="inline-flex items-center -space-x-px">
                <li class="">
                

                    <a href= "{% if products_list.has_prev %}{{ url_for(request.endpoint , famillyProduct = request.view_args.famillyProduct  , collectionProduct = request.view_args.collectionProduct , brandProduct = request.view_args.brandProduct , page=products_list.prev_num) }}{% else %}javascript:void(0){% endif %}"
                        class="px-3 py-2 leading-tight text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                        <span class=" sr-only">Previous</span>
                        <i class='bx bx-chevron-left'></i>
                    </a>
                </li>   
                {% for number in products_list.iter_pages(left_edge=1, left_current=1, right_current=1, right_edge=1) %}
                    <li>
                        <a href="{{ url_for(request.endpoint,famillyProduct = request.view_args.famillyProduct  , collectionProduct = request.view_args.collectionProduct , brandProduct = request.view_args.brandProduct ,  page=number) }}"
                            class="px-3 py-2 leading-tight {% if products_list.page != number %}text-gray-500 bg-white border border-gray-300 hover:bg-gray-100{% else %}bg-orange-400  font-bold border-2 text-white {% endif %}hover:text-gray-700 ">
                            {% if number == None %}
                            ...
                            {% else %}
                            {{ number }}
                            {% endif %}
                        </a>
                    </li>
                {% endfor %}
                <li class="">
                    <a href="{% if products_list.has_next %}{{ url_for(request.endpoint ,famillyProduct = request.view_args.famillyProduct  , collectionProduct = request.view_args.collectionProduct , brandProduct = request.view_args.brandProduct ,  page=products_list.next_num) }}{% else %}javascript:void(0){% endif %}"
                        class="px-3 py-2 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                    <span class=" sr-only">Next</span>
                    <i class='bx bx-chevron-right'></i>
                    </a>
                </li>
            </ul>
        </nav>
    {% endif %}
    {% if request.endpoint == "filterRoute" %}
        <nav aria-label="Page navigation example" class="flex justify-center">
            <ul class="inline-flex items-center -space-x-px">
                <li class="">
                    <a href= "{% if products_list.has_prev %}{{ url_for(request.endpoint ,search = request.view_args.search , page=products_list.prev_num) }}{% else %}javascript:void(0){% endif %}"
                        class="px-3 py-2 leading-tight text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                        <span class=" sr-only">Previous</span>
                        <i class='bx bx-chevron-left'></i>
                    </a>
                </li>   
                {% for number in products_list.iter_pages(left_edge=1, left_current=1, right_current=1, right_edge=1) %}
                    <li>
                        <a href="{{ url_for(request.endpoint,search = request.view_args.search, page=number) }}"
                            class="px-3 py-2 leading-tight {% if products_list.page != number %}text-gray-500 bg-white border border-gray-300 hover:bg-gray-100{% else %}bg-orange-400  font-bold border-2 text-white {% endif %}hover:text-gray-700 ">
                            {% if number == None %}
                            ...
                            {% else %}
                            {{ number }}
                            {% endif %}
                        </a>
                    </li>
                {% endfor %}
                <li class="">
                    <a href="{% if products_list.has_next %}{{ url_for(request.endpoint ,search = request.view_args.search, page=products_list.next_num) }}{% else %}javascript:void(0){% endif %}"
                        class="px-3 py-2 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                    <span class=" sr-only">Next</span>
                    <i class='bx bx-chevron-right'></i>
                    </a>
                </li>
            </ul>
        </nav>
    {% endif %}
    {% if request.endpoint == "searchRoute" %}
        <nav aria-label="Page navigation example" class="flex justify-center">
            <ul class="inline-flex items-center -space-x-px">
                <li class="">
                    <a href= "{% if products_list.has_prev %}{{ url_for(request.endpoint , s = request.args.s, page=products_list.prev_num) }}{% else %}javascript:void(0){% endif %}"
                        class="px-3 py-2 leading-tight text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                        <span class=" sr-only">Previous</span>
                        <i class='bx bx-chevron-left'></i>
                    </a>
                </li>   
                {% for number in products_list.iter_pages(left_edge=1, left_current=1, right_current=1, right_edge=1) %}
                    <li>
                        <a href="{{ url_for(request.endpoint , s = request.args.s, page=number) }}"
                            class="px-3 py-2 leading-tight {% if products_list.page != number %}text-gray-500 bg-white border border-gray-300 hover:bg-gray-100{% else %}bg-orange-400  font-bold border-2 text-white {% endif %}hover:text-gray-700 ">
                            {% if number == None %}
                            ...
                            {% else %}
                            {{ number }}
                            {% endif %}
                        </a>
                    </li>
                {% endfor %}
                <li class="">
                    <a href="{% if products_list.has_next %}{{ url_for(request.endpoint , s = request.args.s , page=products_list.next_num) }}{% else %}javascript:void(0){% endif %}"
                        class="px-3 py-2 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                    <span class=" sr-only">Next</span>
                    <i class='bx bx-chevron-right'></i>
                    </a>
                </li>
            </ul>
        </nav>
    {% endif %}
    {% if request.endpoint == "prodfilterRoute" %}
        <nav aria-label="Page navigation example" class="flex justify-center">
            <ul class="inline-flex items-center -space-x-px">
                <li class="">
                    <a href= "{% if products_list.has_prev %}{{ url_for(request.endpoint , minPrice = request.args.minPrice, maxPrice = request.args.maxPrice, color = request.args.color, size = request.args.size , bracelet = request.args.bracelet, metal = request.args.metal, page=products_list.prev_num) }}{% else %}javascript:void(0){% endif %}"
                        class="px-3 py-2 leading-tight text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                        <span class=" sr-only">Previous</span>
                        <i class='bx bx-chevron-left'></i>
                    </a>
                </li>   
                {% for number in products_list.iter_pages(left_edge=1, left_current=1, right_current=1, right_edge=1) %}
                    <li>
                        <a href="{{ url_for(request.endpoint , minPrice = request.args.minPrice, maxPrice = request.args.maxPrice, color = request.args.color, size = request.args.size , bracelet = request.args.bracelet, metal = request.args.metal, page=number) }}"
                            class="px-3 py-2 leading-tight {% if products_list.page != number %}text-gray-500 bg-white border border-gray-300 hover:bg-gray-100{% else %}bg-orange-400  font-bold border-2 text-white {% endif %}hover:text-gray-700 ">
                            {% if number == None %}
                            ...
                            {% else %}
                            {{ number }}
                            {% endif %}
                        </a>
                    </li>
                {% endfor %}
                <li class="">
                    <a href="{% if products_list.has_next %}{{ url_for(request.endpoint , minPrice = request.args.minPrice, maxPrice = request.args.maxPrice, color = request.args.color, size = request.args.size , bracelet = request.args.bracelet, metal = request.args.metal, page=products_list.next_num) }}{% else %}javascript:void(0){% endif %}"
                        class="px-3 py-2 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                    <span class=" sr-only">Next</span>
                    <i class='bx bx-chevron-right'></i>
                    </a>
                </li>
            </ul>
        </nav>
    {% endif %}
{% endif %}
  
    <p class="text-right mt-3">
                Showing page {{ products_list.page }} of {{ products_list.pages }}
    </p>
{% endblock %}

{% block modal_block %}
    {% include 'layout/modal.html' %}
{% endblock %}