{% extends "layout/base_product.html" %}
{% block title %}{{title_page}}{% endblock %}

{% block breadcum1 %}{{product.family |title }}{% endblock %}
{% block breadcum2 %}{{product.collection |title }}{% endblock %}
{% block product_nameheader %} {{product.brand |upper  }} {% endblock %}

{% block product_list %}
<div x-data="{ position : 'bottom-right' }" class=" z-[60] fixed w-auto max-w-sm bottom-0 left-0 px-2 mt-3 overflow-x-hidden ":class="{
            'top-0 right-0': position =='top-right',
            'top-0 left-0': position == 'top-left',
            'bottom-0 left-0': position =='bottom-left',
            'bottom-0 right-0': position =='bottom-right',
            'top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2': position == 'center',
            'top-0 left-1/2 transform -translate-x-1/2 -translate-y-0': position == 'top-center',
            'bottom-0 left-1/2 transform -translate-x-1/2 -translate-y-0': position == 'bottom-center',
            'top-1/2 left-0 transform -translate-x-0 -translate-y-1/2': position == 'left-center',
            'top-1/2 right-0 transform -translate-x-0 -translate-y-1/2': position == 'right-center',
            }">
    <template x-for="(toast, index) in $store.toasts.list" :key="toast.id">
        <div x-show="toast.visible" x-transition:enter="transition ease-in duration-200"
            x-transition:enter-start="transform opacity-0 translate-y-2"
            x-transition:enter-end="transform opacity-100" x-transition:leave="transition ease-out duration-500"
            x-transition:leave-start="transform translate-x-0 opacity-100"
            x-transition:leave-end="transform -translate-y-2 opacity-0"
            class="bg-gray-900 bg-gradient-to-r text-white rounded-t mb-3 shadow-lg flex items-center" :class="{
                'from-blue-500 to-blue-600': toast.type === 'info',
                'from-green-500 to-green-600': toast.type === 'success',
                'from-yellow-400 to-yellow-500': toast.type === 'warning',
                'from-red-500 to-pink-500': toast.type === 'error',
                }">

            <div class="flex flex-col w-full">
                <div class="flex items-center w-full px-1 my-2">
                    <div class="self-start px-1">
                        <svg x-show="toast.type == 'info'" class="w-6 h-6 mr-2" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd"
                                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
                                clip-rule="evenodd" />
                        </svg>
                        <svg x-show="toast.type == 'success'" class="w-6 h-6 mr-2"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd" />
                        </svg>
                        <svg x-show="toast.type == 'warning'" class="w-6 h-6 mr-2"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd"
                                d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z"
                                clip-rule="evenodd" />
                        </svg>
                        <svg x-show="toast.type == 'error'" class="w-6 h-6 mr-2" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z"
                                clip-rule="evenodd" />
                        </svg>
                    </div>

                    <div x-text="toast.message"></div>

                    <div class="self-start px-1">
                        <button type="button" class="pt-0 px-1" @click="$store.toasts.destroyToast(index)">
                            <svg class="w-4 h-4 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M6 18L18 6M6 6l12 12"></path>
                            </svg>
                        </button>
                    </div>
                </div>
                <progress x-data="{ value : 0 }" x-init="
                            setInterval(()=> {
                            if(value == 100){
                                clearInterval();
                            }else{
                                value+=1
                            }},toast.timeOut / 100)" max="100" :value="value" class="w-full h-1 p-0"></progress>
            </div>
        </div>
    </template>
</div>
<script>
    document.addEventListener('alpine:init', () => {
        Alpine.store('toasts', {
            counter: 0,
            list: [],
            createToast(message, type = 'info', timer = 2000) {
                const index = this.list.length
                let totalVisible =
                    this.list.filter((toast) => {
                        return toast.visible
                    }).length + 1
                this.list.push({
                    id: this.counter++,
                    message,
                    type,
                    timeOut: timer * totalVisible,
                    visible: true,
                })
                setTimeout(() => {
                    this.destroyToast(index)
                }, timer * totalVisible)
            },
            destroyToast(index) {
                this.list[index].visible = false
            },
        })
    })
</script>

<style>
		/* these styles are for the demo, but are not required for the plugin */
		.zoom {
			display:inline-block;
			position: relative;
		}
		
		/* magnifying glass icon */
		.zoom:after {
			content:'';
			display:block; 
			width:33px; 
			height:33px; 
			position:absolute; 
			top:0;
			right:0;
			background:url(icon.png);
		}

		.zoom img {
			display: block;
		}

		.zoom img::selection { background-color: transparent; }
</style>


{% if product %}

<div>
    <div class="grid grid-cols-1 sm:grid-cols-2 ">
        <div class="h-[26rem] overflow-hidden">
            <span class='zoom' id='ex1'>
                <img id="ex1" src={{ url_for('static', filename=product.image2) }}  alt=""
                class="w-full h-full NZoomImg">
            </span>
           
        </div>
        <div class="p-4 ">
            <h3 class="text-2xl text-left text-gray-500" id="productName">{{product.name | capitalize}}</h3>
            <div class="py-[2px] w-8 bg-gray-300 my-2"></div>
            {% if product.price != "" %}
             <div class="text-left my-4 font-bold text-xl text-black" id="productPrice">
                {{ product.price | numberFormat }} </div>      
            {% endif %}
            <p class="text-[#3ea724] text-[12px] pb-5">* Delivery will take
                between 2-7
                business days after payment.</p>
            <p class="text-[12px] pb-5">* Orders placed during the weekend will
                be processed
                the next business day.</p>
            {% if product.price != "" %}
                <div class="text-left my-4 font-bold text-xl text-black" id="productPrice">
                    <div class="text-left flex mb-2">
                        <span
                            class="input-number-decrement border  border-gray-200 h-[34px] select-none flex justify-center items-center w-6 leading-10 text-gray-500 text-center font-bold cursor-pointer border-right-none active:bg-slate-400">–</span>
                        <input id="numberOfProducts"
                            class="input-number w-[70px] py-4 align-top text-center outline-none border-none border-green-400 h-4 select-none"
                            type="text" value="1" min="0" max="10000"
                            style="border-top:1px solid rgb(233, 233, 233);border-bottom:1px solid rgb(233, 233, 233);">
                         <span
                            class="input-number-increment border border-gray-200 h-[34px] select-none flex justify-center items-center w-6 leading-10 text-gray-500 text-center font-bold cursor-pointer border-left-none active:bg-slate-400">+</span>
                        <button type="button" onclick="add_to_productList(this)"
                            class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium text-sm px-5 py-2 text-center ml-8 mr-2 mb-2">ADD
                            TO CART</button>
                    <div class="hidden">
                        <button x-data @click="$store.toasts.createToast(' {{product.name}} has been added.', 'success')" id="successToat"
                            class="bg-gray-700 border-t-4 border-green-600 text-white p-3">
                            Create Success Test Toast
                        </button>
                
                        <button x-data @click="$store.toasts.createToast('{{product.name}} has not been added.', 'error')" id="ErrorToat"
                            class="bg-gray-700 border-t-4 border-red-600 text-white p-3">
                            Create Error Test Toast
                        </button>
                    </div>
                </div>
            {% endif %}
    
    
            <div class="text-left -ml-8 mb-6">
                <a href="javascript:void(0)"
                    class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium text-sm px-5 py-2.5 text-center ml-8 mr-2 mb-2">
                    <i class='bx bxl-whatsapp'></i> CHAT WITH AN EXPERT
                </a>
            </div>
            <div class="grid grid-cols-2 gap-4 mb-6 -ml-6 text-[1rem]">
                <div class="flex justify-center items-center ">
                    <img src="{{ url_for('static', filename='img/secure-shield-shield-svgrepo-com.png') }}" class="w-8 h-8"
                        alt="">
                    <span class="">2 Years Warranty</span>
                </div>
                <div class="flex justify-center items-center">
                    <img src="{{ url_for('static', filename='img/bank-transfer-svgrepo-com.png') }}" class="w-8 h-8" alt="">
                    <span>Wire Transfer Discount</span>
                </div>
                <div class="flex justify-center items-center">
                    <img src="{{ url_for('static', filename='img/achievement-award-medal-svgrepo-com.png') }}"
                        class="w-8 h-8" alt="">
                    <span>Certified Authentic</span>
                </div>
                <div class="flex justify-center items-center">
                    <img src="{{ url_for('static', filename='img/secure-payment-svgrepo-com.png') }}" class="-ml-4 w-8 h-8"
                        alt="">
                    <span>Secure Payment</span>
                </div>
    
            </div>
            <div class="flex mb-4">
                <div>
                    <button
                        class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800">
                        <span
                            class="relative text-xs sm:text-sm px-2 sm:px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                            Resquest Callback
                        </span>
                    </button>
                </div>
    
                <div>
                    <button
                        class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800">
                        <span
                            class="relative text-xs sm:text-sm px-2 sm:px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                            Make An Offer For This Watch
                        </span>
                    </button>
                </div>
                <div>
                    <button
                        class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800">
                        <span
                            class="relative text-xs sm:text-sm px-2 sm:px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                            Sell This Watch To Us
                        </span>
                    </button>
                </div>
            </div>
            <div class="my-4">
                <div class="border-t border-dashed py-2 text-xs text-left"><span
                        class="font-medium">SKU:</span>{{product.sku}}</div>
                <div class="border-t border-dashed py-2 text-xs text-left"><span class="font-medium">Categories:</span>
                    {{product.category}}</div>
                <div class="border-t border-dashed py-2 text-xs text-left"><span class="font-medium">Tags:</span>
                    {{product.tag}}</div>
    
            </div>
            <div class="flex">
                <a href="">
                    <div class="rounded-full border w-10 h-10 mr-2 flex justify-center border-gray-300">
                        <i class='text-3xl bx bxl-facebook'></i>
                    </div>
                </a>
                <a href="">
                    <div class="rounded-full border w-10 h-10 mr-2 flex justify-center border-gray-300">
                        <i class='text-3xl bx bxl-twitter'></i>
                    </div>
                </a>
                <a href="">
                    <div class="rounded-full border w-10 h-10 mr-2 flex justify-center border-gray-300">
                        <i class='text-3xl bx bx-envelope'></i>
                    </div>
                </a>
                <a href="">
                    <div class="rounded-full border w-10 h-10 mr-2 flex justify-center border-gray-300">
                        <i class='text-3xl bx bxl-pinterest-alt'></i>
                    </div>
                </a>
                <a href="">
                    <div class="rounded-full border w-10 h-10 mr-2 flex justify-center border-gray-300">
                        <i class='text-3xl bx bxl-linkedin'></i>
                    </div>
                </a>
            </div>
            </div>
        </div>

</div>
<div>
    <div class="mb-4 border-t border-gray-200 dark:border-gray-700 ">
        <ul class="block sm:flex flex-wrap  text-sm font-medium text-left sm:text-center" id="myTab"
            data-tabs-toggle="#myTabContent" role="tablist">
            <li class="mr-2 hover:border-t-2  hover:border-orange-400" role="presentation">
                <button class="p-1 sm:p-4 border-b-2 rounded-t-lg" id="profile-tab" data-tabs-target="#profile"
                    type="button" role="tab" aria-controls="profile" aria-selected="false">DESCRIPTION</button>
            </li>
            <li class="mr-2 hover:border-t-2  hover:border-orange-400" role="presentation">
                <button
                    class="p-1 sm:p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
                    id="dashboard-tab" data-tabs-target="#dashboard" type="button" role="tab" aria-controls="dashboard"
                    aria-selected="false">ADDITIONAL INFORMATION</button>
            </li>
            <li class="mr-2 hover:border-t-2  hover:border-orange-400" role="presentation">
                <button
                    class="p-1 sm:p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
                    id="settings-tab" data-tabs-target="#settings" type="button" role="tab" aria-controls="settings"
                    aria-selected="false">ASK A
                    QUESTION ABOUT THIS ITEM</button>
            </li>
        </ul>
    </div>
    <div id="myTabContent">
        {% set p_lists = product.description.split("####")[0].split("$p")[1:]%}
        {% set table_description = product.description.split("####")[1]%}

        <div class="hidden p-4" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            {% for x in p_lists %}
            <p class="-mt-4 mb-6 text-sm text-black font-light"> {{x}} </p>
            {% endfor %}

            <div class="relative overflow-x-hidden">
                <table class="w-full text-sm text-left bg-[var(--body-color)] text-gray-500 dark:text-gray-400">
                    <tbody>

                        {% for X in table_description.split("$tr")[1:] %}
                        <tr class="border-b border-gray-200 text-sm bg-white">
                            {% for x in X.split("$td")[0:] %}
                            <td class="py-1.5 ">{{x}}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
        <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="dashboard" role="tabpanel"
            aria-labelledby="dashboard-tab">
        </div>
        <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="settings" role="tabpanel"
            aria-labelledby="settings-tab">
        </div>
    </div>
</div>


{% else %}
<div class="flex justify-center items-center flex-col">
    <div>Oops! That page can’t be found.</div>
    <div>
        It looks like nothing was found at this location. Maybe try one of
        the links below or a search?

    </div>

</div>
{% endif %}

<script>
    add_to_productList = function (elmt) {
        $('#successToat').click()
        productListToCheckOut = JSON.parse(window.localStorage.getItem('productListToCheckOut'))

        product = {
            name: document.getElementById('productName').innerText,
            price: Number(document.getElementById('productPrice').innerText.replace(/[^0-9\.]+/g, "")),
            image: document.getElementsByClassName('NZoomImg')[0].src,
            quantity: Number(document.getElementById('numberOfProducts').value)
        }
        test = verificationProductInList(product, productListToCheckOut)
        if (test == -1) {
            productListToCheckOut.push(product)
            window.localStorage.setItem('productListToCheckOut', JSON.stringify(productListToCheckOut));
        }
        else {
            productListToCheckOut[test].quantity += Number(product.quantity)
        }
        document.getElementsByClassName('length_prod_chechout')[0].innerHTML = JSON.parse(window.localStorage.getItem('productListToCheckOut')).length
        document.getElementsByClassName('length_prod_chechout')[1].innerHTML = JSON.parse(window.localStorage.getItem('productListToCheckOut')).length
        console.log(productListToCheckOut)
        t = JSON.parse(window.localStorage.getItem('productListToCheckOut'))
        total = t.reduce(function (somme, item) {
            return somme + item.price * item.quantity;
        }, 0);
        dollar_format = new Intl.NumberFormat('en-US', {
            style: 'currency',
            currency: 'USD',
        });

        document.getElementById('priceAllProduct').innerHTML = dollar_format.format(total)
    }

    verificationProductInList = function (x, y) {
        for (var i = 0; i < y.length; i++) {
            if (x.name == y[i].name)
                return i;
        }
        return -1
    }

</script>

{% endblock %}
{% block pagination_block %}
<div></div>
{% endblock %}