<script>
        document.addEventListener("DOMContentLoaded", () => {
            if(JSON.parse(window.localStorage.getItem('productListToCheckOut')).length === 0 ){
                document.getElementById("haveProduct").style.display = "none"
                document.getElementById("NoneProduct").style.display = "flex"
                document.getElementById("checkout_button").setAttribute('href' , "#")
            }
            else{
                document.getElementById("haveProduct").style.display = "grid"
                document.getElementById("NoneProduct").style.display = "none"

            }
        });

</script>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/tailwind.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.11.1/dist/cdn.min.js"></script>

    <title>Cart - Luxury Watches Swiss</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

        [x-cloak] {
            display: none !important;
        }
    </style>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
        body{
           font-family:  'PT Sans' ;
        }
    </style>
</head>

<body>
    <div class="md:mx-[9rem] mt-10 shadow-lg ">
        <div class="flex justify-center items-center border-b border-gray-200 mx-12 pb-8">
            <a href="/" class="">
                <img src="{{ url_for('static', filename='img/logo.png') }}" class="h-20 ml-[4rem]" alt="Logo" />
            </a>
        </div>
        <div>
            <nav class="flex justify-center items-center mt-8" aria-label="Breadcrumb">
                <ol class="inline-flex items-center space-x-1 md:space-x-3">
                    <li class="inline-flex items-center">
                        <a href="#"
                            class="inline-flex items-center md:text-3xl font-medium  text-orange-400 dark:text-gray-400 dark:hover:text-white">
                            Shopping Cart
                        </a>
                    </li>
                    <li>
                        <div class="flex items-center">
                            <svg aria-hidden="true" class="w-6 h-6 text-gray-400" fill="currentColor"
                                viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                    clip-rule="evenodd"></path>
                            </svg>
                            <a href="{{url_for('checkout')}}" id="checkout_button"
                                class="ml-1 md:text-3xl font-medium text-gray-500 hover:text-orange-400 dark:text-gray-400 dark:hover:text-white">Checkout
                                details</a>
                        </div>
                    </li>
                    <li aria-current="page">
                        <div class="flex items-center">
                            <svg aria-hidden="true" class="w-6 h-6 text-gray-400" fill="currentColor"
                                viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                    clip-rule="evenodd"></path>
                            </svg>
                            <span class="ml-1 md:text-3xl font-medium text-gray-500  dark:text-gray-400">Order
                                Complete</span>
                        </div>
                    </li>
                </ol>
            </nav>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-3 shadow-md my-10" id="haveProduct">
            <div class="col-span-2 bg-white px-4 md:px-10 pb-10">
                <div class="grid grid-cols-5 md:grid-cols-7 gap-2 mt-10 mb-5 pb-3 border-b-2 border-gray-200">
                    <h3 class="font-semibold text-gray-600 text-xs uppercase col-span-4">Product Details</h3>
                    <h3 class="font-semibold  text-gray-600 text-xs uppercase text-center">Quantity
                    </h3>
                    <div class="hidden md:flex justify-center items-center ">
                        <h3 class="font-semibold  text-gray-600 text-xs uppercase text-center ">Price</h3>
                    </div>
                    <div class="hidden md:flex justify-center items-center ">
                        <h3 class="font-semibold  text-gray-600 text-xs uppercase text-center ">Total</h3>
                    </div>
                </div>

                <template id="productListTemplate">
                    <div class="grid grid-cols-5 md:grid-cols-7 gap-0  mb-5 pb-3 border-b border-gray-200" id="templ">
                        <div class="flex text-gray-600 text-xs  col-span-4">
                            <div class="flex justify-center items-center ">
                                <button class="deleteProduct">

                                    <i class='bx bx-x-circle text-[25px] text-gray-300 hover:text-gray-700'></i>
                                </button>
                            </div>
                            <div class="mx-0">
                                <img class="h-16 w-16 productImage" src="" alt="">
                            </div>
                            <div class=" ml-2 overflow-hidden">
                                <div class="productName text-sm "></div>
                                <div class="md:hidden">
                                    <span class="productQuantity font-bold text-sm overflow-hidden">1
                                    </span>x<span class="productOnePrice">$1,000,000.00</span>
                                </div>
                            </div>
                        </div>
                        <div
                            class="flex font-semibold justify-center items-center text-gray-600 text-xs uppercase text-center">
                            <span
                                class="input-number-decrement border  border-gray-200 h-[34px] select-none flex justify-center items-center w-4 leading-10 text-gray-500 text-center font-bold cursor-pointer border-right-none active:bg-slate-400">–</span>
                            <input
                                class="input-number w-[40px] py-4 align-top text-center outline-none border-none border-green-400 h-[34px] select-none"
                                type="text" value="1" min="0" max="10000" 
                                style="border-top:1px solid rgb(233, 233, 233);border-bottom:1px solid rgb(233, 233, 233);">
                            <span
                                class="input-number-increment border border-gray-200 h-[34px] select-none flex justify-center items-center w-4 leading-10 text-gray-500 text-center font-bold cursor-pointer border-left-none active:bg-slate-400">+</span>
                        </div>
                        <div class="hidden md:flex justify-center items-center ">
                            <h3 class="font-bold  text-black text-xs uppercase text-center productOnePrice  ">
                                $1,000,000.00</h3>
                        </div>
                        <div class="hidden md:flex justify-center items-center ">
                            <h3 class=" font-bold text-black text-xs uppercase text-center productTotalPrice">
                                $1,000,000.00</h3>
                        </div>
                    </div>
                </template>

                <div id="product_list">

                </div>





                <a href="/" class="flex font-semibold  text-orange-400 text-sm mt-10">

                    <svg class="fill-current mr-2 text-orange-400 w-4" viewBox="0 0 448 512">
                        <path
                            d="M134.059 296H436c6.627 0 12-5.373 12-12v-56c0-6.627-5.373-12-12-12H134.059v-46.059c0-21.382-25.851-32.09-40.971-16.971L7.029 239.029c-9.373 9.373-9.373 24.569 0 33.941l86.059 86.059c15.119 15.119 40.971 4.411 40.971-16.971V296z" />
                    </svg>
                    Continue Shopping
                </a>
            </div>

            <div id="summary" class="px-8 py-10">
                <h3 class="font-semibold border-b-2 pb-3 text-xs uppercase text-gray-600 ">CART TOTALS</h3>
                <div class="flex justify-between mt-10 mb-5 border-b border-gray-200 pb-3">
                    <span class="text-sm">Subtotal</span>
                    <span class="font-semibold text-sm " id="horsTaxePrice">590$</span>
                </div>
                <div>
                    <label class="font-medium inline-block mb-3 text-sm uppercase">Shipping</label>
                    <select class="block p-2 text-gray-600 w-full text-sm border-gray-200">
                        <option>Free Shipping </option>
                    </select>
                </div>

                <div class="py-10">
                    <label for="promo" class="font-semibold inline-block mb-3 text-sm uppercase">Promo Code</label>
                    <input type="text" id="promo" placeholder="Enter your code"
                        class="p-2 text-sm w-full border-gray-200">
                </div>
                <button class="bg-red-500 hover:bg-red-600 px-5 py-2 text-sm text-white uppercase">Apply</button>
                <div class="border-t mt-8">
                    <div class="flex font-semibold justify-between py-6 text-sm uppercase">
                        <span>Total cost</span>
                        <span id="totalTaxePrice"></span>
                    </div>
                    <a href="{{url_for('checkout')}}"

                        class="flex items-center justify-center bg-indigo-500 font-semibold hover:bg-indigo-600 py-3 text-sm px-3 text-white uppercase w-full">Checkout</a>
                </div>
            </div>

        </div>
        <div id="NoneProduct">
            <div class="flex flex-col space-y-10  justify-center items-center  h-64 w-full my-10" >
                <p class="text-gray-800 -px-2">Your cart is currently empty.</p>
                <p>
                    <a href="/">
                        <span class="px-4 py-3 bg-orange-400 font-bold text-white">RETURN TO SHOP</span>
                    </a>
                </p>

            </div>
        </div>


    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src="{{ url_for('static', filename='vendor/jquery-3.6.3.min.js') }}"></script>
 
    <script>

        //console.log(JSON.parse(window.localStorage.getItem('productListToCheckOut')))
        product_list = document.getElementById('product_list')
        var $template = $("#productListTemplate").clone();
        dollar_format = new Intl.NumberFormat('en-US', {
            style: 'currency',
            currency: 'USD',
        });
        //console.log($template.html())
        for (let x of JSON.parse(window.localStorage.getItem('productListToCheckOut'))) {
            block = $('<div></div>').html($template.html())

            $(block).find('.productImage').each(function () {
                $(this).attr("src", x.image)
            })
            $(block).find('.productName').each(function () {
                $(this).html(x.name)
            })
            $(block).find('.productOnePrice').each(function () {
                $(this).html(dollar_format.format(x.price))
            })
            $(block).find('.productTotalPrice').each(function () {
                $(this).html(dollar_format.format(x.price * x.quantity))
            })
            $(block).find('.input-number').each(function () {
                $(this).val(x.quantity)
            })
            $(block).find('.productQuantity').each(function () {
                $(this).html(x.quantity)
            })

            block.appendTo(product_list)
        }

    </script>
    <script>

        productList = JSON.parse(window.localStorage.getItem('productListToCheckOut'))
        $('.deleteProduct').each(function (index, elmt) {
            $(elmt).click(function (event) {
                const x = productList.filter(function (value, ind, arr) {
                    if (ind === index) {
                        arr.splice(ind, 1);
                        return true;
                    }
                    return false;
                });
                console.log(`monTableau values: ${productList}`);
                console.log(`variable x value: ${x}`);


                $(elmt).parent().parent().parent().remove()
                window.localStorage.setItem('productListToCheckOut', JSON.stringify(productList));
                updateTotalPrice()
                if(JSON.parse(window.localStorage.getItem('productListToCheckOut')).length === 0 ){
                    document.getElementById("haveProduct").style.display = "none"
                    document.getElementById("NoneProduct").style.display = "flex"
                    document.getElementById("checkout_button").setAttribute('href' , "#")
                }
            })
        })

        inputNumber = function (element) {
            productList = JSON.parse(window.localStorage.getItem('productListToCheckOut'))
            element.each(function (index, elmt) {
                $(elmt).keypress(function (event) {
                    event.preventDefault()
                    var keyCode = event.which ? event.which : event.keyCode;
                    var touche = String.fromCharCode(keyCode);


                    var caracteres = '';

                    if (caracteres.indexOf(touche) >= 0) {
                        console.log($(elmt).val())
                        $(elmt).val($(elmt).val() + touche)
                    }
                    else {
                        event.preventDefault()
                        $(elmt).val(1)

                    }
                });


                decrement = $(elmt).parent().children().first()
                increment = $(elmt).parent().children().last()
                $(decrement).click(function (event) {
                    if (parseInt($(elmt).val()) - 1 > 0) {
                        $(elmt).val(parseInt($(elmt).val()) - 1)

                        blockContent = $(elmt).parent().parent()
                        $(blockContent).find('.productQuantity').each(function () {
                            $(this).html($(elmt).val())
                        })

                        $(blockContent).find('.productTotalPrice').each(function () {
                            $(this).html(dollar_format.format(productList[index].price * $(elmt).val()))
                        })
                        productList[index].quantity = parseInt($(elmt).val())
                        window.localStorage.setItem('productListToCheckOut', JSON.stringify(productList));
                        updateTotalPrice()
                    }

                });
                $(increment).click(function (event) {
                    if (parseInt($(elmt).val()) + 1 > 0) {
                        $(elmt).val(parseInt($(elmt).val()) + 1)

                        blockContent = $(elmt).parent().parent()
                        $(blockContent).find('.productQuantity').each(function () {
                            $(this).html($(elmt).val())
                        })
                        $(blockContent).find('.productTotalPrice').each(function () {
                            $(this).html(dollar_format.format(productList[index].price * $(elmt).val()))
                        })
                        productList[index].quantity = parseInt($(elmt).val())
                        window.localStorage.setItem('productListToCheckOut', JSON.stringify(productList));
                        updateTotalPrice()
                    }
                });
            });

        }



        updateTotalPrice = function () {
            sum = 0
            for (x of JSON.parse(window.localStorage.getItem('productListToCheckOut'))) {
                sum += x.quantity * x.price;
            }
            $('#horsTaxePrice').html(dollar_format.format(sum))
            //$('#totalTaxePrice').html(dollar_format.format(sum + 0.1*sum))
        }




        inputNumber($('.input-number'));

    </script>
    <script>
        sum = 0
        for (x of JSON.parse(window.localStorage.getItem('productListToCheckOut'))) {
            sum += x.quantity * x.price;
        }
        $('#horsTaxePrice').html(dollar_format.format(sum))
        $('#totalTaxePrice').html(dollar_format.format(sum))




    </script>

</body>

</html>