<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>

    <h2>(Page {{ pagination.page }})</h2>
    {% for produit in pagination.items %}
    <h1>{{produit.name}}</h1>
    {% endfor %}

    <div class="pagination">
        {% if pagination.has_prev %}
        <span>
            <a class='page-number' href="{{ url_for('test', page=pagination.prev_num) }}">
                {{ '<<<' }} </a>
        </span>
        {% endif %}

        {% for number in pagination.iter_pages() %}
        {% if pagination.page != number %}
        <span>
            <a class='page-number' href="{{ url_for('test', page=number) }}">
                {{ number }}
            </a>
        </span>
        {% else %}
        <span class='current-page-number'>{{ number }}</span>
        {% endif %}
        {% endfor %}

        {% if pagination.has_next %}
        <span>
            <a class='page-number' href="{{ url_for('test', page=pagination.next_num) }}">
                {{ '>>>' }}
            </a>
        </span>
        {% endif %}

        {% macro render_pagination(pagination, endpoint) %}
        <div class=pagination>
            {%- for page in pagination.iter_pages() %}
            {% if page %}
            {% if page != pagination.page %}
            <a href="{{ url_for(endpoint, page=page) }}">{{ page }}</a>
            {% else %}
            <strong>{{ page }}</strong>
            {% endif %}
            {% else %}
            <span class=ellipsis>…</span>
            {% endif %}
            {%- endfor %}
        </div>
        {% endmacro %}
    </div>
</body>

</html>