/* CSS Document */
.ada_manual_checks_prompt{
font-weight:bold;
width: 500px;
white-space:normal;
	clear:both;
	margin-top: 50px;
    color:#C91215;
}
.wp-ada-facebook-like, .wp-ada-compliance-notification{
padding: 10px;
}
.wp_ada_compliance_report{
margin-top: 35px;	
}
.toplevel_page_ada_compliance-compliancereportbasic .notice{
max-width: 78%;	
}
.wp-ada-compliance-wave-link{
text-align:center;
font-size: 90%;	
}
.wp-ada-compliance-wave-link .fa, .wp-ada-compliance-wave-link .fas, .wp-ada-compliance-wave-link .far{
font-size: 140%;
margin-right: 2px;	
     margin-left: 10px;
}
.adanewitem{
color:#008000; 
font-size: 120% !important;
}
.wpadaJqueryOff .wp-ada-ignore-options{
	display:block;
}
/* not needed
.wpadaJqueryOff .adaHelpText{
	display:block;
}
.wpadaJqueryOff .adaHelpLink {
	display:none;
}*/
.wpadaIframe #wpadminbar, .wpadaIframe #adminmenuwrap, .wpadaIframe #adminmenuback, .wpadaIframe .wp_ada_compliance_scanstatus, .wpadaIframe .wp-ada-help-icon{
	display:none;
} 
body.wpadaIframe {
	/*margin-left:-45px; 
	padding: 5px;*/
}

/* theme error markings */
.ada_error .contenttype{
    max-width: 125px;
}

.wp-ada-compliance-location-other{
    
    padding: 5px;
    width: 500px;
    cursor: help;
    position: relative; 
    font-weight: bold;
    
}
.wp-ada-source-text{
   border-bottom: 1px dotted #C71F22; 
    color: #C71F22;
}
.wp-ada-theme-error{ display:inline-block; font-weight: normal;}

.wp-ada-screen-reader-text {
    display:inline-block;
 position: absolute;
    left: -9999px;
    font-size: 12px !important;
    border: 1px solid !important;
    background-color: #eee;
    color: #000;
    padding: 5px;

}
.wp-ada-compliance-location:hover .wp-ada-screen-reader-text {
    z-index: 1000;
    position: absolute;
    top: 3em;
    left: 2.8em;
}

.summary-dismiss {
	border: 1px solid #000;
    position: absolute;
    top: 0;
    right: 20px;
    margin: 0;
    padding: 5px;
    background-color: #2F6FA7;
    color: #fff;
    cursor: pointer;
}
.adadismiss{
float:right;
	background: #dc3232 !important;
padding: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 6px;
  color: #fff;
	font-weight:bold;
  border: 2px solid #fff;
		cursor:pointer;
}
.wp-ada-reiewprompt{
position: absolute;
    top: 250px;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, -50%);
	border: 1px solid #000;
background-color: #eee;	
text-align: center;
	height: 200px;
	width: 500px;
	z-index: 2000;
	color: #000;
}
.wp-ada-reiewprompt a{
	margin-top: 20px;
	margin-right: 10px;
}
.gutenberg__editor .wp_ada_version_message{
margin: 2px;	
font-size: 85%;	
}
.wp-ada-print_results{
display:none;	
}
.admin_page_ada_compliance-print-report #wpadminbar, .admin_page_ada_compliance-print-report #adminmenuwrap{
	display:none !important;
	}
.wp_ada-compliance-recommended-plugins{
margin-bottom: 20px !important;
font-weight:bold;	
}

li.wp_ada_light {
    font-size: 120%;
   list-style:none;
}
li.wp_ada_light .fa-circle {
    font-size:250%;
	margin-right: 10px;
	float:left;
    
}
li.wp_ada_light span {
    margin-left: 0px !important;
white-space:normal;
}
.wp_ada_light_green {
    color: #005700;
    font-size: 120%;
}
.wp_ada_compliance_notices {
  	font-size: 120%;
}
.wp_ada_form .wp-ada-compliance-filters{
float:right !important;
margin-top: 40px !important;
margin-right: 100px;
}
.wp_ada_form .filterbtn{
	 margin: 10px; width: 100px;
}
.wp_ada_action_column{
width:120px;	
}
.basicdisabled{
	color:#CFCACA;
}
.wp-ada-ignore-options{
display:none;
margin-left: 20px;	
	padding-bottom: 5px;
}
.wp-ada-ignore-options-click{
margin: 0px;
padding:0px;
color: #0073aa;
	text-decoration:underline;
	cursor:pointer;
}
.wp-ada-ignore-options-click:focus{
outline:auto;
	
}
.wp_ada_scan_rules{
margin-right: 20px !important;	
width: 20px !important;
	height: 20px !important;
}
.wp_ada_compliance_basic_print{
float:right;	
}
.wp_ada_version_message{
font-size: 110%;
	font-weight:bold;
}
.wp_ada_light_red {
    color: #C91215;
    font-size: 120%;
}
.wp_ada_light_yellow {
    color: #e4ce04;
    font-size: 120%;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.wpadahidenotices {
    cursor: pointer;
    margin-left: 10px;
    padding-bottom: 3px;
    float: right;
}
.wp_ada_compliance_notice_container {
  
    font-weight: bold;
   color: #005700;
    margin-bottom: 10px; 
    padding: 5px;
    padding-left: 10px;
   
    position: fixed;
    top: 20px;
   	right: 150px;
    z-index: 100000;
    width: 500px;
    background-color: #fff;
    border: 1px solid #005700;
}

.wp_ada_compliance_notices p{
 margin: 0px;   
}

.settings_page_wp-ada-compliance-basic-admin  .form-table fieldset label {
    display: inline;
}
.settings_page_wp-ada-compliance-basic-admin .form-table {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #fff;
    width: 90%;

}
.settings_page_wp-ada-compliance-basic-admin .form-table div {
   margin-bottom: 20px; 
}
.settings_page_wp-ada-compliance-basic-admin h2 {
    font-size: 140%;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    width: 85%;
    margin-top: 30px;
}
.ada_compliance_settings_text {
    padding: 10px;
    font-size: 120%;
    font-weight: bold;
}
.ada_compliance_report_link{
margin: 10px;
	text-align:center;
}
.ada_compliance_missing_license {
    background-color: #ED9FA0!important;
}
#ada_compliance_options legend {
width: 100%;	
}
#ada_compliance_options label {
    margin-right: 10px !important;
}
a span.adaNewWindow {
    text-decoration: none;
}
.wp-ada-compliance-buttns{
margin-left: 20px;	
	clear:both;
}
.wp-ada-compliance-buttns a{
	margin-bottom: 10px;
}
.wp_ada_compliance_basic_scanstatus{
 padding: 8px;
	 border: 1px solid black;
	margin: 10px;
	font-weight:bold;
}
#ElementorADAError, #BeaverBuilderADAError, #GutenbergADAError{
 display:none;
min-height: 40px;
    top: 0px;
    z-index: 2000;
 
    position:fixed;
}
.wp-ada-elementor-check{
        top: 0px;
    left:20px;
    z-index: 1999;
    position:fixed;
     color: #ffffff;
    font-weight:normal;
    font-size: 90%;
    text-transform: capitalize;
    padding: 10px;
    background-color: #dc3232;
}
#BeaverBuilderADAError{
top: 55px;	
}
#GutenbergADAError{
top: 70px;
right:25%;
max-width:550px;     
}
.adaError {
    color: #fff;
    padding: 10px;
    font-size: 100%;
    background-color: #dc3232;
    border-color: #ebccd1;
    width: 90%;
}
.adaError a{
 text-decoration:underline; 
   color: #fff !important;  
}
.adaError .fa, .adaError .far, .adaError .fas{
    margin-right: 5px;
}
.adaError .fa-ban, .adaError .fa-exclamation-circle {
    font-size: 150% !important;
}
.adaReferenceReport {
    background-color: #fff;
    padding: 10px;
}
.ada_compliance_report_link_clear {

	text-align:center;
}
.ada_compliance_report_link_clear .fa-thumbs-up{
font-size: 200%;
width: 100px;
padding: 5px;
background-color: #005700;
color:#ffffff;
cursor:auto !important;	
font-weight:bold;	
}
.adaReference .fa-ban, .wp_ada_error_key .fa-ban, .ada_error .fa-ban {
    font-size: 150% !important;
    margin-right: 10px !important;
    color: #C91215;
}
.adaReference .fa-exclamation-circle, .wp_ada_error_key .fa-exclamation-circle, .ada_error .fa-exclamation-circle {
    font-size: 150% !important;
    margin-right: 10px !important;
}
.wp_ada_error_key {
    margin-top: 15px;
    background-color: #fff;
    padding: 5px;
    border: 1px dashed #0073aa;
}
.adaReferenceReport .wp_ada_error_key {
    background-color: #eee;
}
.adaError a {
    color: #fff;
}
.adaError h2 {
    color: #fff;
}
.adaErrorText {
    color: #fff;
    margin-left: 10px;
    font-size: 110%;
}
.adaAllGood {
    color: #005700;
}
.adaRedText {
    color: #C91215;
}
.adaBoldText {
    font-weight: bold;
}
.adamarketingtext{
	 font-weight: bold;
	color: #C91215;
	font-size: 110% !important;
	width: 80%;
	margin-top: 20px !important;
}
.ada_error{
width: 98%;	
}
.ada_error {
	clear:both;
    border: 1px solid #ccc;
    vertical-align: top;
	border-collapse:collapse;
}
.ada_error, .ada_error td, .ada_error th {
    border: 1px solid #ccc;
    vertical-align: top;
}
.ada_error td, .ada_error th {
    padding: 5px;
    min-width: 85px;
}
.ada_error th {
    background-color: #000;
    color: #fff;
}
.adaEffectedCode {
    display: none;
}
.wp-ada-send-report{
margin: 20px;	
}
body.toplevel_page_ada_compliance-compliancereportbasic  #TB_window img, .adaEffectedCode img{
	max-width: 500px;
	max-height: 200px;
}
body.toplevel_page_ada_compliance-compliancereportbasic #TB_ajaxContent{
	min-height: 200px;
}
.adaHelpText {
    display: none;
    font-weight: bold;
    border: 1px dashed #0073aa;
    padding: 10px;
    margin-top: 10px;
	color:#000;
}
td .adaHelpLink {
    padding: 0px;
}
.adaHelpLinkToggle{
	display: inline;
}
td .adaHelpLink:focus {
  outline:auto;
}
.adaViewbar {
    font-weight: bold;
    padding: 5px;
}
.adaHelpLink {
    font-weight: bold;
    padding: 8px;
    cursor: pointer;
    color: #0073aa;
    text-decoration: underline;
}
.wp_ada_form {
    background-color: #fff;
    border: 1px dashed #0073aa;
    padding: 10px;
	padding-bottom: 0px;
    max-width: 98%;
    font-size: 110%;
    margin: 10px;
}
.wp_ada_form #sort,.wp_ada_form #view{
max-width: 90px;
}
.adashowingmessage {
   
    display: block;
    vertical-align: middle;
}
.wp-ada-compliance-additionalsetup h2{
 border: 0px;
    margin: 5px;
}
.wp_ada_form .adashowingmessage{
margin-left: 20px;
	margin-right: 20px;
	border-bottom: 1px solid #0073aa;
	font-weight:bold;
}
.adaViewCode {
    cursor: pointer;
    color: #0073aa;
    text-decoration: underline;
}
.adaworking{
background: url(ajax-loading.jpg) no-repeat;
    background-size: 30px 25px;
    width: 50px;
    height: 50px;
	padding-right: 20px;
}
.adaIgnored {
    color:#C91215;
}
.wp_ada_compliance_basic_updates {
    font-weight: bold;
    padding: 10px;
    border: 1px solid #C91215;
}
.btnwpada {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btnwpada-primary {
    color: #fff !important;
    background-color: #2F6FA7;
    border-color: #2e6da4;
    text-decoration: none;
}
.btnwpada-primary:hover {
    color: #eee !important;
	background-color: #2F6FA7;
}
.btnwpada-warning {
    color: #fff !important;
    background-color: #AC1B1D;
    border-color: #2e6da4;
    text-decoration: none;
}
.btnwpada-warning:hover {
    color: #eee !important;
	background-color: #AC1B1D;
}
.btnwpada-danger {
    color: #fff;
    background-color: #CD322D;
    border-color: #d43f3a;
	text-decoration: none;
	font-weight:bold;
}

.btnwpada-danger:hover {
    color: #eee !important;
}
.btnwpada-success {
    color: #fff;
    background-color: #07580A;
    border-color: #07580A;
	text-decoration: none;
	font-weight:bold;
}

.btnwpada-success:hover {
    color: #eee !important;
}
.floatright{
float: right;
	margin: 5px;
}
.adaReference {
    margin: 10px;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}
.ada_post_custom_fields {
    margin-right: 20px;
    width: 300px;
    display: inline-block;
}
.adascanstarted {
    display: none;
}
.ada_posttype_notification {
    display: none;
}
.wp_ada_label {
    font-weight: bold;
    margin-left: 20px;
}
.wp_ada_issue_sum {
    float: left;
    margin: 0px;
    margin-right: 15px;
    width: 25%;
	max-width: 215px;
}
.wp_ada_summary {
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #fff;
    padding: 5px;
    border: 1px dashed #0073aa;
    margin: 15px;
	width: 97%;
}
.wp_ada_summary_left {
    float: left;
	list-style: disc;
	border: 0px;
	border-right: 1px solid #eee;
	margin-left: 20px;

}
.wp_ada_dashboard_widget .wp_ada_summary_left {
	float:none;
	width: 100%;
}
.wp_ada_summary_right {
    display: inline-block;
    margin-top: 30px;
	margin-left: 20px;
    width: 65%;
}
h2.wp_ada_summary_header {
    margin-top: 0px;
}
.wp_ada_dashboard_widget ul {
    list-style: disc;
}
.wp_ada_dashboard_widget .wp_ada_issue_sum {
    float: none;
    display: block;
    width: 5px;
}
.wp_ada_dashboard_widget .wp_ada_summary {
    width: 350px;
    border: 0px;
}
a span.wp_ada_hidden {
    position: absolute;
    left: -9999px;
    font-size: 9pt !important;
    border: 1px dotted !important;
    background-color: #eee;
    color: #000;
    font-weight: normal !important;
    padding: 1px;
    font-family: arial !important;
    width: 11.5em;
    text-align: center;
    text-transform: lowercase;
}
a.adaNewWindowInfo {
    position: relative;
}
a.adaNewWindowInfo:hover .wp_ada_hidden, a.adaNewWindowInfo:focus .wp_ada_hidden, a.adaNewWindowInfo:active .wp_ada_hidden {
    z-index: 1000;
    position: absolute;
    top: 1.4em;
    left: 3em;
}
.ada_error .wp_ada_action_column a.adaNewWindowInfo:hover .wp_ada_hidden, .ada_error .wp_ada_action_column a.adaNewWindowInfo:focus .wp_ada_hidden, .ada_error .wp_ada_action_column a.adaNewWindowInfo:active .wp_ada_hidden {
    left: -5em;
}
.ada_error .fa, .ada_error .far, .ada_error .fas{
    margin-right: 5px;
}
a i.fa-external-link {
    margin-left: 5px;
    font-size: .7em;
    color: #000;
}
.adaReference a i.fa-external-link, .ada_error a i.fa-external-link {
    font-size: .9em;
}
.adaError a i.fa-external-link {
    font-size: 1em;
    color: #fff;
}
.ada_marketing_text{
color: #C91215;

}
.activationfield {
    font-weight: bold;
    margin-bottom: 20px !important;
}

@media only screen and (max-width: 1390px) {
.wp_ada_form .sortby, .wp_ada_form .filterbtn{
display:block;
	width: 200px;
	margin-top: 10px;
}
}
@media only screen and (max-width: 1295px) {
.wp_ada_label {
    display: block;
    margin: 5px;
}
	.wp_ada_form .wp-ada-compliance-filters{
float:none;

}
.wp_ada_form .filterbtn{
margin-left:10px;
margin-right: 10px;	
display:inline;
}
}
@media only screen and (max-width: 1224px) {
.wp_ada_summary {
    width: 91%;
    display: block;
     margin: 10px;
	padding-bottom: 10px;
}
.wp_ada_summary_left {
    float: left;
    width: 55%;
	margin-left: 25px;
}
.wp_ada_issue_sum {
    float:none;
	}
	.wp_ada_form{
		width: 91%;
	}
h2.wp_ada_summary_header{
	margin-top: -20px;	
	}
}
@media only screen and (max-width: 768px) {
	.wp-ada-compliance-buttns{
	clear:both;	
	}
	.wp-ada-compliance-buttns a{
display:block;	
		margin: 10px;
}
}
	@media only screen and (max-width: 500px) {
.toplevel_page_ada_compliance-compliancereportbasic  .btnwpada {
    display: block;
    margin-bottom: 5px;
}
.wp_ada_label {
    display: block;
    margin: 5px;
}
.wp_ada_summary {
    width: 98%;
    display: block;
    border: 0px;
    margin: 0px;
}
.wp_ada_summary_left {
    float: none;
    margin: 0px;
	margin-left: 25px;
}
.wp_ada_issue_sum {
    float: none;
    width: 100%;
    margin-right: 0px;
}
.ada_error, .ada_error th, .ada_error td {
    display: block;
}
.ada_error tr {
    border: 1px solid #ccc;
}
/* Hide table headers (but not display: none;, for accessibility) */
.ada_error th {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
.ada_error td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
}
.ada_error td:before {
  font-weight:bold;
    padding-right: 10px;
    white-space: nowrap;
}
/*
	Label the data
	*/
.ada_error td:nth-of-type(1):before {
    content: "Title";
}
.ada_error td:nth-of-type(2):before {
    content: "Content Type";
}
.ada_error td:nth-of-type(3):before {
    content: "Error Type";
}
.ada_error td:nth-of-type(4):before {
    content: "Error";
}
.ada_error td:nth-of-type(5):before {
    content: "Affected Code";
}
.ada_error td:nth-of-type(6):before {
    content: "Actions";
}
}
@media print {
	.wp_ada_compliance_report{
		margin-top: 0px;
	}
	.wp_ada_summary{
		border: 0px;
		width: 90%;
	}
	.adaViewCode, .adaHelpLink, .summary-dismiss, .wp-ada-compliance-buttns, .wp-ada-help-icon {
	display:none;
	}	
	.wp_ada_summary_left {
     width: 40%;   
    }
.ada_error {
	font-size: 90%;	
	}
.ada_error a{
	text-decoration:none; 
	color: #000;
	}	
		.ada_error td {
	max-width: 525px;
	}
.web-accessibility-basic_page_ada_compliance-compliancereferencereportbasic .adaReferenceReport .adaEffectedCode, .toplevel_page_ada_compliance-compliancereportbasic  .wp_ada_compliance_basic_report .adaEffectedCode{
	display:inline;
	}
    .web-accessibility-basic_page_ada_compliance-compliancereferencereportbasic .adaReferenceReport, .toplevel_page_ada_compliance-compliancereportbasic  .wp_ada_compliance_basic_report,  .web-accessibility-basic_page_ada_compliance-compliancereferencereportbasic .adaReferenceReport, .toplevel_page_ada_compliance-compliancereportbasic  .wp_ada_compliance_basic_report .wp_ada_compliance_basic_report   {
	
	margin-left: -50px;
	}
    
.web-accessibility-basic_page_ada_compliance-compliancereferencereportbasic .adaReferenceReport .printfixedwidth, .toplevel_page_ada_compliance-compliancereportbasic  .wp_ada_compliance_basic_report .printfixedwidth{
position:relative;
	display:inline;
	float:left;
	border:0;
	}	
.web-accessibility-basic_page_ada_compliance-compliancereferencereportbasic .adaReferenceReport .printhidden, .toplevel_page_ada_compliance-compliancereportbasic  .wp_ada_compliance_basic_report .printhidden{
	display:none;
	}	
.wp-ada-print_results{
display:block;	
}
.admin_page_ada_compliance-print-report{
	margin-left: -120px;
	 width: 100%; 
    height: 100%; 

	background:#fff;
	}
	.admin_page_ada_compliance-print-report #wpadminbar, .admin_page_ada_compliance-print-report #adminmenuback{
	display:none !important;
	}	
.admin_page_ada_compliance-print-report .adaEffectedCode{
	display:block;
	
	}
body.toplevel_page_ada_compliance-compliancereportbasic  {
	visibility:hidden;
	background-color:#fff;
transform: scale(.9);
	}
body.web-accessibility-basic_page_ada_compliance-compliancereferencereportbasic
 {
	visibility:hidden;
	background-color:#fff;
	}	
.web-accessibility-basic_page_ada_compliance-compliancereferencereportbasic .adaReferenceReport, .toplevel_page_ada_compliance-compliancereportbasic  .wp_ada_compliance_basic_report {
	visibility:visible; 
	margin-left:-150px;
	}
.web-accessibility-basic_page_ada_compliance-compliancereferencereportbasic .adaReferenceReport .btn, .toplevel_page_ada_compliance-compliancereportbasic  .wp_ada_compliance_basic_report .btn, 
.toplevel_page_ada_compliance-compliancereportbasic  .wp_ada_compliance_basic_report .wp_ada_form{
	display:none;
	}

.web-accessibility-basic_page_ada_compliance-compliancereferencereportbasic .adaReferenceReport div{
	page-break-inside:avoid;
	}
	.toplevel_page_ada_compliance-compliancereportbasic  .wp_ada_compliance_basic_report tr, .web-accessibility-basic_page_ada_compliance-compliancereferencereportbasic .adaReferenceReport tr{
	border-bottom: 1px solid #ccc;	
	}
}
/* settings tabs */
#ada_compliance_options .ui-tabs ul.ui-tabs-nav{
    border-bottom: 2px solid #CCC;
    line-height: 31px;
	margin-top: 40px;

}
#ada_compliance_options .ui-tabs ul.ui-tabs-nav li{
    display: inline;
	margin-right: 10px;
	background-color: #fff;
	font-weight:bold;
}
#ada_compliance_options .ui-tabs ul.ui-tabs-nav li.ui-state-active{
	
 	background-color: #2F6FA7 !important;
	color:#fff !important;	
    border: 1px solid #CCC;
    border-bottom: none;
}
#ada_compliance_options .ui-tabs ul.ui-tabs-nav li a{
    color: #000;
	background-color: #fff;
	    border: 1px solid #ccc;
    border-bottom: none;
    font-size: 1em;
    text-decoration: none;
	padding: 8px 10px;
}
#ada_compliance_options .ui-tabs ul.ui-tabs-nav li a:hover{
    color: #2F6FA7;
	background-color: #fff;
}
#ada_compliance_options .ui-tabs ul.ui-tabs-nav li.ui-state-active a{
    color: #fff;
    cursor: pointer !important;
	background-color: #2F6FA7;
}
@media only screen and (max-width: 768px) {
    .wp_ada_compliance_notice_container{
    right: 10px;
        width: 390px;
    }
    #ada_compliance_options .ui-tabs ul.ui-tabs-nav li, #ada_compliance_options .ui-tabs ul.ui-tabs-nav li.ui-state-active{
     display:block;   
        background-color: transparent !important;
        color: #000 !important;
        margin-top: 20px;
        
    }
    #ada_compliance_options .ui-tabs ul.ui-tabs-nav li{
       border: 0px !important; 
    }

}

/* add settings scroll button */
#adascrollbutton, #adasettsingsave {
  display: inline-block;
  background-color: #2F6FA7;
    color:#fff;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  margin: 0px;
  position: fixed;
  bottom: 5px;
  right: 0px;
  transition: background-color .3s;
  z-index: 1000;
}
.adasavemessage{
 display:none;
	margin-left: 20px;
	color:#fff;
	background-color:#B81B1E;
	padding: 5px;
}
#adasettsingsave{
  top: 40%;
    width: 120px;
    right: 10%;
    font-weight:bold;
}
#adascrollbutton:hover, #adasettsingsave:hover {
  cursor: pointer;
  background-color: #333;
}
#adascrollbutton:active, #adasettsingsave:active {
  background-color: #555;
}

#adascrollbutton::after{
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
