<!DOCTYPE html>
<html lang="en">
<link rel="icon" type="image/x-icon" href="/images/favicon.ico">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/tailwind.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.11.1/dist/cdn.min.js"></script>
    <script src="{{ url_for('static', filename='vendor/nice-select2.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/nice-select2.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>    
    <link rel="icon" type="png" href="{{ url_for('static', filename='img/logo.png') }}">
    <title>{% block title %}{% endblock %}</title>
    <script>
    </script>
</head>

<body>

    {% include 'layout/header.html' %}
    {% set listcategories = ["Watches For Women"
    ,"Longines"
    ,"Rolex"
    ,"Watches For Men"
    ,"Tudor"
    ,"Diamond Watches"
    ,"Women's Luxury Watches"
    ,"Fortis"
    ,"Used Luxury Watches"
    ,"Accesories"
    ,"OMEGA"
    ,"Breitling"
    ,"Diamond Bezel"
    ,"Jewelry"
    ,"Pre Owned Watches"
    ,"Bvlgari"
    ,"RICHARD MILLE"
    ,"AUDEMARS PIGUET"
    ,"PATEK PHILIPPE"
    ,"CARTIER"
    ,"VACHERON CONSTANTIN"
    ,"NEW ARRIVALS"
    ,"BLANCPAIN"
    ,"IWC"
    ,"ZENITH"
    ,"PANERAI"
    ,"HUBLOT"
    ,"BRACELETS"]
%}
{% if request.args.get('color') is not none %}
    {% set colorRequest = request.args.get('color') %}
{% else %}
    {% set colorRequest = '' %}
{% endif %}

{% if request.args.get('bracelet') is not none %}
    {% set braceletRequest = request.args.get('bracelet') %}
{% else %}
    {% set braceletRequest = '' %}
{% endif %}

{% if request.args.get('size') is not none %}
    {% set sizeRequest = request.args.get('size') %}
{% else %}
    {% set sizeRequest = '' %}
{% endif %}

{% if request.args.get('metal') is not none %}
    {% set metalRequest = request.args.get('metal') %}
{% else %}
    {% set metalRequest = '' %}
{% endif %}




   
    <nav class="flex bg-orange-300  py-3 px-5  dark:bg-gray-800 dark:border-gray-700" aria-label="Breadcrumb">
        <ol class="inline-flex items-center space-x-1 md:space-x-3">
            <li class="inline-flex items-center">
                <a href="/"
                    class="text-sm font-bold text-white   inline-flex items-center dark:text-gray-400 dark:hover:text-white">
                    <svg class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z">
                        </path>
                    </svg>
                    Home
                </a>
            </li>
            <li>
                <div class="flex items-center">
                    <svg class="w-6 h-6 text-white" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                            clip-rule="evenodd"></path>
                    </svg>
                    <button 
                        class="text-white   ml-1 md:ml-2 text-sm font-medium dark:text-gray-400 dark:hover:text-white">{% block breadcum1 %}{% endblock %}</button>
                </div>
            </li>
            <li aria-current="page">
                <div class="flex items-center">
                    <svg class="w-6 h-6  text-white" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                            clip-rule="evenodd"></path>
                    </svg>
                    <span class="text-white ml-1 md:ml-2 text-sm font-medium dark:text-gray-500"> {% block breadcum2 %}{% endblock %}</span>
                </div>
            </li>
        </ol>
    </nav>
    <main class="main">
        <div class="bg-white" x-data="{menuState : false}">
            <div>
                <main class="main">
                    <div class="bg-white" x-data="{menuState : false}">
                        <div>
                            <div x-show="menuState"  x-cloak class="relative w-full  z-50 lg:hidden" role="dialog" aria-modal="true">

                                <div class="fixed inset-0 bg-black bg-opacity-25"></div>
            
                                <div class="fixed inset-0 z-40 flex ">
                                    <div @click.outside="menuState = false"
                                        class="relative mr-auto flex h-full w-full max-w-xs flex-col overflow-y-auto bg-white px-6 pt-2 pb-12 shadow-xl">
                                        <div class="flex items-center justify-between px-4 ">
                                            <h2 class="text-lg font-medium text-gray-900">Filters</h2>
                                            <button type="button" @click="menuState = !menuState"
                                                class="-mr-6 flex h-10 w-10 items-center justify-center rounded-md bg-white p-2 text-gray-400">
                                                <span class="sr-only">Close menu</span>
                                                <!-- Heroicon name: outline/x-mark -->
                                                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none"
                                                    viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                                                </svg>
                                            </button>
                                        </div>
            
                                        <!-- Filters -->
                                        <form class="mt-4 border-t border-gray-200">
                                            <h3 class="sr-only">Categories</h3>
                                            <ul role="list" class="space-y-4 pb-0 text-sm font-medium text-gray-900">
                                                <li>
                                                    <p class="font-bold text-base mt-6">SEARCH BY REFERENCE</p>
                                                    <div class="w-8 h-0.5 px-px bg-zinc-300 my-2"></div>
                                                    <div class="flex">
                                                        <div class="relative w-full">
                                                        <form action="{{url_for('searchRoute')}}" method="GET">
                                                            <input type="search" id=""
                                                                class="block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50  border-l-2 border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-l-gray-700  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500"
                                                                placeholder="Search..." name="s" required>
                                                            <button type="submit"
                                                                class="absolute top-0 right-0 p-2.5 text-sm font-medium text-white bg-blue-700  pb-3 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                                                <svg aria-hidden="true" class="w-5 h-5" fill="none"
                                                                    stroke="currentColor" viewBox="0 0 24 24"
                                                                    xmlns="http://www.w3.org/2000/svg">
                                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                                        stroke-width="2"
                                                                        d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                                                                </svg>
                                                                <span class="sr-only">Search</span>
                                                            </button>
                                                        </form>
                                                            
                                                        </div>
                                                    </div>
                                                </li>
                                                <form action="{{url_for('prodfilterRoute')}}" method="get" id="phone_filter">
                                                    <li>
                                                        <p class="font-bold text-base">FILTER BY PRICE</p>
                                                        <div class="w-8 h-0.5 px-px bg-zinc-300 my-2"></div>
                                                        <div>
                                                            <style>
                                                                input[type=range]::-webkit-slider-thumb {
                                                                    pointer-events: all;
                                                                    width: 24px;
                                                                    height: 24px;
                                                                    -webkit-appearance: none;
                                                                    /* @apply w-6 h-6 appearance-none pointer-events-auto; */
                                                                }
                                                            </style>
                                                            <div class="flex justify-center items-center">
                                                                <div x-data="range()" x-init="mintrigger(); maxtrigger()"
                                                                    class="relative max-w-xl w-full">
                                                                    <div>
                                                                        <input type="range" step="100" x-bind:min="min" x-bind:max="max"
                                                                            x-on:input="mintrigger" x-model="minprice" onchange="testerrr(this)" 
                                                                            class="absolute pointer-events-none appearance-none z-20 h-2 w-full opacity-0 cursor-pointer">
                
                                                                        <input type="range" step="10" x-bind:min="min" x-bind:max="max" onchange="testerrr(this)"
                                                                            x-on:input="maxtrigger" x-model="maxprice"
                                                                            class="absolute pointer-events-none appearance-none z-20 h-2 w-full opacity-0 cursor-pointer">
                
                                                                        <div class="relative z-10 h-1.5">
                
                                                                            <div
                                                                                class="absolute z-10 left-0 right-0 bottom-0 top-0 rounded-md  bg-gray-100">
                                                                            </div>
                
                                                                            <div class="absolute z-20 top-0 bottom-0 rounded-md bg-gray-300"
                                                                                x-bind:style="'right:'+maxthumb+'%; left:'+minthumb+'%'">
                                                                            </div>
                
                                                                            <div class="absolute z-30 w-3.5 h-3.5 top-0 left-0  bg-gray-500 rounded-full -mt-1 -ml-1"
                                                                                x-bind:style="'left: '+minthumb+'%'"></div>
                
                                                                            <div class="absolute z-30 w-3.5 h-3.5 top-0 right-0 bg-gray-500 rounded-full -mt-1 -mr-3"
                                                                                x-bind:style="'right: '+maxthumb+'%'"></div>
                
                                                                        </div>
                
                                                                    </div>
                                                                    <div class="flex pt-4">
                                                                                                                                                <div class="flex justify-start items-start">
                                                                                <button type="submit" class="bg-orange-400 px-4 py-1 rounded-md">Filter</button>
                                                                            </div>
                                                                            <div class="absolute right-0">
                                                                                <span>Price : </span>
                                                                                <span x-text="minpriceUSD()"></span>
                                                                                <span class="px-1"> - </span>
                                                                                <span x-text="maxpriceUSD()"></span>
                                                                                <input name='minPrice' type="hidden" x-model="minpriceNumber()">
                                                                                <input name='maxPrice' type="hidden" x-model="maxpriceNummber()">
                                                                            </div>
                                                                    </div>
                
                                                                </div>
                
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <p class="font-bold text-base">FILTER BY DIAL COLOR</p>
                                                        <div class="w-8 h-0.5 px-px bg-zinc-300 my-2"></div>
                                                        <div>
                                                            <select class="custom-select custom-color-select w-full text-gray-300" name="color" style="width: 100%;">
                                                                <option></option>
                                                                <option {% if colorRequest == 'black' %}selected{% endif %} value="black">Black</option>
                                                                <option {% if colorRequest == 'blue' %}selected{% endif %} value="blue">Blue</option>
                                                                <option {% if colorRequest == 'brown' %}selected{% endif %}  value="brown">Brown</option>
                                                                <option {% if colorRequest == 'champagne' %}selected{% endif %} value="champagne">Champagne</option>
                                                                <option {% if colorRequest == 'champagne diamond' %}selected{% endif %} value="champagne diamond">Champagne Diamond</option>
                                                                <option {% if colorRequest == 'chocolate' %}selected{% endif %} value="chocolate">Chocolate</option>
                                                                <option {% if colorRequest == 'diamond' %}selected{% endif %} value="diamond">Diamond</option>
                                                                <option {% if colorRequest == 'eye of the tiger' %}selected{% endif %} value="eye of the tiger">Eye of the tiger</option>
                                                                <option {% if colorRequest == 'green' %}selected{% endif %} value="green">Green</option>
                                                                <option {% if colorRequest == 'meteorite' %}selected{% endif %} value="meteorite">Meteorite</option>
                                                                <option {% if colorRequest == 'mop' %}selected{% endif %} value="mop">MOP</option>
                                                                <option {% if colorRequest == 'mother of pearl' %}selected{% endif %} value="mother of pearl">Mother of Pearl</option>
                                                                <option {% if colorRequest == 'pink' %}selected{% endif %} value="pink">Pink</option>
                                                                <option {% if colorRequest == 'purple' %}selected{% endif %} value="purple">Purple</option>
                                                                <option {% if colorRequest == 'rhodium' %}selected{% endif %} value="rhodium">Rhodium</option>
                                                                <option {% if colorRequest == 'silver' %}selected{% endif %} value="silver">Silver</option>
                                                                <option {% if colorRequest == 'sundust' %}selected{% endif %} value="sundust">Sundust</option>
                                                                <option {% if colorRequest == 'sundust roman' %}selected{% endif %} value="sundust roman">Sundust Roman</option>
                                                                <option {% if colorRequest == 'turquoise' %}selected{% endif %} value="turquoise">Turquoise</option>
                                                                <option {% if colorRequest == 'white' %}selected{% endif %} value="white">White</option>
                                                                <option {% if colorRequest == 'yellow' %}selected{% endif %} value="yellow">Yellow</option>
                                                            </select>
                                                        </div>
                
                                                    </li>
                                                    <li>
                                                        <p class="font-bold text-base">FILTER BY SIZE</p>
                                                        <div class="w-8 h-0.5 px-px bg-zinc-300 my-2"></div>
                                                        <div>
                                                            <select class="custom-select custom-size-select w-full text-gray-300" name="size" style="width: 100%;">
                                                                <option></option>
                                                                <option {% if sizeRequest == '26mm' %}selected{% endif %} value="26mm">26 MM</option>
                                                                <option {% if sizeRequest == '28mm' %}selected{% endif %} value="28mm">28 MM</option>
                                                                <option {% if sizeRequest == '29mm' %}selected{% endif %} value="29mm">29 ММ</option>
                                                                <option {% if sizeRequest == '31mm' %}selected{% endif %} value="31mm">31 ММ</option>
                                                                <option {% if sizeRequest == '36mm' %}selected{% endif %} value="36mm">36 MM</option>
                                                                <option {% if sizeRequest == '39mm' %}selected{% endif %} value="39mm">39 MM</option>
                                                                <option {% if sizeRequest == '40mm' %}selected{% endif %} value="40mm">40 MM</option>
                                                                <option {% if sizeRequest == '41mm' %}selected{% endif %} value="41mm">41 MM</option>
                                                                <option {% if sizeRequest == '42mm' %}selected{% endif %}  value="42mm">42 MM</option>
                                                                <option {% if sizeRequest == '43mm' %}selected{% endif %} value="43mm">43 MM</option>
                                                                <option {% if sizeRequest == '44mm' %}selected{% endif %} value="44mm">44 MM</option>
                                                                <option {% if sizeRequest == '50mm' %}selected{% endif %} value="50mm">50 MM</option>
                                                            </select>
                                                        </div>
                
                                                    </li>
                                                    <li>
                                                        <p class="font-bold text-base">FILTER BY BRACELET</p>
                                                        <div class="w-8 h-0.5 px-px bg-zinc-300 my-2"></div>
                                                        <div>
                                                            <select class="custom-select custom-bracelet-select w-full text-gray-300" name="bracelet" style="width: 100%;">
                                                                <option></option>
                                                                <option {% if braceletRequest == '18 kt white gold' %}selected{% endif %} value="18 kt white gold">18 KT White gold</option>
                                                                <option {% if braceletRequest == '18 kt yellow gold' %}selected{% endif %} value="18 kt yellow gold">18 KT Yellow Gold</option>
                                                                <option {% if braceletRequest == '18k pink gold' %}selected{% endif %} value="18k pink gold">18K pink gold</option>
                                                                <option {% if braceletRequest == '18k pink gold and steel' %}selected{% endif %} value="18k pink gold and steel">18K pink gold and steel</option>
                                                                <option {% if braceletRequest == '18k white gold' %}selected{% endif %} value="18k white gold">18K white gold</option>
                                                                <option {% if braceletRequest == '18k yellow gold' %}selected{% endif %} value="18k yellow gold">18K yellow gold</option>
                                                                <option {% if braceletRequest == '18k yellow gold and steel' %}selected{% endif %} value="18k yellow gold and steel">18K yellow gold and steel</option>
                                                                <option {% if braceletRequest == '18kt rose gold' %}selected{% endif %} value="18kt rose gold">18kt Rose Gold</option>
                                                                <option {% if braceletRequest == 'jubilee' %}selected{% endif %} value="jubilee">Jubilee</option>
                                                                <option {% if braceletRequest == 'leather' %}selected{% endif %} value="leather">Leather</option>
                                                                <option {% if braceletRequest == 'oyster' %}selected{% endif %} value="oyster">Oyster</option>
                                                                <option {% if braceletRequest == 'oysterflex' %}selected{% endif %} value="oysterflex">Oysterflex</option>
                                                                <option {% if braceletRequest == 'platinum' %}selected{% endif %} value="platinum">Platinum</option>
                                                                <option {% if braceletRequest == 'president bracelet' %}selected{% endif %} value="president bracelet">President Bracelet</option>
                                                                <option {% if braceletRequest == 'rose gold' %}selected{% endif %} value="rose gold">Rose Gold</option>
                                                                <option {% if braceletRequest == 'stainless steel' %}selected{% endif %} value="stainless steel">Stainless Steel</option>
                                                                <option {% if braceletRequest == 'white gold' %}selected{% endif %} value="white gold">White Gold</option>
                                                                <option {% if braceletRequest == 'yellow gold' %}selected{% endif %} value="yellow gold">Yellow Gold</option>
                                                            </select>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <p class="font-bold text-base">FILTER BY METAL</p>
                                                        <div class="w-8 h-0.5 px-px bg-zinc-300 my-2"></div>
                                                        <div>
                                                            <select class="custom-select custom-metal-select w-full text-gray-300" name="metal" style="width: 100%;" >
                                                                <option></option>
                                                                <option {% if metalRequest == '18k rose gold' %}selected{% endif %} value="18k rose gold">18k rose gold</option>
                                                                <option {% if metalRequest == '18k rose gold and stainless steel' %}selected{% endif %} value="18k rose gold and stainless steel">18k rose gold and steel</option>
                                                                <option {% if metalRequest == '18k white gold' %}selected{% endif %} value="18k white gold">18k white gold</option>
                                                                <option {% if metalRequest == '18k yellow gold' %}selected{% endif %} value="18k yellow gold">18k yellow gold</option>
                                                                <option {% if metalRequest == '18k yellow gold and steel' %}selected{% endif %} value="18k yellow gold and steel">18k yellow gold and steel</option>
                                                                <option {% if metalRequest == '18kt rose gold' %}selected{% endif %} value="18kt rose gold">18kt Rose Gold</option>
                                                                <option {% if metalRequest == 'diamonds' %}selected{% endif %} value="diamonds">Diamonds</option>
                                                                <option {% if metalRequest == 'oystersteel' %}selected{% endif %} value="oystersteel">Oystersteel</option>
                                                                <option {% if metalRequest == 'platinum' %}selected{% endif %} value="platinum">Platinum</option>
                                                                <option {% if metalRequest == 'platinum 950' %}selected{% endif %} value="platinum 950">platinum 950</option>
                                                                <option {% if metalRequest == 'rose gold' %}selected{% endif %} value="rose gold">Rose Gold</option>
                                                                <option {% if metalRequest == 'rose gold and steel' %}selected{% endif %} value="rose gold and steel">Rose Gold and Steel</option>
                                                                <option {% if metalRequest == 'stainless steel' %}selected{% endif %} value="stainless steel">Stainless Steel</option>
                                                                <option {% if metalRequest == 'white gold' %}selected{% endif %} value="white gold">White Gold</option>
                                                                <option {% if metalRequest == 'yellow gold' %}selected{% endif %}value="yellow gold">Yellow Gold</option>
                                                            </select>
                                                        </div>
                                                    </li>
                                                </form>
                                                <li>
                                                    <p class="font-bold text-base">PRODUCT CATEGORIES</p>
                                                    <div class="w-8 h-0.5 px-px bg-zinc-300 my-2"></div>
                                                </li>
                                            </ul>
            
                                            {% for x in listcategories %}
                                            <div class="border-b border-gray-200 py-3">
                                                 <h3 class="-my-3 flow-root">
                                                     <a href="{{ url_for('filterRoute' , search = x| lower ) }}"
                                                         class="flex w-full items-center justify-between bg-white py-3 text-sm text-gray-400 hover:text-gray-500"
                                                         aria-controls="filter-section-0" aria-expanded="false">
                                                         <span class="text-base text-gray-500">{{ x |capitalize }}</span>
                                                     
                                                     </a>
                                                 </h3>
                                             </div>
                                      {% endfor %}
            
                                        </form>
            
                                    </div>
                                </div>
                            </div>
                            <main class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
                                <div class="flex items-baseline justify-between border-b border-gray-200 pt-6 pb-2">
                                    <h1 class="text-2xl font-bold tracking-tight text-gray-900">
                                        {% block product_nameheader %}{% endblock %}
                                    </h1>
            
                                    <div class="flex items-center">

                                        {% if request.endpoint != "product_page" %}
                                            <button type="button" @click="menuState = !menuState"
                                                class="-m-2 ml-4 p-2 text-gray-400 hover:text-gray-500 sm:ml-6 lg:hidden">
                                                <span class="sr-only">Filters</span>
                                                <!-- Heroicon name: mini/funnel -->
                                                <svg class="h-5 w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                                    viewBox="0 0 20 20" fill="currentColor">
                                                    <path fill-rule="evenodd"
                                                        d="M2.628 1.601C5.028 1.206 7.49 1 10 1s4.973.206 7.372.601a.75.75 0 01.628.74v2.288a2.25 2.25 0 01-.659 1.59l-4.682 4.683a2.25 2.25 0 00-.659 1.59v3.037c0 .684-.31 1.33-.844 1.757l-1.937 1.55A.75.75 0 018 18.25v-5.757a2.25 2.25 0 00-.659-1.591L2.659 6.22A2.25 2.25 0 012 4.629V2.34a.75.75 0 01.628-.74z"
                                                        clip-rule="evenodd" />
                                                </svg>
                                            </button>
                                        {% endif %}

                                    </div>
                                </div>
            
                                <section aria-labelledby="products-heading" class="pt-6 pb-24">
                                    <h2 id="products-heading" class="sr-only">Products</h2>
            
                                    <div class="grid grid-cols-1 gap-x-8 gap-y-10 lg:grid-cols-4">
                                        <!-- Filters -->
                                        <div class="hidden lg:block">
                                            <h3 class="sr-only">Categories</h3>
                                            <ul role="list" class="space-y-4 pb-0 text-sm font-medium text-gray-900">
                                                <li>

                                                    <p class="font-bold text-base">SEARCH BY REFERENCE</p>
                                                    <div class="w-8 h-0.5 px-px bg-zinc-300 my-2"></div>
                                                    <div class="flex">
                                                        <div class="relative w-full">
                                                            <form action="{{url_for('searchRoute')}}" method="GET">
                                                                <input type="search" id="" name="s"
                                                                class="block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50  border-l-2 border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-l-gray-700  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500"
                                                                placeholder="Search..." required>
                                                                <button type="submit"
                                                                    class="absolute top-0 right-0 p-2.5 text-sm font-medium text-white bg-blue-700  pb-3 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                                                    <svg aria-hidden="true" class="w-5 h-5" fill="none"
                                                                        stroke="currentColor" viewBox="0 0 24 24"
                                                                        xmlns="http://www.w3.org/2000/svg">
                                                                        <path stroke-linecap="round" stroke-linejoin="round"
                                                                            stroke-width="2"
                                                                            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                                                                    </svg>
                                                                    <span class="sr-only">Search</span>
                                                                </button>
                                                            </form>
                                                            
                                                        </div>
                                                    </div>
                                                </li>
                                                <form action="{{url_for('prodfilterRoute')}}" method="get" id="desktop_filter">
                                                    <li>
                                                        <p class="font-bold text-base">FILTER BY PRICE</p>
                                                        <div class="w-8 h-0.5 px-px bg-zinc-300 my-2"></div>
                                                        <div>
                                                            <style>
                                                                input[type=range]::-webkit-slider-thumb {
                                                                    pointer-events: all;
                                                                    width: 24px;
                                                                    height: 24px;
                                                                    -webkit-appearance: none;
                                                                    /* @apply w-6 h-6 appearance-none pointer-events-auto; */
                                                                }
                                                            </style>
                                                            <div class="flex justify-center items-center">
                                                                <div x-data="range()" x-init="mintrigger(); maxtrigger()"
                                                                    class="relative max-w-xl w-full">
                                                                    <div>
                                                                        <input type="range" step="100" x-bind:min="min" x-bind:max="max"
                                                                            x-on:input="mintrigger" x-model="minprice" onchange="testerrr(this)" 
                                                                            class="absolute pointer-events-none appearance-none z-20 h-2 w-full opacity-0 cursor-pointer">
                
                                                                        <input type="range" step="10" x-bind:min="min" x-bind:max="max" onchange="testerrr(this)"
                                                                            x-on:input="maxtrigger" x-model="maxprice"
                                                                            class="absolute pointer-events-none appearance-none z-20 h-2 w-full opacity-0 cursor-pointer">
                
                                                                        <div class="relative z-10 h-1.5">
                
                                                                            <div
                                                                                class="absolute z-10 left-0 right-0 bottom-0 top-0 rounded-md  bg-gray-100">
                                                                            </div>
                
                                                                            <div class="absolute z-20 top-0 bottom-0 rounded-md bg-gray-600"
                                                                                x-bind:style="'right:'+maxthumb+'%; left:'+minthumb+'%'">
                                                                            </div>
                
                                                                            <div class="absolute z-30 w-3.5 h-3.5 top-0 left-0  bg-gray-500 rounded-full -mt-1 -ml-1"
                                                                                x-bind:style="'left: '+minthumb+'%'"></div>
                
                                                                            <div class="absolute z-30 w-3.5 h-3.5 top-0 right-0 bg-gray-500 rounded-full -mt-1 -mr-3"
                                                                                x-bind:style="'right: '+maxthumb+'%'"></div>
                
                                                                        </div>
                
                                                                    </div>
                                                                    <div class="flex pt-4">
                                                                                                                                                <div class="flex justify-start items-start">
                                                                                <button type="submit" class="text-orange-400 px-4 py-1 rounded-md">Filter</button>
                                                                            </div>
                                                                            <div class="absolute right-0">
                                                                                <span>Price : </span>
                                                                                <span x-text="minpriceUSD()"></span>
                                                                                <span class="px-1"> - </span>
                                                                                <span x-text="maxpriceUSD()"></span>
                                                                                <input name='minPrice' type="hidden" x-model="minpriceNumber()">
                                                                                <input name='maxPrice' type="hidden" x-model="maxpriceNumber()">
                                                                            </div>
                                                                    </div>
                
                                                                </div>
                
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <p class="font-bold text-base">FILTER BY DIAL COLOR</p>
                                                        <div class="w-8 h-0.5 px-px bg-zinc-300 my-2"></div>
                                                        <div>
                                                            <select class="custom-select-1 custom-color-select w-full text-gray-300" name="color" style="width: 100%;">                          
                                                                <option></option>
                                                                <option {% if colorRequest == 'black' %}selected{% endif %} value="black">Black</option>
                                                                <option {% if colorRequest == 'blue' %}selected{% endif %} value="blue">Blue</option>
                                                                <option {% if colorRequest == 'brown' %}selected{% endif %}  value="brown">Brown</option>
                                                                <option {% if colorRequest == 'champagne' %}selected{% endif %} value="champagne">Champagne</option>
                                                                <option {% if colorRequest == 'champagne diamond' %}selected{% endif %} value="champagne diamond">Champagne Diamond</option>
                                                                <option {% if colorRequest == 'chocolate' %}selected{% endif %} value="chocolate">Chocolate</option>
                                                                <option {% if colorRequest == 'diamond' %}selected{% endif %} value="diamond">Diamond</option>
                                                                <option {% if colorRequest == 'eye of the tiger' %}selected{% endif %} value="eye of the tiger">Eye of the tiger</option>
                                                                <option {% if colorRequest == 'green' %}selected{% endif %} value="green">Green</option>
                                                                <option {% if colorRequest == 'meteorite' %}selected{% endif %} value="meteorite">Meteorite</option>
                                                                <option {% if colorRequest == 'mop' %}selected{% endif %} value="mop">MOP</option>
                                                                <option {% if colorRequest == 'mother of pearl' %}selected{% endif %} value="mother of pearl">Mother of Pearl</option>
                                                                <option {% if colorRequest == 'pink' %}selected{% endif %} value="pink">Pink</option>
                                                                <option {% if colorRequest == 'purple' %}selected{% endif %} value="purple">Purple</option>
                                                                <option {% if colorRequest == 'rhodium' %}selected{% endif %} value="rhodium">Rhodium</option>
                                                                <option {% if colorRequest == 'silver' %}selected{% endif %} value="silver">Silver</option>
                                                                <option {% if colorRequest == 'sundust' %}selected{% endif %} value="sundust">Sundust</option>
                                                                <option {% if colorRequest == 'sundust roman' %}selected{% endif %} value="sundust roman">Sundust Roman</option>
                                                                <option {% if colorRequest == 'turquoise' %}selected{% endif %} value="turquoise">Turquoise</option>
                                                                <option {% if colorRequest == 'white' %}selected{% endif %} value="white">White</option>
                                                                <option {% if colorRequest == 'yellow' %}selected{% endif %} value="yellow">Yellow</option>
                                                            </select>
                                                        </div>
                
                                                    </li>
                                                    <li>
                                                        <p class="font-bold text-base">FILTER BY SIZE</p>
                                                        <div class="w-8 h-0.5 px-px bg-zinc-300 my-2"></div>
                                                        <div>
                                                            <select class="custom-select-1 custom-size-select w-full text-gray-300" name="size" style="width: 100%;">
                                                                <option></option>
                                                                <option {% if sizeRequest == '26mm' %}selected{% endif %} value="26mm">26 MM</option>
                                                                <option {% if sizeRequest == '28mm' %}selected{% endif %} value="28mm">28 MM</option>
                                                                <option {% if sizeRequest == '29mm' %}selected{% endif %} value="29mm">29 ММ</option>
                                                                <option {% if sizeRequest == '31mm' %}selected{% endif %} value="31mm">31 ММ</option>
                                                                <option {% if sizeRequest == '36mm' %}selected{% endif %} value="36mm">36 MM</option>
                                                                <option {% if sizeRequest == '39mm' %}selected{% endif %} value="39mm">39 MM</option>
                                                                <option {% if sizeRequest == '40mm' %}selected{% endif %} value="40mm">40 MM</option>
                                                                <option {% if sizeRequest == '41mm' %}selected{% endif %} value="41mm">41 MM</option>
                                                                <option {% if sizeRequest == '42mm' %}selected{% endif %}  value="42mm">42 MM</option>
                                                                <option {% if sizeRequest == '43mm' %}selected{% endif %} value="43mm">43 MM</option>
                                                                <option {% if sizeRequest == '44mm' %}selected{% endif %} value="44mm">44 MM</option>
                                                                <option {% if sizeRequest == '50mm' %}selected{% endif %} value="50mm">50 MM</option>
                                                            </select>
                                                        </div>
                
                                                    </li>
                                                    <li>
                                                        <p class="font-bold text-base">FILTER BY BRACELET</p>
                                                        <div class="w-8 h-0.5 px-px bg-zinc-300 my-2"></div>
                                                        <div>
                                                            <select class="custom-select-1 custom-bracelet-select w-full text-gray-300" name="bracelet" style="width: 100%;">
                                                                <option></option>
                                                                <option {% if braceletRequest == '18 kt white gold' %}selected{% endif %} value="18 kt white gold">18 KT White gold</option>
                                                                <option {% if braceletRequest == '18 kt yellow gold' %}selected{% endif %} value="18 kt yellow gold">18 KT Yellow Gold</option>
                                                                <option {% if braceletRequest == '18k pink gold' %}selected{% endif %} value="18k pink gold">18K pink gold</option>
                                                                <option {% if braceletRequest == '18k pink gold and steel' %}selected{% endif %} value="18k pink gold and steel">18K pink gold and steel</option>
                                                                <option {% if braceletRequest == '18k white gold' %}selected{% endif %} value="18k white gold">18K white gold</option>
                                                                <option {% if braceletRequest == '18k yellow gold' %}selected{% endif %} value="18k yellow gold">18K yellow gold</option>
                                                                <option {% if braceletRequest == '18k yellow gold and steel' %}selected{% endif %} value="18k yellow gold and steel">18K yellow gold and steel</option>
                                                                <option {% if braceletRequest == '18kt rose gold' %}selected{% endif %} value="18kt rose gold">18kt Rose Gold</option>
                                                                <option {% if braceletRequest == 'jubilee' %}selected{% endif %} value="jubilee">Jubilee</option>
                                                                <option {% if braceletRequest == 'leather' %}selected{% endif %} value="leather">Leather</option>
                                                                <option {% if braceletRequest == 'oyster' %}selected{% endif %} value="oyster">Oyster</option>
                                                                <option {% if braceletRequest == 'oysterflex' %}selected{% endif %} value="oysterflex">Oysterflex</option>
                                                                <option {% if braceletRequest == 'platinum' %}selected{% endif %} value="platinum">Platinum</option>
                                                                <option {% if braceletRequest == 'president bracelet' %}selected{% endif %} value="president bracelet">President Bracelet</option>
                                                                <option {% if braceletRequest == 'rose gold' %}selected{% endif %} value="rose gold">Rose Gold</option>
                                                                <option {% if braceletRequest == 'stainless steel' %}selected{% endif %} value="stainless steel">Stainless Steel</option>
                                                                <option {% if braceletRequest == 'white gold' %}selected{% endif %} value="white gold">White Gold</option>
                                                                <option {% if braceletRequest == 'yellow gold' %}selected{% endif %} value="yellow gold">Yellow Gold</option>
                                                            </select>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <p class="font-bold text-base">FILTER BY METAL</p>
                                                        <div class="w-8 h-0.5 px-px bg-zinc-300 my-2"></div>
                                                        <div>
                                                            <select class="custom-select-1 custom-metal-select w-full text-gray-300" name="metal" style="width: 100%;" >
                                                                 <option></option>
                                                                <option {% if metalRequest == '18k rose gold' %}selected{% endif %} value="18k rose gold">18k rose gold</option>
                                                                <option {% if metalRequest == '18k rose gold and stainless steel' %}selected{% endif %} value="18k rose gold and stainless steel">18k rose gold and steel</option>
                                                                <option {% if metalRequest == '18k white gold' %}selected{% endif %} value="18k white gold">18k white gold</option>
                                                                <option {% if metalRequest == '18k yellow gold' %}selected{% endif %} value="18k yellow gold">18k yellow gold</option>
                                                                <option {% if metalRequest == '18k yellow gold and steel' %}selected{% endif %} value="18k yellow gold and steel">18k yellow gold and steel</option>
                                                                <option {% if metalRequest == '18kt rose gold' %}selected{% endif %} value="18kt rose gold">18kt Rose Gold</option>
                                                                <option {% if metalRequest == 'diamonds' %}selected{% endif %} value="diamonds">Diamonds</option>
                                                                <option {% if metalRequest == 'oystersteel' %}selected{% endif %} value="oystersteel">Oystersteel</option>
                                                                <option {% if metalRequest == 'platinum' %}selected{% endif %} value="platinum">Platinum</option>
                                                                <option {% if metalRequest == 'platinum 950' %}selected{% endif %} value="platinum 950">platinum 950</option>
                                                                <option {% if metalRequest == 'rose gold' %}selected{% endif %} value="rose gold">Rose Gold</option>
                                                                <option {% if metalRequest == 'rose gold and steel' %}selected{% endif %} value="rose gold and steel">Rose Gold and Steel</option>
                                                                <option {% if metalRequest == 'stainless steel' %}selected{% endif %} value="stainless steel">Stainless Steel</option>
                                                                <option {% if metalRequest == 'white gold' %}selected{% endif %} value="white gold">White Gold</option>
                                                                <option {% if metalRequest == 'yellow gold' %}selected{% endif %}value="yellow gold">Yellow Gold</option>
                                                            </select>
                                                        </div>
                                                    </li>
                                                    
                                                </form>
                                                <li>
                                                    <p class="font-bold text-base">PRODUCT CATEGORIES</p>
                                                    <div class="w-8 h-0.5 px-px bg-zinc-300 my-2"></div>
                                                </li>
                                            </ul>
                                           
                                             {% for x in listcategories %}
                                                   <div class="border-b border-gray-200 py-3">
                                                        <h3 class="-my-3 flow-root">
                                                            <a href="{{ url_for('filterRoute' , search = x| lower ) }}"
                                                                class="flex w-full items-center justify-between bg-white py-3 text-sm text-gray-400 hover:text-gray-500"
                                                                aria-controls="filter-section-0" aria-expanded="false">
                                                                <span class="text-base text-gray-500">{{ x |capitalize }}</span>
                                                            
                                                            </a>
                                                        </h3>
                                                    </div>
                                             {% endfor %}
            
                                      
                                        </div>
            
                                        <div class="lg:col-span-3">
                                            <h1 class="text-2xl text-gray-800 mb-2">
                                                {% block titlesection %}{% endblock %}
                                            </h1>
                                            <div class="flex flex-col space-y-2">
                                                {% block paragraphedescription %}{% endblock %}
                                            </div>


                                            {% block product_list %}{% endblock %}

                                            {% block pagination_block %}{% endblock %}
                                        </div>
                                    </div>
                                </section>
                            </main>
                        </div>
                    </div>
                </main>
            </div>
        </div>

        {% block modal_block %}{% endblock %}

    </main>

    {% include 'layout/footer.html' %}
    <script src="{{ url_for('static', filename='../static/vendor/jquery.zoom.min.js') }}"></script>
    <script>
        $(document).ready(function(){
			$('#ex1').zoom();
		});
    </script>

    <script>
        $('.filter_dropdownsearch').on('keyup', function () {
            var value = $(this).val();
            var $parent = $(this).closest('.filter-dropdown');
            var results = 0;
            $('ul li:not(.searchInput):not(.noresults)', $parent).each(function (index) {
                $(this).hide();
                if ($(this).is(':contains("' + value + '")')) {
                    $(this).show();
                    results = 1;
                }
            });
            if (results == 0) {
                if (!$('.noresults', $parent).length) {
                    $('ul', $parent).append('<li class="noresults">No results found</li>');
                }
            } else {
                $('.noresults', $parent).remove();
            }
        });

        $('.filter-dropdown button').on('click', function () {
            $('.filter-dropdown ul').hide();
            $(this).siblings('ul').show();
            $(this).siblings('ul').children('.searchInput').children('input').focus();
        })

        $('.filter-dropdown ul li:not(.searchInput)').on('click', function () {
            var line_text = $(this).text();
            $(this).parent('ul').siblings('button').text(line_text);
            $(this).parent('ul').hide();
            //$(this).sibling('.searchInput').child('.filter_dropdownsearch').val('');
        });

        $('html').on('click', function (e) {
            if ($(e.target).parents('.filter-dropdown').length == 0 && $(e.target).siblings('.filter-dropdown').length == 0 && $(e.target).children('.filter-dropdown').length == 0) {
                $('.filter-dropdown ul').hide();
                $('.filter_dropdownsearch').val('').keyup();
            }
        });
        $(".filterbtn").each(function (index, elmt) {
            $(elmt).on("click", function (event) {
                event.preventDefault();
            });
        });
        $(".filter_dropdownsearch").each(function (index, elmt) {
            $(elmt).on("keypress", function (event) {
                if (event.which == 13) {
                    event.preventDefault();
                }
            });
        });

    </script>
    <script>
        (function () {

            window.inputNumber = function (el) {

                var min = el.attr('min') || false;
                var max = el.attr('max') || false;

                var els = {};

                els.dec = el.prev();
                els.inc = el.next();

                el.each(function () {
                    init($(this));
                });

                function init(el) {

                    els.dec.on('click', decrement);
                    els.inc.on('click', increment);

                    function decrement() {
                        var value = el[0].value;
                        value--;
                        if (!min || value >= min) {
                            el[0].value = value;
                        }
                        console.log(el[0].value);
                    }

                    function increment() {
                        var value = el[0].value;
                        value++;
                        if (!max || value <= max) {
                            el[0].value = value++;
                            console.log(el[0].value);

                        }
                    }
                }
            }
        })();

        inputNumber($('.input-number'));
    </script>
    <script>
        var swiper = new Swiper(".mySwiper", {
            spaceBetween: 30,
            centeredSlides: true,
            autoplay: {
                delay: 2500,
                disableOnInteraction: true,
            },
            loop: true,
            effect: "fade",
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });
    </script>
    <script>
        function range() {
            const usd = new Intl.NumberFormat('en-US', {
                style: 'currency',
                currency: 'USD',
                minimumFractionDigits: 0
            });

            return {
                minprice: 0,
                maxprice: 9800000,
                min: 0,
                max: 9800000,
                minthumb: 0,
                maxthumb: 0,
                minpriceUSD() {
                    return usd.format(this.minprice);
                },
                maxpriceUSD() {
                    return usd.format(this.maxprice);
                },
                minpriceNumber() {
                    return this.minprice;
                },
                maxpriceNumber() {
                    return this.maxprice;
                },

                mintrigger() {
                    this.minprice = Math.min(this.minprice, this.maxprice - 500);
                    this.minthumb = ((this.minprice - this.min) / (this.max - this.min)) * 100;
                },

                maxtrigger() {
                    this.maxprice = Math.max(this.maxprice, this.minprice + 500);
                    this.maxthumb = 100 - (((this.maxprice - this.min) / (this.max - this.min)) * 100);
                },
            }
        }

    </script>
    <script>
        // In your Javascript (external .js resource or <script> tag)
    $(document).ready(function() {
        $('.custom-color-select').select2({
            placeholder: "Any Dial Color",
            allowClear: true
        });
    });
    $(document).ready(function() {
        $('.custom-size-select').select2({
            placeholder: "Any Size",
            allowClear: true
        });
    });
    $(document).ready(function() {
        $('.custom-bracelet-select').select2({
            placeholder: "Any Bracelet",
            allowClear: true
        });
    });
    $(document).ready(function() {
        $('.custom-metal-select').select2({
            placeholder: "Any Metal",
            allowClear: true
        });
    });
    </script>

    <script>
        $(".custom-select").change(function () {
            $("#phone_filter").submit()
        });
        $(".custom-select-1").change(function () {
            $("#desktop_filter").submit()
        });

        
    </script>


</body>





</html>