<footer class="p-4 bg-white sm:p-6 dark:bg-gray-900 mt-32  ">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4">
        <div class="mb-6 md:mb-4">
            <h2 class=" text-sm font-semibold text-gray-900 uppercase dark:text-white">
                Follow us
            </h2>
            <div class="h-1 w-10 mb-6 mt-4 bg-gray-300"></div>

            <div class=" mt-3">
                <p class="text-[2rem]">Luxury Watches Swiss</p>
                <p>20w 47th St, Ste. 401, Geneve, GEN, 10036</p>
            </div>
            <a href="index.html" class="flex  items-center ">
                <img class="h-20  mt-8" alt="Luxury watches" src="{{ url_for('static', filename='img/logo.png') }}" />
            </a>
            <div class="flex  space-x-6 mt-16">
                <a href="#" class="text-gray-500 hover:text-gray-900
                dark:hover:text-white">
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0
                    0 24 24" aria-hidden="true">
                        <path fill-rule="evenodd" d="M22
                        12c0-5.523-4.477-10-10-10S2 6.477 2
                        12c0 4.991 3.657 9.128 8.438
                        9.878v-6.987h-2.54V12h2.54V9.797c0-2.506
                        1.492-3.89 3.777-3.89 1.094 0 2.238.195
                        2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63
                        1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343
                        21.128 22 16.991 22 12z" clip-rule="evenodd" />
                    </svg>
                    <span class="sr-only">Facebook page</span>
                </a>
                <a href="#" class="text-gray-500 hover:text-gray-900
                    dark:hover:text-white">
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                        <path fill-rule="evenodd" d="M12.315 2c2.43
                            0 2.784.013 3.808.06
                            1.064.049 1.791.218 2.427.465a4.902
                            4.902 0 011.772 1.153 4.902 4.902 0
                            011.153 1.772c.247.636.416 1.363.465
                            2.427.048 1.067.06 1.407.06 4.123v.08c0
                            2.643-.012 2.987-.06 4.043-.049
                            1.064-.218 1.791-.465 2.427a4.902 4.902
                            0 01-1.153 1.772 4.902 4.902 0 01-1.772
                            1.153c-.636.247-1.363.416-2.427.465-1.067.048-1.407.06-4.123.06h-.08c-2.643
                            0-2.987-.012-4.043-.06-1.064-.049-1.791-.218-2.427-.465a4.902
                            4.902 0 01-1.772-1.153 4.902 4.902 0
                            01-1.153-1.772c-.247-.636-.416-1.363-.465-2.427-.047-1.024-.06-1.379-.06-3.808v-.63c0-2.43.013-2.784.06-3.808.049-1.064.218-1.791.465-2.427a4.902
                            4.902 0 011.153-1.772A4.902 4.902 0
                            015.45 2.525c.636-.247 1.363-.416
                            2.427-.465C8.901 2.013 9.256 2 11.685
                            2h.63zm-.081 1.802h-.468c-2.456
                            0-2.784.011-3.807.058-.975.045-1.504.207-1.857.344-.467.182-.8.398-1.15.748-.35.35-.566.683-.748
                            1.15-.137.353-.3.882-.344 1.857-.047
                            1.023-.058 1.351-.058 3.807v.468c0
                            2.456.011 2.784.058 3.807.045.975.207
                            1.504.344 1.857.182.466.399.8.748
                            1.15.35.35.683.566
                            1.15.748.353.137.882.3 1.857.344
                            1.054.048 1.37.058 4.041.058h.08c2.597 0
                            2.917-.01 3.96-.058.976-.045 1.505-.207
                            1.858-.344.466-.182.8-.398
                            1.15-.748.35-.35.566-.683.748-1.15.137-.353.3-.882.344-1.857.048-1.055.058-1.37.058-4.041v-.08c0-2.597-.01-2.917-.058-3.96-.045-.976-.207-1.505-.344-1.858a3.097
                            3.097 0 00-.748-1.15 3.098 3.098 0
                            00-1.15-.748c-.353-.137-.882-.3-1.857-.344-1.023-.047-1.351-.058-3.807-.058zM12
                            6.865a5.135 5.135 0 110 10.27 5.135
                            5.135 0 010-10.27zm0 1.802a3.333 3.333 0
                            100 6.666 3.333 3.333 0
                            000-6.666zm5.338-3.205a1.2 1.2 0 110 2.4
                            1.2 1.2 0 010-2.4z" clip-rule="evenodd" />
                    </svg>
                    <span class="sr-only">Instagram page</span>
                </a>
                <a href="#" class="text-gray-500
                        hover:text-gray-900 dark:hover:text-white">
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                        <path d="M8.29 20.251c7.547 0
                                11.675-6.253
                                11.675-11.675 0-.178
                                0-.355-.012-.53A8.348 8.348 0 0022
                                5.92a8.19 8.19 0 01-2.357.646 4.118
                                4.118 0 001.804-2.27 8.224 8.224 0
                                01-2.605.996 4.107 4.107 0 00-6.993
                                3.743 11.65 11.65 0 01-8.457-4.287
                                4.106 4.106 0 001.27 5.477A4.072
                                4.072 0 012.8 9.713v.052a4.105 4.105
                                0 003.292 4.022 4.095 4.095 0
                                01-1.853.07 4.108 4.108 0 003.834
                                2.85A8.233 8.233 0 012 18.407a11.616
                                11.616 0 006.29 1.84" />
                    </svg>
                    <span class="sr-only">Twitter page</span>
                </a>
                <a href="#" class="text-gray-500
                            hover:text-gray-900
                            dark:hover:text-white">
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                        <path fill-rule="evenodd" d="M12
                                    2C6.477 2 2 6.484 2
                                    12.017c0 4.425 2.865 8.18 6.839
                                    9.504.5.092.682-.217.682-.483
                                    0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608
                                    1.003.07 1.531 1.032 1.531
                                    1.032.892 1.53 2.341 1.088
                                    2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951
                                    0-1.093.39-1.988
                                    1.029-2.688-.103-.253-.446-1.272.098-2.65
                                    0 0 .84-.27 2.75 1.026A9.564
                                    9.564 0 0112 6.844c.85.004
                                    1.705.115 2.504.337 1.909-1.296
                                    2.747-1.027 2.747-1.027.546
                                    1.379.202 2.398.1 2.651.64.7
                                    1.028 1.595 1.028 2.688 0
                                    3.848-2.339 4.695-4.566
                                    4.943.359.309.678.92.678 1.855 0
                                    1.338-.012 2.419-.012 2.747 0
                                    .268.18.58.688.482A10.019 10.019
                                    0 0022 12.017C22 6.484 17.522 2
                                    12 2z" clip-rule="evenodd" />
                    </svg>
                    <span class="sr-only">GitHub account</span>
                </a>
                <a href="#" class="text-gray-500
                                hover:text-gray-900
                                dark:hover:text-white">
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0
                                    24 24" aria-hidden="true">
                        <path fill-rule="evenodd" d="M12
                                        2C6.48 2 2 6.48 2
                                        12s4.48 10 10 10c5.51 0
                                        10-4.48 10-10S17.51 2 12
                                        2zm6.605 4.61a8.502 8.502 0
                                        011.93
                                        5.314c-.281-.054-3.101-.629-5.943-.271-.065-.141-.12-.293-.184-.445a25.416
                                        25.416 0
                                        00-.564-1.236c3.145-1.28
                                        4.577-3.124 4.761-3.362zM12
                                        3.475c2.17 0 4.154.813 5.662
                                        2.148-.152.216-1.443
                                        1.941-4.48
                                        3.08-1.399-2.57-2.95-4.675-3.189-5A8.687
                                        8.687 0 0112
                                        3.475zm-3.633.803a53.896
                                        53.896 0 013.167
                                        4.935c-3.992 1.063-7.517
                                        1.04-7.896 1.04a8.581 8.581
                                        0 014.729-5.975zM3.453
                                        12.01v-.26c.37.01 4.512.065
                                        8.775-1.215.25.477.477.965.694
                                        1.453-.109.033-.228.065-.336.098-4.404
                                        1.42-6.747 5.303-6.942
                                        5.629a8.522 8.522 0
                                        01-2.19-5.705zM12
                                        20.547a8.482 8.482 0
                                        01-5.239-1.8c.152-.315
                                        1.888-3.656
                                        6.703-5.337.022-.01.033-.01.054-.022a35.318
                                        35.318 0 011.823 6.475 8.4
                                        8.4 0
                                        01-3.341.684zm4.761-1.465c-.086-.52-.542-3.015-1.659-6.084
                                        2.679-.423 5.022.271
                                        5.314.369a8.468 8.468 0
                                        01-3.655 5.715z" clip-rule="evenodd" />
                    </svg>
                    <span class="sr-only">Dribbbel
                        account</span>
                </a>
            </div>

        </div>
        <div>
            <h2 class="text-sm font-semibold text-gray-900 uppercase dark:text-white">
                Menu
            </h2>
            <div class="h-1 w-10 mb-6 mt-3 bg-gray-300"></div>

            <ul class="mt-3 text-gray-600 dark:text-gray-400">
                <li class="mb-4">
                    <a href="{{url_for('category_page', collectionProduct ='rolex', famillyProduct='watches')}}" class="hover:underline">ROLEX</a>
                </li>
                <li class="mb-4">
                    <a href="{{url_for('category_page', collectionProduct ='audemars-piguet', famillyProduct='watches')}}" class="hover:underline">AUDEMARS PIGUET</a>
                </li>
                <li class="mb-4">
                    <a href="{{url_for('category_page', collectionProduct ='patek-philippe', famillyProduct='watches')}}" class="hover:underline">PATEK PHILIPPE</a>
                </li>
                <li class="mb-4">
                    <a href="{{url_for('category_page', collectionProduct ='richard-mille', famillyProduct='watches')}}" class="hover:underline">RICHARD MILLE</a>
                </li>
            </ul>
        </div>
        <div>
            <h2 class="text-sm font-semibold text-gray-900 uppercase dark:text-white">
                TRUSTED SELLER
            </h2>
            <div class="h-1 w-10 mb-2 mt-3 bg-gray-300"></div>
            <div class="mb-8">
                <div class="text-center">
                    <img src="{{ url_for('static', filename='img/home/google-ar21.svg') }}" alt="">
                </div>
                <div class="text-center">
                    <i class='bx bxs-star text-[25px] text-[#FFD700]'></i>
                    <i class='bx bxs-star text-[25px] text-[#FFD700]'></i>
                    <i class='bx bxs-star text-[25px] text-[#FFD700]'></i>
                    <i class='bx bxs-star text-[25px] text-[#FFD700]'></i>
                    <i class='bx bxs-star text-[25px] text-[#FFD700]'></i>
                </div>
                <div>
                    <p class="text-center font-semibold">EXCELLENT</p>
                    <p class="text-center" >Based on 38 reviews</p>
                </div>
            </div>

            <div class="w-full sm:w-5/6 ">
                <div class="swiper googleSwipper">
                    <div class="swiper-wrapper mb-12">
                        <div class="swiper-slide">
                            <div class="relative shadow-lg  w-full sm:w-5/6  sm:h-[12rem] h-[12rem] ">
                                <div
                                    class="rounded-full h-12 w-12 float-left  bg-[#118ada] flex justify-center items-center m-1">
                                    <h1 class="uppercase text-2xl font-light text-white">B</h1>
                                </div>
                                <div class="float-left ml-3 text-center">
                                    <div>
                                        <p>Benard Le Roux</p>
                                        <p class="text-xs">2023-01-03</p>
                                    </div>
                                </div>

                                <div class="rounded-full h-8 w-8 float-right text-center bg-white m-1">
                                    <img src="{{ url_for('static', filename='img/home/google.svg') }}" alt="">
                                </div>
                                <div class="clear-left">
                                    <div class='ml-2'>
                                        <i class='bx bxs-star text-[20px] text-[#FFD700]'></i>
                                        <i class='bx bxs-star text-[20px] text-[#FFD700]'></i>
                                        <i class='bx bxs-star text-[20px] text-[#FFD700]'></i>
                                        <i class='bx bxs-star text-[20px] text-[#FFD700]'></i>
                                        <i class='bx bxs-star text-[20px] text-[#FFD700]'></i>
                                    </div>
                                    <div>
                                        <p class="px-4 text-sm">
                                            Great customer service and best prices.
                                        </p>
                                    </div>

                                </div>


                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="relative shadow-lg  w-full sm:w-5/6  sm:h-[12rem] h-[12rem] ">
                                <div
                                    class="rounded-full h-12 w-12 float-left  bg-[#118ada] flex justify-center items-center m-1">
                                    <h1 class="uppercase text-2xl font-light text-white">J</h1>
                                </div>
                                <div class="float-left ml-3 text-center">
                                    <div>
                                        <p>Jean Robert</p>
                                        <p class="text-xs">2022-11-03</p>
                                    </div>
                                </div>

                                <div class="rounded-full h-8 w-8 float-right text-center bg-white m-1">
                                    <img src="{{ url_for('static', filename='img/home/google.svg') }}" alt="">
                                </div>
                                <div class="clear-left">
                                    <div>
                                        <i class='bx bxs-star text-[20px] text-[#FFD700]'></i>
                                        <i class='bx bxs-star text-[20px] text-[#FFD700]'></i>
                                        <i class='bx bxs-star text-[20px] text-[#FFD700]'></i>
                                        <i class='bx bxs-star text-[20px] text-[#FFD700]'></i>
                                        <i class='bx bxs-star text-[20px] text-[#FFD700]'></i>
                                    </div>
                                    <div>
                                        <p class="px-4 text-sm">
                                            Worked with Vlad and it was a great experience…Was able to get the exact
                                            watch I wanted very quickly and offered a great price. Highly recommend
                                            working with him!
                                        </p>
                                    </div>

                                </div>


                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="relative shadow-lg  w-full sm:w-5/6  sm:h-[12rem] h-[12rem] ">
                                <div
                                    class="rounded-full h-12 w-12 float-left  bg-[#118ada] flex justify-center items-center m-1">
                                    <h1 class="uppercase text-2xl font-light text-white">C</h1>
                                </div>
                                <div class="float-left ml-3 text-center">
                                    <div>
                                        <p>Collin Njilla</p>
                                        <p class="text-xs">2023-01-09</p>
                                    </div>
                                </div>

                                <div class="rounded-full h-8 w-8 float-right text-center bg-white m-1">
                                    <img src="{{ url_for('static', filename='img/home/google.svg') }}" alt="">
                                </div>
                                <div class="clear-left">
                                    <div>
                                        <i class='bx bxs-star text-[20px] text-[#FFD700]'></i>
                                        <i class='bx bxs-star text-[20px] text-[#FFD700]'></i>
                                        <i class='bx bxs-star text-[20px] text-[#FFD700]'></i>
                                        <i class='bx bxs-star text-[20px] text-[#FFD700]'></i>
                                        <i class='bx bxs-star text-[20px] text-[#FFD700]'></i>
                                    </div>
                                    <div>
                                        <p class="px-4 text-sm">
                                            This is my first time purchasing a luxury watch online and it will not be the last! I intend to make all future purchases through Luxury Watches USA.Thank you Luxury Watches USA I look forward to our next endeavor!                                        </p>
                                    </div>

                                </div>


                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="relative shadow-lg  w-full sm:w-5/6  sm:h-[12rem] h-[12rem] ">
                                <div
                                    class="rounded-full h-12 w-12 float-left  bg-[#118ada] flex justify-center items-center m-1">
                                    <h1 class="uppercase text-2xl font-light text-white">P</h1>
                                </div>
                                <div class="float-left ml-3 text-center">
                                    <div>
                                        <p>James Figliozzi</p>
                                        <p class="text-xs">2023-02-19</p>
                                    </div>
                                </div>

                                <div class="rounded-full h-8 w-8 float-right text-center bg-white m-1">
                                    <img src="{{ url_for('static', filename='img/home/google.svg') }}" alt="">
                                </div>
                                <div class="clear-left">
                                    <div>
                                        <i class='bx bxs-star text-[20px] text-[#FFD700]'></i>
                                        <i class='bx bxs-star text-[20px] text-[#FFD700]'></i>
                                        <i class='bx bxs-star text-[20px] text-[#FFD700]'></i>
                                        <i class='bx bxs-star text-[20px] text-[#FFD700]'></i>
                                        <i class='bx bxs-star text-[20px] text-[#FFD700]'></i>
                                    </div>
                                    <div>
                                        <p class="px-4 text-sm">
                                            Excellent service which I would highly recommend. Super knowledgeable and responsive. Seamless purchase and delivery process. Will definitely buy from you guys again.
                                        </p>
                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination text-[var(--first-color)]"></div>

                </div>

            </div>



        </div>
        <div>
            <h2 class="text-sm font-semibold text-gray-900 uppercase dark:text-white">
                SIGNUP FOR NEWSLETTER
            </h2>
            <div class="h-1 w-10 mb-6 mt-3 bg-gray-300"></div>
            <div>
                <form action="" method="post">
                    <div>
                        <label class="block font-bold mb-2" for="newslettersign">Email address:</label>
                        <input type="search" name="newslettersign" id="" class="w-full border-gray-300" placeholder="Your Email Adress">
                    </div>
                    <div>
                        <button type="submit" class="mt-4" >
                            <span class="py-2.5 bg-black px-4 text-white font-bold">SIGNUP</span>
                        </button>
                    </div>
                </form>
            </div>



        </div>

    </div>
    <hr class="my-4 border-gray-200  dark:border-gray-700 lg:my-8" />
    <div class="sm:flex sm:items-center sm:justify-between pr-20">
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023
            <a href="index.html" class="hover:underline">Swiss Luxury</a>.All Rights Reserved.
        </span>
        <div class="flex mt-4 space-x-6 sm:justify-center sm:mt-0">
            <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                <i class='bx bxl-visa text-[3rem]'></i>
                <span class="sr-only">Visa card</span>
            </a>
            <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                <i class='bx bxl-mastercard text-[3rem]'></i>
                <span class="sr-only">Master card</span>
            </a>
            <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                <i class='bx bxl-paypal text-[3rem]'></i>
                <span class="sr-only">Paypal card</span>
            </a>
            <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                <i class='bx bxl-bitcoin text-[3rem] '></i>
                <span class="sr-only">Bitcoin</span>
            </a>
            <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                <i class='bx bxs-credit-card text-[3rem]'></i>
                <span class="sr-only">Credit card</span>
            </a>
        </div>
    </div>
</footer>
<!-- <div class="fixed left-5 bottom-8 md:bottom-[3.2rem] group z-30">
    <a href="https://wa.me/+237657815959?text=">
        <button type="button" class="flex items-center justify-center text-white bg-green-400 rounded-full w-14 h-14">
            <i class='bx bxl-whatsapp text-[2rem]'></i>
            <span class="sr-only">Open actions menu</span>
        </button>
    </a>
</div> -->
<script src="//code.tidio.co/fqjyrugh7n7v7syfzw12smmxiq0kvike.js" async></script>
