<div class="sm:flex flex-row justify-between text-center	py-4 px-5  bg-orange-300 border-none  text-sm text-white "
    role="alert">
    <div>
        <a href="mailto:njoonougaby45@gmail.com" data-tooltip-target="tooltip-email" data-tooltip-placement="bottom">
            <i class='bx bx-envelope'></i>
            <span>Email-us</span>
        </a>
        <div id="tooltip-email" role="tooltip" class="absolute z-[70] invisible  px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
            swissluxury@gmail.com
            <div class="tooltip-arrow" data-popper-arrow></div>
        </div>
       
        <span> | </span>

        <a href="tel:+237657815959" data-tooltip-target="tooltip-phone" data-tooltip-placement="bottom">
            <i class='bx bx-phone'></i>
            <span>+41 646-979-8028</span>
        </a>
        <div id="tooltip-phone" role="tooltip" class="absolute z-[70] invisible  px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
            +41 646-979-8028
            <div class="tooltip-arrow" data-popper-arrow></div>
        </div>

    </div>


    <div>Chat With Us</div>
    <div class="hidden sm:block">
        <a href="" data-tooltip-target="tooltip-newsletter" data-tooltip-placement="bottom">
            <i class='bx bx-envelope'></i>
            <span class="-mt-1">Newsletter</span>
        </a>
        <div id="tooltip-newsletter" role="tooltip" class="absolute z-[70] invisible  px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
           Sign up for newsletter
            <div class="tooltip-arrow" data-popper-arrow></div>
        </div>


        <span> | </span>
        <span>
            <span class="mx-1" id="priceAllProduct"></span>
            <a href="{{url_for('shop_cart')}}"
                class="relative inline-flex items-center px-1 py-1 text-sm font-medium text-center text-gray-400 rounded-lg   focus:outline-none focus:ring-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                <i class='bx bx-shopping-bag text-white' style="font-size: 25px;margin-top: -8px; margin-left: -8;"></i>
                <div
                    class="absolute inline-flex items-center justify-center w-5 h-5 text-xs font-bold text-white bg-red-500 border-2 border-white rounded-full -top-2 -right-2 dark:border-gray-900">
                    <span class="length_prod_chechout"></span>
                </div>
            </a>
        </span>
    </div>
</div>
<header class="sticky top-0 z-50 " id="myheader">
    <nav class="bg-body border-gray-200  dark:bg-gray-900 shadow">
        <div class="px-4 md:px-16 flex flex-wrap items-center justify-between mx-auto">
            <button data-collapse-toggle="navbar-search" type="button"
                class="inline-flex items-center p-2 text-sm mr-6 sm:mr-0 text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                aria-controls="navbar-search" aria-expanded="false">
                <span class="sr-only">Open menu</span>
                <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                        clip-rule="evenodd"></path>
                </svg>
            </button>

            <a href="/" class="">
                <img src="{{ url_for('static', filename='img/logo.png') }}" class="h-20 md:ml-[1rem]" alt="Logo" />
            </a>
            <div class="flex md:order-2" x-data="{ open: false }">
                <button type="button" x-on:click="open = !open" aria-expanded="false"
                    class="md:hidden text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 mr-1">
                    <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                            clip-rule="evenodd"></path>
                    </svg>
                    <span class="sr-only">Search</span>
                </button>
                <div x-show="open" x-on:click.outside="open = false" x-cloak
                    class="absolute right-0 mt-12 mr-2 border border-gray-200 z-50 p-6 w-auto h-auto bg-[var(--body-color)]">
                    <form class="flex items-center">
                        <label for="simple-search" class="sr-only">Search</label>
                        <div class="relative w-full">
                            <button type="submit"
                                class="absolute z-50 bg-black inset-y-0 right-0 flex items-center pr-3 ">
                                <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400"
                                    fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                        clip-rule="evenodd"></path>
                                </svg>
                            </button>
                            <input type="text" id="simple-search"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-orange-400 focus:border-orange-400 block w-full pl-2 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="Search" required>
                        </div>
                    </form>
                </div>

                <div class="relative hidden md:block">
                    <form action="{{url_for('searchRoute')}}" method="GET">
                        <button class="absolute inset-y-0 right-0 flex items-center pr-3 ">
                            <svg class="w-5 h-5 text-gray-500" aria-hidden="true" fill="currentColor"
                                viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                    clip-rule="evenodd"></path>
                            </svg>
                            <span class="sr-only">Search icon</span>
                        </button>

                        <input type="text" id="search-navbar" required name="s"
                            class="block w-full p-2 pl-4 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="Search...">
                    </form>

                </div>

                <div class="sm:hidden">
                    <span>
                        <a href="{{url_for('shop_cart')}}"
                            class="relative inline-flex items-center px-1 py-1 text-sm font-medium text-center text-gray-400 rounded-lg   focus:outline-none focus:ring-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            <i class='bx bx-shopping-bag text-2xl text-gray-400'></i>
                            <div class="absolute inline-flex items-center justify-center w-5 h-5 mt-3 mr-1  text-white border-2 border-white bg-red-500 font-black rounded-full -top-2 -right-2 text-sm dark:border-gray-900"">
                                  <span class=" length_prod_chechout"></span>
                </div>
                </a>
                </span>
            </div>


        </div>
        <div class=" items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-search">
            <div class="relative mt-3 md:hidden">
                <form action="{{url_for('searchRoute')}}" method="GET">
                    <button class="absolute inset-y-0 right-0 flex items-center pr-3 ">
                        <svg class="w-5 h-5 text-gray-500" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span class="sr-only">Search icon</span>
                    </button>

                    <input type="text" id="search-navbar" required name="s"
                        class="block w-full p-2 pl-4 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Search...">
                </form>
            </div>
            <ul
                class="flex flex-col p-4 mt-4 border border-gray-100 rounded-lg bg-body md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-body dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">

                <li>
                    <button id="_watches" data-dropdown-trigger="hover" data-dropdown-toggle="watch_menu"
                        class="flex items-center justify-between w-full py-2 pl-3 pr-4 font-medium text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-orange-300 md:p-0 md:w-auto dark:text-gray-400 dark:hover:text-white dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent">
                        WATCHES
                        <svg class="w-5 h-5 ml-1" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <script>
                            document.getElementById("_watches").addEventListener('click', function (e) {
                                document.getElementById("tester").click()
                            })
                        </script>
                    </button>
                    <div id="watch_menu"
                        class="md:w-48 hidden z-50 font-normal bg-body divide-y divide-gray-100 shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                        <ul class="py-2 text-sm text-gray-700 dark:text-gray-400" aria-labelledby="dropdownLargeButton">
                            <li class="md:hover:text-orange-300" id="menu-item-2877"
                                class="current-menu-item menu-item-2877 active">
                                <a class="block px-4 py-2  dark:hover:bg-gray-600 dark:hover:text-white"
                                    href=" {{url_for('category_page', collectionProduct ='rolex', famillyProduct='watches')}}">Rolex</a>
                            </li>
                            <li class="md:hover:text-orange-300" id="menu-item-2878">
                                <a class="block px-4 py-2  dark:hover:bg-gray-600 dark:hover:text-white"
                                    href="{{url_for('category_page', collectionProduct ='audemars-piguet', famillyProduct='watches')}}">
                                    Audemars
                                    Piguet</a>
                            </li>
                            <li class="md:hover:text-orange-300" id="menu-item-9847">
                                <a class="block px-4 py-2  dark:hover:bg-gray-600 dark:hover:text-white"
                                    href="{{url_for('category_page', collectionProduct ='richard-mille', famillyProduct = 'watches')}}">
                                    Richard
                                    Mille</a>
                            </li>
                            <li class="md:hover:text-orange-300" id="menu-item-2879">
                                <a class="block px-4 py-2  dark:hover:bg-gray-600 dark:hover:text-white"
                                    href="{{url_for('category_page', collectionProduct ='patek-philippe', famillyProduct = 'watches')}}">
                                    Patek
                                    Philippe</a>
                            </li>
                            <li class="md:hover:text-orange-300" id="menu-item-5119">
                                <a class="block px-4 py-2  dark:hover:bg-gray-600 dark:hover:text-white"
                                    href="{{url_for('category_page', collectionProduct ='cartier', famillyProduct = 'watches')}}">
                                    Cartier</a>
                            </li>
                            <li class="md:hover:text-orange-300" id="menu-item-2880">
                                <a class="block px-4 py-2  dark:hover:bg-gray-600 dark:hover:text-white"
                                    href="{{url_for('category_page', collectionProduct ='hublot', famillyProduct = 'watches')}}">
                                    Hublot</a>
                            </li>
                            <li class="md:hover:text-orange-300" id="menu-item-57871">
                                <a class="block px-4 py-2  dark:hover:bg-gray-600 dark:hover:text-white"
                                    href="{{url_for('category_page', collectionProduct ='breitling', famillyProduct = 'watches')}}">
                                    Breitling</a>
                            </li>
                            <li class="md:hover:text-orange-300" id="menu-item-2876">
                                <a class="block px-4 py-2  dark:hover:bg-gray-600 dark:hover:text-white"
                                    href="{{url_for('category_page', collectionProduct ='panerai', famillyProduct = 'watches')}}">
                                    Panerai</a>
                            </li>
                            <li class="md:hover:text-orange-300" id="menu-item-9846">
                                <a class="block px-4 py-2  dark:hover:bg-gray-600 dark:hover:text-white"
                                    href="{{url_for('category_page', collectionProduct ='omega', famillyProduct = 'watches')}}">
                                    Omega</a>
                            </li>
                            <li class="md:hover:text-orange-300" id="menu-item-9848">
                                <a class="block px-4 py-2  dark:hover:bg-gray-600 dark:hover:text-white"
                                    href="{{url_for('category_page', collectionProduct ='vacheron-constantin', famillyProduct = 'watches')}}">
                                    Vacheron
                                    Constantin</a>
                            </li>
                            <li class="md:hover:text-orange-300" id="menu-item-4672">
                                <a class="block px-4 py-2  dark:hover:bg-gray-600 dark:hover:text-white"
                                    href="{{url_for('category_page', collectionProduct ='zenit' , famillyProduct = 'watches')}}">
                                    Zenith</a>
                            </li>
                            <li class="md:hover:text-orange-300" id="menu-item-9845">
                                <a class="block px-4 py-2  dark:hover:bg-gray-600 dark:hover:text-white"
                                    href="{{url_for('category_page', collectionProduct ='iwc' , famillyProduct = 'watches')}}">
                                    IWC</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a data-dropdown-trigger="hover" data-dropdown-toggle="jewelry_menu"
                        class="flex items-center justify-between w-full py-2 pl-3 pr-4 font-medium text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-orange-300 md:p-0 md:w-auto dark:text-gray-400 dark:hover:text-white dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent">JEWELRY
                        <svg class="w-5 h-5 ml-1" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                clip-rule="evenodd"></path>
                        </svg></a>
                    <div id="jewelry_menu"
                        class="md:w-48 z-10 hidden font-normal bg-body divide-y divide-gray-100  shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                        <ul class="py-2 text-sm text-gray-700 dark:text-gray-400" aria-labelledby="dropdownLargeButton">
                            <li id="menu-item-60247" class="md:hover:text-orange-300 menu-item-60247">
                                <a href="{{url_for('category_page', collectionProduct ='necklaces' , famillyProduct = 'jewelry')}}"
                                    class="block px-4 py-2  dark:hover:bg-gray-600 dark:hover:text-white">Necklaces</a>
                            </li>
                            <li id="menu-item-58603" class="md:hover:text-orange-300 menu-item-58603">
                                <a href="{{url_for('category_page', collectionProduct ='pendants' , famillyProduct = 'jewelry')}}"
                                    class="block px-4 py-2  dark:hover:bg-gray-600 dark:hover:text-white">Pendants</a>
                            </li>
                            <li id="menu-item-58910" class="md:hover:text-orange-300 menu-item-58910">
                                <a href="{{url_for('category_page', collectionProduct ='rings' , famillyProduct = 'jewelry')}}"
                                    class="block px-4 py-2  dark:hover:bg-gray-600 dark:hover:text-white">Rings</a>
                            </li>
                            <li id="menu-item-3078" class="md:hover:text-orange-300 menu-item-3078">
                                <a href="{{url_for('category_page', collectionProduct ='bracelets' , famillyProduct = 'jewelry')}}"
                                    class="block px-4 py-2  dark:hover:bg-gray-600 dark:hover:text-white">Bracelets</a>
                            </li>

                        </ul>
                    </div>
                </li>
                <li>
                    <button data-dropdown-trigger="hover" data-dropdown-toggle="accesories_menu"
                        class="flex items-center justify-between w-full py-2 pl-3 pr-4 font-medium text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-orange-300 md:p-0 md:w-auto dark:text-gray-400 dark:hover:text-white dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent">ACCESORIES
                        <svg class="w-5 h-5 ml-1" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                clip-rule="evenodd"></path>
                        </svg></button>
                    <div id="accesories_menu"
                        class="md:w-48 z-10 hidden font-normal bg-body divide-y divide-gray-100 shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                        <ul class="py-2 text-sm text-gray-700 dark:text-gray-400" aria-labelledby="dropdownLargeButton">
                            <li class="md:hover:text-orange-300">
                                <a href="{{url_for('category_page', collectionProduct ='briefcases', famillyProduct='accesories')}}"
                                    class="block px-4 py-2  dark:hover:bg-gray-600 dark:hover:text-white">Briefcases</a>
                            </li>
                            <li class="md:hover:text-orange-300">
                                <a href="#"
                                    class="block px-4 py-2  dark:hover:bg-gray-600 dark:hover:text-white pointer-events-none">Hats</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#"
                        class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-300 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">SELL
                        OR TRADE
                    </a>
                </li>
                <li>
                    <button data-dropdown-trigger="hover" data-dropdown-toggle="about_menu"
                        class="flex items-center justify-between w-full py-2 pl-3 pr-4 font-medium text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-orange-300 md:p-0 md:w-auto dark:text-gray-400 dark:hover:text-white dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent">ABOUT
                        <svg class="w-5 h-5 ml-1" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                clip-rule="evenodd"></path>
                        </svg></button>
                    <div id="about_menu"
                        class="md:w-48 z-10 hidden font-normal bg-body divide-y divide-gray-100  shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                        <ul class="py-2 text-sm text-gray-700 dark:text-gray-400" aria-labelledby="dropdownLargeButton">
                            <li class="md:hover:text-orange-300">
                                <a href="#" class="block px-4 py-2  dark:hover:bg-gray-600 dark:hover:text-white">WHY
                                    US</a>
                            </li>
                            <li class="md:hover:text-orange-300">
                                <a href="#" class="block px-4 py-2  dark:hover:bg-gray-600 dark:hover:text-white">Terms
                                    & Conditions</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="{{ url_for('contact') }}"
                        class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-300 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">CONTACT
                        US
                    </a>
                </li>
            </ul>
        </div>
        </div>
    </nav>
    <div class="text-center	 bg-zinc-200 border-none   text-black " role="alert">
        <p class="font-bold">FREE SHIPPING FOR ALL ORDERS</p>
    </div>
</header>

<script>
    // document.getElementsByClassName('length_prod_chechout')[0].innerHTML = 1
    // document.getElementsByClassName('length_prod_chechout')[1].innerHTML = 2
    //window.localStorage.setItem('productListToCheckOut', JSON.stringify([]));
    //Récupération des pièces eventuellement stockées dans le localStorage
    let checkProductNavigator = window.localStorage.getItem('productListToCheckOut');
    if (checkProductNavigator === null) {
        window.localStorage.setItem('productListToCheckOut', JSON.stringify([]));
    }
    checkProductNavigator = window.localStorage.getItem('productListToCheckOut')
    total = 0
    for (var i = 0; i < JSON.parse(checkProductNavigator).length; i++) {
        total += Number(JSON.parse(checkProductNavigator)[i].price);
    }
    dollar_format = new Intl.NumberFormat('en-US', {
        style: 'currency',
        currency: 'USD',
    });
    console.log(total)

    document.getElementById('priceAllProduct').innerHTML = dollar_format.format(total)

    document.getElementsByClassName('length_prod_chechout')[0].innerHTML = JSON.parse(window.localStorage.getItem('productListToCheckOut')).length
    document.getElementsByClassName('length_prod_chechout')[1].innerHTML = JSON.parse(window.localStorage.getItem('productListToCheckOut')).length
</script>