
<div x-data="{ position : 'bottom-right' }" class=" z-[60] fixed w-auto max-w-sm bottom-0 left-0 px-2 mt-3 overflow-x-hidden ":class="{
    'top-0 right-0': position =='top-right',
    'top-0 left-0': position == 'top-left',
    'bottom-0 left-0': position =='bottom-left',
    'bottom-0 right-0': position =='bottom-right',
    'top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2': position == 'center',
    'top-0 left-1/2 transform -translate-x-1/2 -translate-y-0': position == 'top-center',
    'bottom-0 left-1/2 transform -translate-x-1/2 -translate-y-0': position == 'bottom-center',
    'top-1/2 left-0 transform -translate-x-0 -translate-y-1/2': position == 'left-center',
    'top-1/2 right-0 transform -translate-x-0 -translate-y-1/2': position == 'right-center',
    }">
<template x-for="(toast, index) in $store.toasts.list" :key="toast.id">
<div x-show="toast.visible" x-transition:enter="transition ease-in duration-200"
    x-transition:enter-start="transform opacity-0 translate-y-2"
    x-transition:enter-end="transform opacity-100" x-transition:leave="transition ease-out duration-500"
    x-transition:leave-start="transform translate-x-0 opacity-100"
    x-transition:leave-end="transform -translate-y-2 opacity-0"
    class="bg-gray-900 bg-gradient-to-r text-white rounded-t mb-3 shadow-lg flex items-center" :class="{
        'from-blue-500 to-blue-600': toast.type === 'info',
        'from-green-500 to-green-600': toast.type === 'success',
        'from-yellow-400 to-yellow-500': toast.type === 'warning',
        'from-red-500 to-pink-500': toast.type === 'error',
        }">

    <div class="flex flex-col w-full">
        <div class="flex items-center w-full px-1 my-2">
            <div class="self-start px-1">
                <svg x-show="toast.type == 'info'" class="w-6 h-6 mr-2" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd"
                        d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
                        clip-rule="evenodd" />
                </svg>
                <svg x-show="toast.type == 'success'" class="w-6 h-6 mr-2"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                        clip-rule="evenodd" />
                </svg>
                <svg x-show="toast.type == 'warning'" class="w-6 h-6 mr-2"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd"
                        d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z"
                        clip-rule="evenodd" />
                </svg>
                <svg x-show="toast.type == 'error'" class="w-6 h-6 mr-2" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z"
                        clip-rule="evenodd" />
                </svg>
            </div>

            <div x-text="toast.message"></div>

            <div class="self-start px-1">
                <button type="button" class="pt-0 px-1" @click="$store.toasts.destroyToast(index)">
                    <svg class="w-4 h-4 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M6 18L18 6M6 6l12 12"></path>
                    </svg>
                </button>
            </div>
        </div>
        <progress x-data="{ value : 0 }" x-init="
                    setInterval(()=> {
                    if(value == 100){
                        clearInterval();
                    }else{
                        value+=1
                    }},toast.timeOut / 100)" max="100" :value="value" class="w-full h-1 p-0"></progress>
    </div>
</div>
</template>
</div>
<script>
document.addEventListener('alpine:init', () => {
Alpine.store('toasts', {
    counter: 0,
    list: [],
    createToast(message, type = 'info', timer = 2000) {
        const index = this.list.length
        let totalVisible =
            this.list.filter((toast) => {
                return toast.visible
            }).length + 1
        this.list.push({
            id: this.counter++,
            message,
            type,
            timeOut: timer * totalVisible,
            visible: true,
        })
        setTimeout(() => {
            this.destroyToast(index)
        }, timer * totalVisible)
    },
    destroyToast(index) {
        this.list[index].visible = false
    },
})
})
</script>

<div class="hidden">
    <button x-data @click="$store.toasts.createToast('{% block modalName %}{% endblock %} has been added.', 'success')" id="successToat"
        class="bg-gray-700 border-t-4 border-green-600 text-white p-3">
        Create Success Test Toast
    </button>

    <button x-data @click="$store.toasts.createToast('{% block modalNameError %}{% endblock %} has not been added.', 'error')" id="ErrorToat"
        class="bg-gray-700 border-t-4 border-red-600 text-white p-3">
        Create Error Test Toast
    </button>
</div>

<div id="popup-modal" tabindex="-1"
    class="fixed top-0 left-0 right-0 z-50 hidden p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-modal md:h-full">
    <div class="relative w-full h-full max-w-[55rem] md:h-auto">
        <div class="relative bg-white shadow dark:bg-gray-700">
            <button type="button"
                class="absolute top-2 right-2 text-gray-400 bg-transparent hover:text-orange-300 text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white"
                data-modal-hide="popup-modal">
                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                        clip-rule="evenodd"></path>
                </svg>
                <span class="sr-only">Close modal</span>
            </button>
            <div class="p-6 text-center">
                <div class="grid grid-cols-2">
                    <div class="h-[26rem]">
                        <img src="" alt="" class="w-full h-full" id="modal_image" />
                    </div>
                    <div class="h-[26rem] p-4">
                        <h3 class="text-xl text-left text-gray-500" id="modal_name">

                        </h3>
                        <div class="py-[2px] w-8 bg-gray-300 my-2"></div>
                        <div class="text-left my-4 font-bold" id="modal_price">
                        </div>
                        <div class="text-left flex mb-2">
                            <span
                                class="input-number-decrement border border-gray-200 h-[34px] select-none flex justify-center items-center w-6 leading-10 text-gray-500 text-center font-bold cursor-pointer border-right-none active:bg-slate-400">–</span>
                            <input id="numberOfProducts"
                                class="input-number w-[70px] py-4 align-top text-center outline-none border-none border-green-400 h-4 select-none"
                                type="text" value="1" min="0" max="10000"
                                style="border-top: 1px solid rgb(233, 233, 233);border-bottom: 1px solid rgb(233, 233, 233);" " />
                            <span
                                class=" input-number-increment border border-gray-200 h-[34px] select-none flex
                                justify-center items-center w-6 leading-10 text-gray-500 text-center font-bold
                                cursor-pointer border-left-none active:bg-slate-400">+</span>
                            <button type="button" onclick="add_to_productList(this)"
                                class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium text-sm px-5 py-2 text-center ml-8 mr-2 mb-2">
                                ADD TO CART
                            </button>
                            
                        </div>
                        <div class="text-left -ml-8 mb-6">
                            <a id="whatsapp_discus" href="javascript:void(0)"
                                class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium text-sm px-5 py-2.5 text-center ml-8 mr-2 mb-2">
                                <i class="bx bxl-whatsapp"></i> CHAT WITH AN EXPERT
                            </a>
                        </div>
                        <div>
                            <div class="border-t border-dashed py-2 text-xs text-left">
                                <span class="font-medium">SKU:</span><span id="modal_sku"></span>
                            </div>
                            <div class="border-t border-dashed py-2 text-xs text-left">
                                <span class="font-medium">Categories:</span>
                                <span id="modal_categorie"></span>
                            </div>
                            <div class="border-t border-dashed py-2 text-xs text-left">
                                <span class="font-medium">Tags:</span>
                                <span id="modal_tags">

                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    add_to_productList = function (elmt) {
        $('#successToat').click()
        productListToCheckOut = JSON.parse(window.localStorage.getItem('productListToCheckOut'))
        product = {
            name: document.getElementById('modal_name').innerText,
            price: Number(document.getElementById('modal_price').innerText.replace(/[^0-9\.]+/g,"")) ,
            image: document.getElementById('modal_image').src,
            quantity: Number(document.getElementById('numberOfProducts').value)
        }
        test = verificationProductInList(product, productListToCheckOut)
        if (test == -1) {
            productListToCheckOut.push(product)
            window.localStorage.setItem('productListToCheckOut', JSON.stringify(productListToCheckOut));
        }
        else {
            productListToCheckOut[test].quantity += Number(product.quantity)
        }
        document.getElementsByClassName('length_prod_chechout')[0].innerHTML = JSON.parse(window.localStorage.getItem('productListToCheckOut')).length
        document.getElementsByClassName('length_prod_chechout')[1].innerHTML = JSON.parse(window.localStorage.getItem('productListToCheckOut')).length
        console.log(productListToCheckOut)
        t = JSON.parse(window.localStorage.getItem('productListToCheckOut'))
        total = t.reduce(function (somme, item) {
            return somme + item.price;
        }, 0);
        dollar_format = new Intl.NumberFormat('en-US', {
            style: 'currency',
            currency: 'USD',
        });

        document.getElementById('priceAllProduct').innerHTML = dollar_format.format(total)
    }

    verificationProductInList = function (x, y) {
        for (var i = 0; i < y.length; i++) {
            if (x.name == y[i].name)
                return i;
        }
        return -1
    }

</script>